<a class="go-back-link" routerLink="/user/profile/my-spaces/space/{{ userBooking.space?.id }}/bookings" [queryParams]="{time: time}"><i class="fa fa-chevron-left"></i> Back to my bookings</a>

<section class="bookings-single-view-space-wrapper" *ngIf="userBooking">
    <form #f="ngForm" (ngSubmit)="saveBookingInfo(f)">
        <div class="bookings-single-view-space-wrapper-inner">
        <header>
            <div class="titles-wrapper">
                <h1><a (click)="showSpace(userBooking.space)">{{ userBooking.space.name }}</a></h1>
                <p>{{ userBooking.space.addressLine2 ? userBooking.space.addressLine2 + ',' : '' }} {{ userBooking.space.addressLine1 | summary : 70 }}</p>
            </div>
        </header>
        <div class="content-container">
            <div class="content-table">
                <div class="content-table-status">
                    <div>
                        <p>Status</p>
                    </div>
                    <div>
                        <span *ngIf="userBooking.reservationStatus" class="status-label">{{ userBooking.reservationStatus.label }}</span>
                        <span *ngIf="!userBooking.reservationStatus" class="status-label">Not Available</span>
                    </div>
                </div>
                <div class="content-table-guest-details">
                    <div>
                        <p>Guest details</p>
                    </div>
                    <div>
                        <ul class="guest-details-list">
                            <li>
                                <i class="fa fa-user"></i>
                                <p>{{ userBooking.user.name || 'N/A' }}</p>
                            </li>
                            <li>
                                <i class="fa fa-mobile-phone"></i>
                                <p>{{ userBooking.user.mobile || 'N/A' }}</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p>{{ userBooking.user.email || 'N/A' }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="content-table-date" *ngIf="!userBooking.isBlock">
                    <div>
                        <p>Date</p>
                    </div>
                    <div>
                        <p>{{ getEventDay(userBooking) }}</p>
                    </div>
                </div>-->
                <div class="content-table-time">
                    <div>
                        <p>Reservation time</p>
                    </div>
                    <!--<div *ngIf="!userBooking.isBlock">
                        <p>{{ getFromTime(userBooking) +' - '+ getEndTime(userBooking)}}</p>
                    </div>-->
                    <div>
                        <p>{{ getBlockDate(userBooking.dates[0]) }}</p>
                        <p *ngFor="let timeBlock of userBooking.dates | sort: 'fromDate' ">{{ getBlockStartTime(timeBlock) +' - '+ getBlockEndTime(timeBlock)}}</p>
                    </div>
                </div>
                <div class="content-table-booking-made">
                    <div>
                        <p>Date booking was made</p>
                    </div>
                    <div>
                        <p> {{ getBookedDate(userBooking) }}</p>
                    </div>
                </div>
                <div class="content-table-event-type" *ngIf="userBooking.eventTypedetail">
                    <div>
                        <p>Event type</p>
                    </div>
                    <div>
                        <p>{{ userBooking.eventTypedetail.name }}</p>
                    </div>
                </div>
                <div class="content-table-seating" *ngIf="userBooking.seatingArrangement">
                    <div>
                        <p>Seating arrangement</p>
                    </div>
                    <div class="seating-content">
                        <img [src]="userBooking.seatingArrangement.mobileIcon" alt=""> <p>{{ userBooking.seatingArrangement.name }}</p>
                    </div>
                </div>
                <div class="content-table-guest-count">
                    <div>
                        <p>Expected guest count</p>
                    </div>
                    <div>
                        <p>{{ userBooking.guestCount || 'N/A' }}</p>
                    </div>
                </div>
                <div class="content-table-menus" *ngIf="userBooking.isBlock && userBooking.menu && userBooking.menu.length > 0">
                    <div>
                        <p>Menu</p>
                    </div>
                    <div>
                        <button *ngFor="let menu of userBooking.menu; let idx = index;" (click)="showMenu(menu.url)">Menu {{idx + 1}}</button>
                    </div>
                </div>
                <div class="content-table-menus">
                    <div>
                        <p>Amenities</p>
                    </div>
                    <div *ngIf="!userBooking.isManual">
                        <div class="extras-type extras-type-comp" *ngIf="userBooking.space.amenities?.length > 0">
                            <p>Complimentary</p>
                            <ul>
                                <li *ngFor="let amenity of userBooking.space.amenities | sort : 'id'"><i class="flaticon flaticon-{{amenity.icon}}"></i><p>{{ amenity.name }}</p></li>
                            </ul>
                        </div>
                        <div class="extras-type extras-type-chargeable" *ngIf="userBooking.extraAmenityList?.length > 0">
                            <p>Chargeable</p>
                            <ul>
                                <li *ngFor="let amenity of userBooking.extraAmenityList | sort : 'id'"><i></i>
                                    <p><i class="flaticon flaticon-{{amenity.icon}}"></i>{{amenity.name}}</p>
                                    <p *ngIf="amenity.amenityUnit === 1">- LKR {{amenity.rate}} x {{amenity.count}} hour(s)</p>
                                    <p *ngIf="amenity.amenityUnit === 2"> - LKR {{amenity.rate}} x {{amenity.count}} person(s)</p>
                                    <p *ngIf="amenity.amenityUnit === 3"> - LKR {{amenity.rate}} x {{amenity.count}} unit(s)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="userBooking.isManual">
                        <div>
                            <p>{{userBooking.space.extrasRequested || 'N/A'}}</p>
                        </div>
                    </div>
                </div>
                <div class="content-table-cancellation-policy" *ngIf="!userBooking.isManual">
                    <div><p>Cancellation policy</p></div>
                    <div class="cancellation-policy-content">
                        <p>{{ userBooking.space.cancellationPolicy.name }}</p> <p>{{ userBooking.space.cancellationPolicy.description }}</p>
                    </div>
                </div>
                <div class="content-table-cancellation-policy">
                    <div>
                        <p>Reservation Fee</p>
                    </div>
                    <div>
                        <p>{{ (userBooking.bookingCharge) ? (userBooking.bookingCharge | currency : 'LKR' : false:'.0-0') : 'N/A' }}</p>
                    </div>
                </div>
                <div class="content-table-cancellation-policy" *ngIf="userBooking.isManual">
                    <div>
                        <p>Remarks</p>
                    </div>
                    <div>
                        <textarea name="remarks" cols="30" rows="10" #remarks="ngModel" [(ngModel)]="userBooking.remarks"></textarea>
                    </div>
                </div>
                <div class="content-table-cancellation-policy" *ngIf="userBooking.isReviewed">
                    <div>
                        <p>Review</p>
                    </div>
                    <div>
                        <span><b>{{userBooking.review.title}}</b></span><br/>
                        <span>{{userBooking.review.description}}</span><br/><br/>
                        <span>Services - {{userBooking.review.rate.split("|")[1]}}, Cleanliness - {{userBooking.review.rate.split("|")[2]}}, Value for money - {{userBooking.review.rate.split("|")[3]}} </span><br/>
                    </div>
                </div>
            </div>
            <div class="save-button-wrapper" *ngIf="userBooking.isManual">
                <button class="save-btn">Save</button>
            </div>
        </div>
    </div>
    </form>
</section>

<div class="my-space-booking-modal" [class.my-space-booking-modal-active]="menuImage">
    <span class="close-my-space-booking-modal" (click)="closeMenuModal()"><i class="fa fa-times"></i></span>
    <div class="my-space-booking-modal-inner">
        <img src="{{bucket}}/{{menuImage}}" >
    </div>
</div>
<div class="my-space-booking-modal-layover" [class.my-space-booking-modal-layover-active]="menuImage"></div>

