<div class="manage-booking-top-bar-bookings">
    <div class="manage-booking-topbar-bookings-title"><h1></h1></div
    ><div class="manage-booking-topbar-bookings-upcoming" routerLinkActive="active-topbar-bookings-button" [routerLink]="['/user/profile/my-spaces/space/', spaceId, 'bookings']" [queryParams]="{ time: 'upcoming' }"><i class="fa fa-calendar"></i> Upcoming</div
><div class="manage-booking-topbar-bookings-past" routerLinkActive="active-topbar-bookings-button" [routerLink]="['/user/profile/my-spaces/space/', spaceId, 'bookings']" [queryParams]="{ time: 'past' }"><i class="fa fa-clock-o" aria-hidden="true"></i> Past</div>
</div><!-- /.manage-booking-top-bar -->

<div class="my-space-title-wrapper-bookings">
    <div class="back-to-space">
        <a routerLink="/user/profile/my-spaces" ><i class="fa fa-chevron-left"></i> Back to my spaces</a>
    </div><div>
        <h1><a (click)="showSpace(spaceId, spaceName)">{{ spaceName }}</a></h1>
        <span>{{spaceAddress}}</span>
    </div>
</div>
<div style="background: #ffffff">
    <div class="table-responsive">
        <table class="table table-striped table-hover" width="100%">
            <thead>
            <tr>
                <th>#Ref.  <a (click)="sortByRef()"><i class="fa fa-sort"></i></a></th>
                <th>Guest Name  <a (click)="sortByGuestName()"><i class="fa fa-sort"></i></a></th>
                <!--<th>Start Date</th>-->
                <th>Reservation time  <a (click)="sortByReservationTime()"><i class="fa fa-sort"></i></a></th>
                <th>Price <a (click)="sortByBookingCharge()"><i class="fa fa-sort"></i></a></th>
                <th>
                    Status
                    <select [(ngModel)]="selectedStatus" (change)="changeStatus()">
                        <option value="0">All</option>
                        <option value="4">Cancelled</option>
                        <option value="3,5">Confirmed</option>
                        <option value="6">Expired</option>
                        <option value="2">Pending Payment</option>
                    </select>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of spaceBookings | sortBookings : sortBy">
                    <td width="10%">{{ booking.orderId }}</td>
                    <td width="25%">{{ (booking.user.name) ? booking.user.name : 'HOST' }}</td>
                    <!--<td>{{ getEventDay(booking) }}</td>-->
                    <td width="30%" *ngIf="!booking.isBlock">
                        <span class="table-bold-text">From</span> {{ getFromTime(booking, 0) }}
                        <br/>
                        <span class="table-bold-text">To</span> {{ getEndTime(booking, 0) }}
                    </td>
                    <td *ngIf="booking.isBlock && !booking.isManual">
                        <span *ngFor="let timeBlock of booking.dates; let idx = index;" class="block-time-block">
                            <p><span class="table-bold-text">From</span> {{ getBlockStartTime(timeBlock) }}</p>
                            <p><span class="table-bold-text">To</span> {{  getBlockEndTime(timeBlock) }}</p>
                        </span>
                    </td>
                    <td *ngIf="booking.isBlock && booking.isManual">
                        <span class="table-bold-text">From</span> {{ getFromTime(booking, 0) }}
                        <br/>
                        <span class="table-bold-text">To</span> {{ getEndTime(booking, 0) }}
                    </td>
                    <td width="15%">{{ (booking.bookingCharge) ? (booking.bookingCharge | currency: 'LKR' : false:'.0-0') : 'N/A' }}</td>
                    <td width="15%"><span
                            class="status-label"
                            [ngClass]="{
                            'status-label-confirmed' : (booking.reservationStatus?.id === 3 || booking.reservationStatus?.id === 5),
                            'status-label-expired' : booking.reservationStatus?.id === 6,
                            'status-label-cancelled' : booking.reservationStatus?.id === 4,
                            'status-label-pending' : booking.reservationStatus?.id === 2
                            }">
                        {{ booking.reservationStatus?.label ? booking.reservationStatus?.label : 'N/A' }}
                        </span>
                    </td>
                    <td><button class="view-space-booking-btn" (click)="showBooking(booking.space.id, booking.id, booking.isManual, time)">View</button></td>
                    <td><span *ngIf="booking.isReviewed"><i class="fa fa-comment-o"></i></span></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="(spaceBookings | sortBookings : sortBy).length === 0" class="no-bookings">
            <span>No bookings found</span>
        </div>
    </div>
</div>

<!--3 payment done/ 5 -confirmed-->