<div class="my-space-title-wrapper">
    <div class="back-to-space">
        <a routerLink="/user/profile/my-spaces" ><i class="fa fa-chevron-left"></i> Back to my spaces</a>
    </div>
</div>
<div class="contact-details-wrapper">
    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> <i class="fa fa-user-o" aria-hidden="true"></i>
    <h1>Contact us on the MillionSpaces hotline 0117 811 811 to make your changes.</h1>
</div>
