<div class="my-spaces-wrapper" *ngFor="let rowSpaces of chunkSpaces">
    <div class="row">
        <div *ngFor="let space of rowSpaces" class="col-md-4">
            <div class="my-space-block">
                <div class="my-space-block-inner">
                    <div class="linked-space-indi" style="display: block;">
                        <!--<div class="link-space-btn">Link Space</div>-->
                        <div *ngIf="!space.parent" class="promote-as-parent" (click)="showModalWindow(space)">Promote as parent</div>
                    </div>
                    <div class="my-space-block-img-wrapper">
                        <img src="{{bucket}}/{{space.images[0]}}" alt="">
                        <p *ngIf="space.childSpaces.length > 0" class="linked-space-level-indi linked-space-level-indi-parent">Parent</p>
                        <p *ngIf="space.parent" class="linked-space-level-indi linked-space-level-indi-child">Child</p>
                    </div>
                    <div class="my-space-block-info">
                        <h1>{{ (space.name.length > 22)? (space.name | slice:0:22)+'...':(space.name) }}</h1>
                        <p *ngIf="space.addressLine2">{{ (space.addressLine2.length > 28)? (space.addressLine2 | slice:0:28)+'...':(space.addressLine2) }}</p> <!-- organization date -->
                    </div>
                    <div class="my-space-buttons-wrapper">
                        <button class="btn-my-space btn-my-space-availability" (click)="goToScheduler(space.id)">
                            <i class="fa fa-calendar"></i>
                            <p>Availability</p>
                        </button>
                        <button class="btn-my-space btn-my-space-Bookings" (click)="goToBookings(space.id)">
                            <i class="fa fa-clock-o"></i>
                            <p>Bookings</p>
                        </button>
                        <button class="btn-my-space btn-my-space-edit" (click)="goToEditSpace(space.id)">
                            <i class="fa fa-edit"></i>
                            <p>Edit</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="userSpaces.length === 0" style="background-color: #fff">
    <h2 style="text-align: center; margin-top: 50px;">You have no listed spaces.</h2>
</div>

<div class="link-space-modal" *ngIf="isModalVisible">
    <form>
        <div class="inline-preloader" *ngIf="isLoading">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
        <div class="link-space-modal-inner" *ngIf="!isLoading">
            <a class="close-linked-space-modal" (click)="closeModalWindow()"><i class="fa fa-times"></i></a>
            <p class="linked-space-title">Choose child spaces for '{{selectedSpace.name}}'</p>
            <ul class="linked-spaces-space-list">
                <li *ngFor="let space of userSpaces">
                    <span *ngIf="space.id !== selectedSpace.id && space.childSpaces.length === 0 && ((space.parent) ? space.parent === selectedSpace.id : true)">
                        <input type="checkbox" name="childSpace" [checked]="isSelected(space, selectedSpace.childSpaces)" (change)="selectChild(space.id)" > {{space.name}}
                    </span>
                </li>
            </ul>
            <div class="link-spaces-btns-wrapper">
                <a class="link-space-confirm-btn" (click)="submitChildSpaces()">Confirm</a>
                <a class="link-space-cancel-btn" (click)="closeModalWindow()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="modal-overlay" *ngIf="isModalVisible"></div>