<footer id="footer" class="main-footer">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-details-block">
                    <div class="logo-wrapper"><img class="footer-logo" src="../../assets/img/footer/logo-footer.png" alt=""></div>
                    <div class="contact-details">
                        <h4>follow us on</h4>
                        <ul class="footer-social-icons-wrapper">
                            <li><a href="http://facebook.com/millionspacesapp" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/millionspacesapp" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/MillionSpaceslk" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/13597451" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <span class="copyrights-info">&copy; All Rights Reserved, <a href="https://millionspaces.com">MillionSpaces</a></span>
                </div><!-- /.footer-details-block -->
            </div><!-- /.col-md-4 -->

            <!--<div class="col-md-3 col-sm-6">
                <div class="footer-details-block">
                    <h4>event types</h4>
                    <div class="events-style-lists-wrapper">
                        <ul class="event-types-list">
                            <li (click)='goToEvent({id: 1, name: "Party"})'><a>Party</a></li>
                            <li (click)='goToEvent({id: 2, name: "Wedding"})'><a>Wedding</a></li>
                            <li (click)='goToEvent({id: 3, name: "Press Conference"})'><a>Press Conference</a></li>
                            <li (click)='goToEvent({id: 4, name: "Meeting"})'><a>Meeting</a></li>
                            <li (click)='goToEvent({id: 5, name: "Interview"})'><a>Interview</a></li>
                        </ul><ul class="event-types-list">
                        <li (click)='goToEvent({id: 6, name: "Training"})'><a>Training</a></li>
                        <li (click)='goToEvent({id: 7, name: "Photoshoot"})'><a>Photoshoot</a></li>
                        <li (click)='goToEvent({id: 8, name: "Hot Desk"})'><a>Hot Desk</a></li>
                        <li (click)='goToEvent({id: 9, name: "Sports"})'><a>Sports</a></li>
                        <li (click)='goToEvent({id: 10, name: "Concerts"})'><a>Concert</a></li>
                    </ul>
                    </div>
                </div>&lt;!&ndash; /.footer-details-block &ndash;&gt;
            </div>-->

            <div class="col-md-4 col-sm-6">
                <div class="footer-details-block">
                    <h4>COMPANY</h4>
                    <div class="events-style-lists-wrapper">
                        <ul class="event-types-list">
                            <li><a href="/#/about" target="_blank">About</a></li>
                            <li><a href="https://www.millionspaces.info" target="_blank">Blog</a></li>
                            <li><a href="/#/press" target="_blank">Press</a></li>
                            <li><a href="/#/terms/privacy" target="_blank">Terms & Privacy Policy</a></li>
                        </ul>
                    </div>
                </div><!-- /.footer-details-block -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="footer-details-block">
                    <h4>connect with us</h4>

                    <address>
                        <ul class="footer-contacts-list">
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>61, 1st Level, Janadhipathi Mawatha</span><br>
                                <span>Colombo 1, Sri Lanka</span>
                            </li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> <span><a href="tel:011-7-811-811">011 7 811 811</a></span></li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:hello@millionspaces.com"><span>hello@millionspaces.com</span></a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>

        <div class="row" style="display: none;"><a [routerLink]="'/ms/sysinfo'">System Info</a></div>

    </div>
</footer>
