<div class="time-block-wrapper" *ngIf="!selectedDate">
  <p class="time-block-heading">Select a date from the calendar</p>
</div>
<div class="time-block-wrapper" [class.spinner]="blocksLoading" *ngIf="selectedDate">
  <p class="time-block-heading">{{ selectedDate?.date }}<br>SELECT TIME</p>
  <ul class="time-blocks">
    <li *ngFor="let block of dayAvailabilityBlocks | filterBlock: displayBlockCount" [class.disabled-time-slot]="block.blocked"><label><input type="checkbox" [checked]="block.chosen" (change)="toggleBlock(block)" [disabled]="block.blocked"> <span>{{ block.from | formatTime }} - {{ block.to | formatTime }}</span></label><span class="timeblock-price">LKR {{block.charge}}</span></li>
  </ul>
  <a class="load-more-btn" *ngIf="dayAvailabilityBlocks.length > 6" (click)="toggleLoadMore()"><span *ngIf="!toggleLoadMoreBlock">More</span><span *ngIf="toggleLoadMoreBlock">Hide</span></a>
</div>


