.btn{
    padding: 10px;
    border-radius: 0;
    font-weight: 400;
    font-size: 14px;
    border: none;
    
    &.btn-line{
        color: @white;
        background-color: @transparent;
        border: 2px solid @white;
        
        &:hover{
            background-color: rgba(0,0,0,0.3);
            color: @white;
        }
    }
    
    &.btn-circle{
        background-color: transparent;
        border: none;
        font-size: 30px;
        
        &:hover, &:active:focus, &:focus{
            background-color: transparent;
            border: none;
            color: @white;
        }
        
        i:before{
            font-size: 40px;
        }
        
        &.twitter-login{
            &:hover{
                color: #1ab2f5;
            }
        }
        &.facebook-login{
            &:hover{
                color: #3b5998;
            }
        }
        &.google-login{
            &:hover{
                color: #f05a44;
            }
        }
    }
    
    i:before{
        margin-left: 0;
    }
}

.btn-default {
  .button-variant(@white; @btn-default-bg; @btn-default-border);
    &:hover, &:active:focus{
        background-color: darken(@btn-default-bg, 15%);
        color: @white;
    }
}

.btn-primary {
  .button-variant(@btn-primary-color; @light-blue; @btn-primary-border);
}