.form-control{
    line-height: 1.2;
    border-radius: 0;
    border: none;
    padding: 12px 10px 12px 55px;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #3e3b3b;
    box-shadow: none;
}

.form-group{
        .form-control-error{
        display: block;
        position: absolute;
        padding: 10px;
        z-index: 9999;
        background-color: rgba(180,46,66,0.7) ;
        width: 100%;
        margin-top: 9px;
        font-weight: 300;
        color: #fff;
        font-size: 13px;
            
            &:before{
            content: "";
              width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid rgba(180,46,66,0.7);
            position: absolute;
            top: -8px;
            left: 14px;
            }
    }
}

.form-control-icon{
    position: absolute;
    background-color: rgba(0,0,0,0.01);
    padding: 10px 14px 12px 4px;
    color: #3e3b3b;
    opacity: 0.8;
    border-right: 1px solid rgba(0,0,0,0.06);
    left: 0;
}

.has-error {
    .form-control{
        border: 1px solid @red !important;
        box-shadow: none;
    }
    .form-control-icon{
        background-color: @red !important;
        i{
            color: #fff;
        }
    }
}