
//Paddings

.p-a-0{
    padding: 0 !important;
}
.p-a-5{
    padding: 5px !important;
}
.p-a-10{
    padding: 10px !important;
}
.p-a-15{
    padding: 15px !important;
}
.p-a-20{
    padding: 20px !important;
}
.p-y-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.p-y-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.p-y-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.p-y-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.p-y-20{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.p-x-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.p-x-5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.p-x-8{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.p-x-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.p-x-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.p-x-20{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.p-x-130{
    padding-left: 130px !important;
    padding-right: 130px !important;
}
.p-t-0{
    padding-top: 0 !important;
}
.p-t-3{
    padding-top: 3px !important;
}
.p-t-5{
    padding-top: 5px !important;
}
.p-t-8{
    padding-top: 8px !important;
}
.p-t-10{
    padding-top: 10px !important;
}
.p-t-15{
    padding-top: 15px !important;
}
.p-t-20{
    padding-top: 20px !important;
}
.p-r-0{
    padding-right: 0 !important;
}
.p-r-5{
    padding-right: 5px !important;
}
.p-r-10{
    padding-right: 10px !important;
}
.p-r-15{
    padding-right: 15px !important;
}
.p-r-20{
    padding-right: 20px !important;
}
.p-b-0{
    padding-bottom: 0 !important;
}
.p-b-5{
    padding-bottom: 5px !important;
}
.p-b-10{
    padding-bottom: 10px !important;
}
.p-b-15{
    padding-bottom: 15px !important;
}
.p-b-20{
    padding-bottom: 20px !important;
}
.p-b-50{
    padding-bottom: 50px !important;
}
.p-l-0{
    padding-left: 0 !important;
}
.p-l-5{
    padding-left: 5px !important;
}
.p-l-10{
    padding-left: 10px !important;
}
.p-l-15{
    padding-left: 15px !important;
}
.p-l-20{
    padding-left: 20px !important;
}
.p-l-25{
    padding-left: 25px !important;
}
//Margins

.m-a-0{
    margin: 0 !important;
}
.m-a-5{
    margin: 5px !important;
}
.m-a-10{
    margin: 10px !important;
}
.m-a-15{
    margin: 15px !important;
}
.m-a-20{
    margin: 20px !important;
}
.m-y-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.m-y-5{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.m-y-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.m-y-15{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.m-y-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.m-x-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.m-x-5{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.m-x-10{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.m-x-15{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.m-x-20{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.m-t-0{
    margin-top: 0 !important;
}
.m-t-3{
    margin-top: 3px !important;
}
.m-t-5{
    margin-top: 5px !important;
}
.m-t-10{
    margin-top: 10px !important;
}
.m-t-15{
    margin-top: 15px !important;
}
.m-t-20{
    margin-top: 20px !important;
}
.m-t-100{
    margin-top: 100px !important; 
}
.m-r-0{
    margin-right: 0 !important;
}
.m-r-5{
    margin-right: 5px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-r-15{
    margin-right: 15px !important;
}
.m-r-20{
    margin-right: 20px !important;
}
.m-b-0{
    margin-bottom: 0 !important;
}
.m-b-5{
    margin-bottom: 5px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-b-15{
    margin-bottom: 15px !important;
}
.m-b-20{
    margin-bottom: 20px !important;
}
.m-l-0{
    margin-left: 0 !important;
}
.m-l-5{
    margin-left: 5px !important;
}
.m-l-10{
    margin-left: 10px !important;
}
.m-l-15{
    margin-left: 15px !important;
}
.m-l-20{
    margin-left: 20px !important;
}

//Width
.w-40{
    width: 40px;
}
.w-50{
    width: 50px;
}
.w-60{
    width: 60px;
}
.w-70{
    width: 70px;
}
.w-100{
    width: 100px;
}
.w-110{
    width: 110px;
}
.w-120{
    width: 120px;
}
.w-130{
    width: 130px;
}
.w-150{
    width: 150px;
}
.w-160{
    width: 160px;
}
.w-180{
    width: 180px;
}
.w-200{
    width: 200px;
}
.w-250{
    width: 250px;
}
.w-100-p{
    width: 100%;
}
.w-11-p{
    width: 11%;
}
//Min-Width
.min-w-40{
    min-width: 40px;
}
.min-w-50{
    min-width: 50px;
}
.min-w-60{
    min-width: 60px;
}
.min-w-80{
    min-width: 80px;
}
.min-w-100{
    min-width: 100px;
}
.min-w-110{
    min-width: 110px;
}
.min-w-120{
    min-width: 120px;
}
.min-w-130{
    min-width: 130px;
}
.min-w-150{
    min-width: 150px;
}
.min-w-160{
    min-width: 160px;
}
.min-w-180{
    min-width: 180px;
}
.min-w-200{
    min-width: 200px;
}

//Max-Width
.max-w-100{
    max-width: 100px;
}
.max-w-110{
    max-width: 110px;
}
.max-w-120{
    max-width: 120px;
}
.max-w-150{
    max-width: 150px;
}
.max-w-160{
    max-width: 160px;
}
.max-w-180{
    max-width: 180px;
}
.max-w-200{
    max-width: 200px;
}

//Height
.h-40{
    height: 40px;
}
.h-50{
    height: 50px;
}
.h-100{
    height: 100px;
}
.h-150{
    height: 150px;
}
.h-200{
    height: 200px;
}
.h-250{
    height: 250px;
}

//Min Height
.min-h-30{
    min-height: 30px;
}
.min-h-40{
    min-height: 30px;
}

//Max Height
.max-h-40{
    max-height: 40px;
}
.max-h-60{
    max-height: 60px;
}
.max-h-80{
    max-height: 80px;
}
.max-h-100{
    max-height: 100px;
}
.max-h-150{
    max-height: 150px;
}
.max-h-200{
    max-height: 200px;
}
.max-h-250{
    max-height: 250px;
}

//Font Sizes
.font-large{
    font-size: 20px !important;
}
.font-10{
    font-size: 10px !important;
}
.font-11{
    font-size: 11px !important;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-30{
    font-size: 30px;
}
.font-36{
    font-size: 36px;
}
.font-55{
    font-size: 55px;
}
.bold{
    font-weight: 400;
}
.bolder{
    font-weight: 600;
}

// Border Radius
.no-border-radius{
    border-radius: 0 !important;
}
.header-border-radius{
    border-radius: 8px 8px 0 0 !important;
}
.box.collapsed-box .header-border-radius{
    border-radius: 8px !important;
}

.border-radius{
    border-radius: 8px !important;
}

//Borders
.border-all{
    border: 1px solid @border-color;
}
.border-t{
    border-top: 1px solid @border-color;
}
.border-t-none{
    border-top: none;
}
.border-r{
    border-right: 1px solid @border-color;
}
.border-b{
    border-bottom: 1px solid @border-color !important;
}
.border-l{
    border-left: 1px solid @border-color;
}
.border-b-light{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.border-t-light{
    border-top: 1px solid rgba(255,255,255,0.4);
}

// Text Colors
.font-color{
    color: @font-color;
}
.label-color{
    color: darken(@gray, 40%);
}
.green{
    color: @green;
}
.dark-green{
    color: @dark-green;
}
.red{
    color: @red;
}
.dark-red{
    color: @dark-red;
}
.blue{
    color: @light-blue !important;
}
.dark-blue{
    color: @blue;
}
.yellow{
    color: @yellow;
}
.dark-yellow{
    color: @dark-yellow;
}
.olive{
    color: @olive;
}
.dark-olive{
    color: @dark-olive;
}
.orange{
    color: @orange;
}
.dark-orange{
    color: @dark-orange;
}
.purple{
    color: @purple;
}
.dark-purple{
    color: @dark-purple;
}
.gray{
    color: darken(@gray, 40%);
}
.light-gray{
    color: darken(@gray, 10%);
}
.black{
    color: @black;
}
.white{
    color: @white;
}
.cloud{
    color: @cloud;
}
.gray-blue{
    color: @gray-blue;
}

// Background Colors
.bg-white{
    background-color: @white;
}
.bg-green{
    background-color: @green;
}
.bg-dark-green{
    background-color: @dark-green !important;
}
.bg-red{
    background-color: @red;
}
.bg-dark-red{
    background-color: @dark-red !important;
}
.bg-blue{
    background-color: @light-blue;
}
.bg-dark-blue{
    background-color: @blue;
}
.bg-yellow{
    background-color: @yellow;
}
.bg-dark-yellow{
    background-color: @dark-yellow;
}
.bg-olive{
    background-color: @olive;
}
.bg-dark-olive{
    background-color: @dark-olive;
}
.bg-orange{
    background-color: @orange;
}
.bg-dark-orange{
    background-color: @dark-orange;
}
.bg-purple{
    background-color: @purple;
}
.bg-dark-purple{
    background-color: @dark-purple;
}
.bg-gray{
    background-color: darken(@gray, 40%);
}
.bg-light-gray{
    background-color: darken(@gray, 10%);
}
.bg-black{
    background-color: @black;
}
.bg-white{
    background-color: @white !important;
}
.bg-cloud{
    background-color: @cloud !important;
}
.bg-gray-blue{
    background-color: @gray-blue;
}
.bg-dark-transparent{
    background-color: rgba(0,0,0,0.1);
}
.bg-dark-light-transparent{
    background-color: rgba(0,0,0,0.02);
}
.bg-more-dark-transparent{
    background-color: rgba(0,0,0,0.5);
}
.bg-light-transparent{
    background-color: rgba(255,255,255,0.2);
}
.bg-transparent{
    background-color: @transparent;
}

//Positions
.pos-ab{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.pos-t-0{
    top: 0;
}
.pos-t-5{
    top: 5px;
}
.pos-t-10{
    top: 10px;
}
.pos-t-15{
    top: 15px;
}
.pos-t-40-p{
    top: 40%;
}
.pos-r-0{
    right: 0;
}
.pos-r-5{
    right: 5px;
}
.pos-r-10{
    right: 10px;
}
.pos-r-15{
    right: 15px;
}
.pos-r-20{
    right: 20px;
}
.pos-b-0{
    bottom: 0;
}
.pos-b-5{
    bottom: 5px;
}
.pos-b-10{
    bottom: 10px;
}
.pos-b-15{
    bottom: 15px;
}
.pos-l-0{
    left: 0;
}
.pos-l-5{
    left: 5px;
}
.pos-l-10{
    left: 10px;
}
.pos-l-15{
    left: 15px;
}
.pos-l-20{
    left: 20px;
}
.pos-l-40-p{
    left: 40%;
}
.pos-l-auto{
    left: auto;
}
//Overflow
.o-hidden{
    overflow: hidden !important;
}
.o-auto{
    overflow: auto;
}

//Display
.display-block{
    display: block;
}
.display-in-block{
    display: inline-block;
}



//Opacity
.opa-1{
    opacity: 0.1;
}
.opa-2{
    opacity: 0.2;
}
.opa-3{
    opacity: 0.3;
}
.opa-5{
    opacity: 0.5;
}
.opa-6{
    opacity: 0.6;
}
.opa-7{
    opacity: 0.7;
}
.opa-8{
    opacity: 0.8;
}

//Text Ellipsis
.text-overflow{
    text-overflow: ellipsis;
}

//Text Allign
.text-left {
    text-align: left !important;
}

//Word Wrap
.word-wrap{
    word-wrap: break-word;
}

//Icons
.link-icon{
    font-size: 19px;
    line-height: 0;
    padding: 0;   
}

// Stroke
.stroke{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}

// Chrome Outline
input:focus,
select:focus,
textarea:focus,button,
button:focus , button:active{
    outline: none !important;
    box-shadow: none !important;
}

*:focus {
    outline: none;
    box-shadow: none !important;
}

input:-webkit-autofill{
    background-color: @white;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// Media Query - <1200px
@media (max-width: 1200px){
    
    // Paddings
    .m-lg-p-a-0{
    padding: 0;
    }
    .m-lg-p-a-5{
        padding: 5px !important;
    }
    .m-lg-p-a-10{
        padding: 10px !important;
    }
    .m-lg-p-a-15{
        padding: 15px !important;
    }
    .m-lg-p-a-20{
        padding: 20px !important;
    }
    .m-lg-p-y-0{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .m-lg-p-y-5{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .m-lg-p-y-10{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .m-lg-p-y-15{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .m-lg-p-y-20{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .m-lg-p-x-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-lg-p-x-5{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .m-lg-p-x-10{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .m-lg-p-x-15{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .m-lg-p-x-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .m-lg-p-t-0{
        padding-top: 0 !important;
    }
    .m-lg-p-t-5{
        padding-top: 5px !important;
    }
    .m-lg-p-t-10{
        padding-top: 10px !important;
    }
    .m-lg-p-t-15{
        padding-top: 15px !important;
    }
    .m-lg-p-t-20{
        padding-top: 20px !important;
    }
    .m-lg-p-r-0{
        padding-right: 0 !important;
    }
    .m-lg-p-r-5{
        padding-right: 5px !important;
    }
    .m-lg-p-r-10{
        padding-right: 10px !important;
    }
    .m-lg-p-r-15{
        padding-right: 15px !important;
    }
    .m-lg-p-r-20{
        padding-right: 20px !important;
    }
    .m-lg-p-b-0{
        padding-bottom: 0 !important;
    }
    .m-lg-p-b-5{
        padding-bottom: 5px !important;
    }
    .m-lg-p-b-10{
        padding-bottom: 10px !important;
    }
    .m-lg-p-b-15{
        padding-bottom: 15px !important;
    }
    .m-lg-p-b-20{
        padding-bottom: 20px !important;
    }
    .m-lg-p-l-0{
        padding-left: 0 !important;
    }
    .m-lg-p-l-5{
        padding-left: 5px !important;
    }
    .m-lg-p-l-10{
        padding-left: 10px !important;
    }
    .m-lg-p-l-15{
        padding-left: 15px !important;
    }
    .m-lg-p-l-20{
        padding-left: 20px !important;
    }
    
    // Margin
    
    .m-lg-m-a-0{
        margin: 0 !important;
    }
    .m-lg-m-a-10{
        margin: 10px !important;
    }
    .m-lg-m-a-15{
        margin: 15px !important;
    }
    .m-lg-m-a-20{
        margin: 20px !important;
    }
    .m-lg-m-y-0{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .m-lg-m-y-10{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .m-lg-m-y-15{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .m-lg-m-y-20{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .m-lg-m-x-0{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .m-lg-m-x-10{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .m-lg-m-x-15{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .m-lg-m-x-20{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .m-lg-m-t-0{
        margin-top: 0 !important;
    }
    .m-lg-m-t-10{
        margin-top: 10px !important;
    }
    .m-lg-m-t-15{
        margin-top: 15px !important;
    }
    .m-lg-m-t-20{
        margin-top: 20px !important;
    }
    .m-lg-m-r-0{
        margin-right: 0 !important;
    }
    .m-lg-m-r-10{
        margin-right: 10px !important;
    }
    .m-lg-m-r-15{
        margin-right: 15px !important;
    }
    .m-lg-m-r-20{
        margin-right: 20px !important;
    }
    .m-lg-m-b-0{
        margin-bottom: 0 !important;
    }
    .m-lg-m-b-10{
        margin-bottom: 10px !important;
    }
    .m-lg-m-b-15{
        margin-bottom: 15px !important;
    }
    .m-lg-m-b-20{
        margin-bottom: 20px !important;
    }
    .m-lg-m-l-0{
        margin-left: 0 !important;
    }
    .m-lg-m-l-10{
        margin-left: 10px !important;
    }
    .m-lg-m-l-15{
        margin-left: 15px !important;
    }
    .m-lg-m-l-20{
        margin-left: 20px !important;
    }
    
    // FLoat
    .m-lg-pull-right{
        float: right !important;
    }
    .m-lg-pull-left{
        float: left !important;
    }
    .m-lg-float-none{
        float: none !important;
        
        .dropdown-menu{
            left: 0;
        }
    }
    
    // Text Align
    .m-lg-text-left{
        text-align: left !important;
    }
    .m-lg-text-right{
        text-align: right !important;
    }
    .m-lg-text-center{
        text-align: center !important;
    }
    
    // Borders
    .m-lg-border-t{
        border-top: 1px solid @border-color;
    }
}

// Media Query - <992px
@media (max-width: 991px){
    
    // Paddings
    .m-md-p-a-0{
    padding: 0;
    }
    .m-md-p-a-5{
        padding: 5px !important;
    }
    .m-md-p-a-10{
        padding: 10px !important;
    }
    .m-md-p-a-15{
        padding: 15px !important;
    }
    .m-md-p-a-20{
        padding: 20px !important;
    }
    .m-md-p-y-0{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .m-md-p-y-5{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .m-md-p-y-10{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .m-md-p-y-15{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .m-md-p-y-20{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .m-md-p-x-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-md-p-x-5{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .m-md-p-x-10{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .m-md-p-x-15{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .m-md-p-x-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .m-md-p-t-0{
        padding-top: 0 !important;
    }
    .m-md-p-t-5{
        padding-top: 5px !important;
    }
    .m-md-p-t-10{
        padding-top: 10px !important;
    }
    .m-md-p-t-15{
        padding-top: 15px !important;
    }
    .m-md-p-t-20{
        padding-top: 20px !important;
    }
    .m-md-p-r-0{
        padding-right: 0 !important;
    }
    .m-md-p-r-5{
        padding-right: 5px !important;
    }
    .m-md-p-r-10{
        padding-right: 10px !important;
    }
    .m-md-p-r-15{
        padding-right: 15px !important;
    }
    .m-md-p-r-20{
        padding-right: 20px !important;
    }
    .m-md-p-b-0{
        padding-bottom: 0 !important;
    }
    .m-md-p-b-5{
        padding-bottom: 5px !important;
    }
    .m-md-p-b-10{
        padding-bottom: 10px !important;
    }
    .m-md-p-b-15{
        padding-bottom: 15px !important;
    }
    .m-md-p-b-20{
        padding-bottom: 20px !important;
    }
    .m-md-p-l-0{
        padding-left: 0 !important;
    }
    .m-md-p-l-5{
        padding-left: 5px !important;
    }
    .m-md-p-l-10{
        padding-left: 10px !important;
    }
    .m-md-p-l-15{
        padding-left: 15px !important;
    }
    .m-md-p-l-20{
        padding-left: 20px !important;
    }
    
    // Margin
    
    .m-md-m-a-0{
        margin: 0 !important;
    }
    .m-md-m-a-10{
        margin: 10px !important;
    }
    .m-md-m-a-15{
        margin: 15px !important;
    }
    .m-md-m-a-20{
        margin: 20px !important;
    }
    .m-md-m-y-0{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .m-md-m-y-10{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .m-md-m-y-15{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .m-md-m-y-20{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .m-md-m-x-0{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .m-md-m-x-10{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .m-md-m-x-15{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .m-md-m-x-20{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .m-md-m-t-0{
        margin-top: 0 !important;
    }
    .m-md-m-t-10{
        margin-top: 10px !important;
    }
    .m-md-m-t-15{
        margin-top: 15px !important;
    }
    .m-md-m-t-20{
        margin-top: 20px !important;
    }
    .m-md-m-r-0{
        margin-right: 0 !important;
    }
    .m-md-m-r-10{
        margin-right: 10px !important;
    }
    .m-md-m-r-15{
        margin-right: 15px !important;
    }
    .m-md-m-r-20{
        margin-right: 20px !important;
    }
    .m-md-m-b-0{
        margin-bottom: 0 !important;
    }
    .m-md-m-b-10{
        margin-bottom: 10px !important;
    }
    .m-md-m-b-15{
        margin-bottom: 15px !important;
    }
    .m-md-m-b-20{
        margin-bottom: 20px !important;
    }
    .m-md-m-l-0{
        margin-left: 0 !important;
    }
    .m-md-m-l-10{
        margin-left: 10px !important;
    }
    .m-md-m-l-15{
        margin-left: 15px !important;
    }
    .m-md-m-l-20{
        margin-left: 20px !important;
    }
    
    // FLoat
    .m-md-pull-right{
        float: right !important;
    }
    .m-md-pull-left{
        float: left !important;
    }
    .m-md-float-none{
        float: none !important;
        
        .dropdown-menu{
            left: 0;
        }
    }
    
    // Text Align
    .m-md-text-left{
        text-align: left !important;
    }
    .m-md-text-right{
        text-align: right !important;
    }
    .m-md-text-center{
        text-align: center !important;
    }
    
    .m-md-border-r-none{
        border-right: none !important;
    }
    .m-md-border-t{
        border-top: 1px solid @border-color !important;
    }
    
}

// Media Query - <768px
@media (max-width: 767px){
    
    // Paddings
    .m-xs-p-a-0{
        padding: 0 !important;
    }
    .m-xs-p-a-5{
        padding: 5px !important;
    }
    .m-xs-p-a-10{
        padding: 10px !important;
    }
    .m-xs-p-a-15{
        padding: 15px !important;
    }
    .m-xs-p-a-20{
        padding: 20px !important;
    }
    .m-xs-p-y-0{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .m-xs-p-y-5{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .m-xs-p-y-10{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .m-xs-p-y-15{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .m-xs-p-y-20{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .m-xs-p-x-0{
        padding-left: 0 !important ;
        padding-right: 0 !important;
    }
    .m-xs-p-x-5{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .m-xs-p-x-10{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .m-xs-p-x-15{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .m-xs-p-x-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .m-xs-p-t-0{
        padding-top: 0 !important;
    }
    .m-xs-p-t-5{
        padding-top: 5px !important;
    }
    .m-xs-p-t-10{
        padding-top: 10px !important;
    }
    .m-xs-p-t-15{
        padding-top: 15px !important;
    }
    .m-xs-p-t-20{
        padding-top: 20px !important;
    }
    .m-xs-p-r-0{
        padding-right: 0 !important;
    }
    .m-xs-p-r-5{
        padding-right: 5px !important;
    }
    .m-xs-p-r-10{
        padding-right: 10px !important;
    }
    .m-xs-p-r-15{
        padding-right: 15px !important;
    }
    .m-xs-p-r-20{
        padding-right: 20px !important;
    }
    .m-xs-p-b-0{
        padding-bottom: 0 !important;
    }
    .m-xs-p-b-5{
        padding-bottom: 5px !important;
    }
    .m-xs-p-b-10{
        padding-bottom: 10px !important;
    }
    .m-xs-p-b-15{
        padding-bottom: 15px !important;
    }
    .m-xs-p-b-20{
        padding-bottom: 20px !important;
    }
    .m-xs-p-l-0{
        padding-left: 0 !important;
    }
    .m-xs-p-l-5{
        padding-left: 5px !important;
    }
    .m-xs-p-l-10{
        padding-left: 10px !important;
    }
    .m-xs-p-l-15{
        padding-left: 15px !important;
    }
    .m-xs-p-l-20{
        padding-left: 20px !important;
    }
    
    // Margin
    
    .m-xs-m-a-0{
        margin: 0 !important;
    }
    .m-xs-m-a-10{
        margin: 10px !important;
    }
    .m-xs-m-a-15{
        margin: 15px !important;
    }
    .m-xs-m-a-20{
        margin: 20px !important;
    }
    .m-xs-m-y-0{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .m-xs-m-y-10{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .m-xs-m-y-15{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .m-xs-m-y-20{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .m-xs-m-x-0{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .m-xs-m-x-10{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .m-xs-m-x-15{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .m-xs-m-x-20{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .m-xs-m-t-0{
        margin-top: 0 !important;
    }
    .m-xs-m-t-10{
        margin-top: 10px !important;
    }
    .m-xs-m-t-15{
        margin-top: 15px !important;
    }
    .m-xs-m-t-20{
        margin-top: 20px !important;
    }
    .m-xs-m-r-0{
        margin-right: 0 !important;
    }
    .m-xs-m-r-10{
        margin-right: 10px !important;
    }
    .m-xs-m-r-15{
        margin-right: 15px !important;
    }
    .m-xs-m-r-20{
        margin-right: 20px !important;
    }
    .m-xs-m-b-0{
        margin-bottom: 0 !important;
    }
    .m-xs-m-b-5{
        margin-bottom: 5px !important;
    }
    .m-xs-m-b-10{
        margin-bottom: 10px !important;
    }
    .m-xs-m-b-15{
        margin-bottom: 15px !important;
    }
    .m-xs-m-b-20{
        margin-bottom: 20px !important;
    }
    .m-xs-m-l-0{
        margin-left: 0 !important;
    }
    .m-xs-m-l-10{
        margin-left: 10px !important;
    }
    .m-xs-m-l-15{
        margin-left: 15px !important;
    }
    .m-xs-m-l-20{
        margin-left: 20px !important;
    }
    
    // FLoat
    .m-xs-pull-right{
        float: right !important;
    }
    .m-xs-pull-left{
        float: left !important;
    }
    .m-xs-float-none{
        float: none !important;
        
        .dropdown-menu{
            left: 0;
        }
    }
    
    // Text Align
    .m-xs-text-left{
        text-align: left !important;
    }
    .m-xs-text-right{
        text-align: right !important;
    }
    .m-xs-text-center{
        text-align: center !important;
    }
    
    // Borders
    .m-xs-border-t-none{
        border-top: none;
    }
    .m-xs-border-r-none{
        border-right: none;
    }
    .m-xs-border-a-none{
        border: none;
    }
}


// Responsive

@media (max-width: 768px){
    .hidden-xs-768 {
        display: none !important;
    }
       
}

@media (max-width: 767px){    
    .visible-xs-767{
        display: block !important;
    }
     .visible-xs{
        display: block !important;
    }
}