//Virtuoso Variables.less
//=========================

//PATHS
//--------------------------------------------------------

@boxed-layout-bg-image-path: "../img/boxed-bg.jpg";

//COLORS
//--------------------------------------------------------

@light-blue: #03a3d3;  //Primary
@red:        #b42e42;  //Danger
@green:      #008a00;  //Success
@aqua:       #00c0ef;  //Info
@yellow:     #edc133;  //Warning

@blue:       #2c7cb3;
@dark-red:   #b44b38;
@dark-green: #55a660;
@dark-yellow:#ea9f33; 
@purple:     #9168b5;
@dark-purple:#8357ac;
@olive:      #55b59a;
@dark-olive: #479a83;
@orange:     #db8438;
@dark-orange:#c76126;

@navy:       #001F3F;
@teal:       #39CCCC;
@lime:       #01FF70;
@fuchsia:    #F012BE;
@maroon:     #D81B60;

@black:      #2a2a2a;
@gray:       #d2d6de;

@white:      #ffffff;
@cloud:      #e9e8e8;
@gray-blue:  #728994;
@transparent: transparent;

//LAYOUT
//--------------------------------------------------------

//Side bar and logo width
@sidebar-width: 230px;
//Boxed layout maximum width
@boxed-layout-max-width: 1024px;
//When the logo should go to the top of the screen
@screen-header-collapse: @screen-xs-max;

//Link colors (Aka: <a> tags)
@link-color:       @light-blue;
@link-hover-color: lighten(@link-color, 15%);

//Body background (Affects main content background only)
@body-bg: #ecf0f5;

//SIDEBAR SKINS
//--------------------------------------------------------

//Dark sidebar
@sidebar-dark-bg:                  #222d32;
@sidebar-dark-hover-bg:            darken(@sidebar-dark-bg, 2%);
@sidebar-dark-color:               lighten(@sidebar-dark-bg, 60%);
@sidebar-dark-hover-color:         #fff;
@sidebar-dark-submenu-bg:          lighten(@sidebar-dark-bg, 5%);
@sidebar-dark-submenu-color:       lighten(@sidebar-dark-submenu-bg, 40%);
@sidebar-dark-submenu-hover-color: #fff;

//Light sidebar
@sidebar-light-bg:                  #dde2e3;
@sidebar-light-hover-bg:            lighten(#f0f0f1, 1.5%);
@sidebar-light-color:               #444;
@sidebar-light-hover-color:         #000;
@sidebar-light-submenu-bg:          @sidebar-light-hover-bg;
@sidebar-light-submenu-color:       #777;
@sidebar-light-submenu-hover-color: #000;

//CONTROL SIDEBAR
//--------------------------------------------------------
@control-sidebar-width: 300px;


//BOXES
//--------------------------------------------------------
@box-border-color:  #f4f4f4;
@box-border-radius: 8px;
@box-footer-bg:     #fff;
@box-boxshadow:     0 1px 5px rgba(0, 0, 0, .1);
@box-padding:       3px 10px 5px;
@box-body-padding:  10px;

//Box variants
@box-default-border-top-color: #d2d6de;

//BUTTONS
//--------------------------------------------------------
@btn-boxshadow: none;

@btn-default-color:              #fff;
@btn-default-bg:                 #a5adb2;
@btn-default-border:             #a5adb2;

//PROGRESS BARS
//--------------------------------------------------------
@progress-bar-border-radius:    1px;
@progress-bar-sm-border-radius: 1px;
@progress-bar-xs-border-radius: 1px;

//FORMS
//--------------------------------------------------------
@input-radius: 4px;

//Font Color
//--------------------------------------------------------
@font-color: #3e3b3b;

//BUTTONS
//--------------------------------------------------------

//Border radius for non flat buttons
@btn-border-radius: 4px;

//DIRECT CHAT
//--------------------------------------------------------
@direct-chat-height:                   250px;
@direct-chat-default-msg-bg:           @gray;
@direct-chat-default-font-color:       #444;
@direct-chat-default-msg-border-color: @gray;


//CHAT WIDGET
//--------------------------------------------------------
@attachment-border-radius: 3px;

//TRANSITIONS SETTINGS
//--------------------------------------------------------

//Transition global options
@transition-speed: .3s;
@transition-fn:    ease-in-out;//cubic-bezier(0.32,1.25,0.375,1.15);

//BORDERS
//--------------------------------------------------------
@border-color: #dedede;
@border-width-1:   1px;
@border-width-2:   2px;

@border-radius-50: 50%;
@border-radius-top: 10px 10px 0 0;
@border-radius-left: 10px 0 0 10px;
@border-radius-none: 0;



    