<div class="manage-booking-top-bar">
    <div class="manage-booking-topbar-title"><h1>My Activities</h1></div
    ><div class="manage-booking-topbar-upcoming" routerLinkActive="active-topbar-button" routerLink='/user/profile/my-activities' [queryParams]="{ time: 'upcoming' }"><i class="fa fa-calendar"></i> Upcoming</div
    ><div class="manage-booking-topbar-past" routerLinkActive="active-topbar-button" routerLink='/user/profile/my-activities' [queryParams]="{ time: 'past' }"><i class="fa fa-clock-o" aria-hidden="true"></i> Past</div>
</div><!-- /.manage-booking-top-bar -->
<div class="manage-booking-main-content">
    <div class="manage-booking-main-content-inner">
        <div class="manage-booking-filters-bar">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ selectedStatus.label }}<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let status of statusList" (click)="selectStatus(status)"><a>{{ status.label }}</a></li>
                </ul>
            </div>
        </div><!-- /.manage-booking-filters-bar -->

        <div *ngIf="guestBookings.length === 0 && time === 'upcoming'">
            <h2 style="text-align: center">You do not have any upcoming bookings.</h2>
        </div>
        <div *ngIf="guestBookings.length === 0 && time === 'past'">
            <h2 style="text-align: center">You do not have any past bookings.</h2>
        </div>
        <my-booking-list [guestBookings]="guestBookings" [time]="time">

        </my-booking-list>


    </div><!-- /.manage-booking-main-content-inner -->
</div><!-- /.manage-booking-main-content -->

