<a class="go-back-link" routerLink="/user/profile/my-activities" [queryParams]="{time:time}"><i class="fa fa-chevron-left"></i> Back to my activities</a>

<section class="bookings-single-view-space-wrapper" *ngIf="myActivity">
    <form #f="ngForm" (ngSubmit)="saveBookingInfo(f)">
        <div class="bookings-single-view-space-wrapper-inner">
            <header>
                <div class="titles-wrapper">
                    <h1><a (click)="showSpace(myActivity.space)">{{ myActivity.space.name }}</a></h1>
                    <p>{{ myActivity.space.addressLine2 ? myActivity.space.addressLine2 + ',' : '' }} {{ myActivity.space.addressLine1 | summary : 70 }}</p>
                </div>
            </header>
            <div class="content-container">
                <div class="content-table">
                    <div class="content-table-status">
                        <div>
                            <p>Status</p>
                        </div>
                        <div>
                            <span *ngIf="myActivity.reservationStatus" class="status-label">{{ myActivity.reservationStatus.label }}</span>
                            <span *ngIf="!myActivity.reservationStatus" class="status-label">Not Available</span>
                        </div>
                    </div>
                    <div class="content-table-guest-details">
                        <div>
                            <p>Guest details</p>
                        </div>
                        <div>
                            <ul class="guest-details-list">
                                <li>
                                    <i class="fa fa-user"></i>
                                    <p>{{ myActivity.user.name || 'N/A' }}</p>
                                </li>
                                <li>
                                    <i class="fa fa-mobile-phone"></i>
                                    <p>{{ myActivity.user.mobile || 'N/A' }}</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p>{{ myActivity.user.email || 'N/A' }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-table-time">
                        <div>
                            <p>Reservation time</p>
                        </div>
                        <div>
                            <p>{{ getBlockDate(myActivity.dates[0]) }}</p>
                            <p *ngFor="let timeBlock of myActivity.dates | sort: 'fromDate'">{{ getBlockStartTime(timeBlock) +' - '+ getBlockEndTime(timeBlock)}}</p>
                        </div>
                    </div>
                    <div class="content-table-booking-made">
                        <div>
                            <p>Date booking was made</p>
                        </div>
                        <div>
                            <p> {{ getBookedDate(myActivity) }}</p>
                        </div>
                    </div>
                    <div class="content-table-event-type" *ngIf="myActivity.eventTypedetail">
                        <div>
                            <p>Event type</p>
                        </div>
                        <div>
                            <p>{{ myActivity.eventTypedetail.name }}</p>
                        </div>
                    </div>
                    <div class="content-table-seating" *ngIf="myActivity.seatingArrangement">
                        <div>
                            <p>Seating arrangement</p>
                        </div>
                        <div class="seating-content">
                            <img [src]="myActivity.seatingArrangement.mobileIcon" alt=""> <p>{{ myActivity.seatingArrangement.name }}</p>
                        </div>
                    </div>
                    <div class="content-table-guest-count">
                        <div>
                            <p>Expected guest count</p>
                        </div>
                        <div>
                            <p>{{ myActivity.guestCount || 'N/A' }}</p>
                        </div>
                    </div>
                    <div class="content-table-menus" *ngIf="myActivity.isBlock && myActivity.menu && myActivity.menu.length > 0">
                        <div>
                            <p>Menu</p>
                        </div>
                        <div>
                            <a class="btn btn-info menu-item-link" *ngFor="let menu of myActivity.menu; let idx = index;" (click)="showMenu(menu)">Menu {{idx + 1}}</a>
                        </div>
                    </div>
                    <div class="content-table-menus">
                        <div>
                            <p>Amenities</p>
                        </div>
                        <div *ngIf="!myActivity.isManual">
                            <div class="extras-type extras-type-comp" *ngIf="myActivity.space.amenities?.length > 0">
                                <p>Complimentary</p>
                                <ul>
                                    <li *ngFor="let amenity of myActivity.space.amenities | sort : 'id'"><i class="flaticon flaticon-{{amenity.icon}}"></i><p>{{ amenity.name }}</p></li>
                                </ul>
                            </div>
                            <div class="extras-type extras-type-chargeable" *ngIf="myActivity.extraAmenityList?.length > 0">
                                <p>Chargeable</p>
                                <ul>
                                    <li *ngFor="let amenity of myActivity.extraAmenityList | sort : 'id'"><i></i>
                                        <p><img [src]="amenity.mobileIcon" alt="">{{amenity.name}}</p>
                                        <p *ngIf="amenity.amenityUnit === 1">- LKR {{amenity.rate}} x {{amenity.count}} hour(s)</p>
                                        <p *ngIf="amenity.amenityUnit === 2"> - LKR {{amenity.rate}} x {{amenity.count}} person(s)</p>
                                        <p *ngIf="amenity.amenityUnit === 3"> - LKR {{amenity.rate}} x {{amenity.count}} unit(s)</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="myActivity.isManual">
                            <div>
                                <p>{{myActivity.space.extrasRequested || 'N/A'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-table-cancellation-policy" *ngIf="!myActivity.isManual">
                        <div><p>Cancellation policy</p></div>
                        <div class="cancellation-policy-content">
                            <p>{{ myActivity.space.cancellationPolicy.name }}</p> <p>{{ myActivity.space.cancellationPolicy.description }}</p>
                        </div>
                    </div>
                    <div class="content-table-cancellation-policy">
                        <div>
                            <p>Reservation Fee</p>
                        </div>
                        <div>
                            <p>{{ (myActivity.bookingCharge) ? (myActivity.bookingCharge | currency : 'LKR' : false:'.0-0') : 'N/A' }}</p>
                        </div>
                    </div>
                    <div class="content-table-cancellation-policy" *ngIf="myActivity.isManual">
                        <div>
                            <p>Remarks</p>
                        </div>
                        <div>
                            <textarea name="remarks" cols="30" rows="10" #remarks="ngModel" [(ngModel)]="myActivity.remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper" *ngIf="myActivity.payLater">
                    <a class="btn btn-primary" (click)="goToPayments(myActivity.id)">Pay Now</a>
                </div>
                <!--<div class="save-button-wrapper" *ngIf="myActivity.reservationStatus.id === 3 && time === 'upcoming' && !myActivity.isManual">
                    <button class="save-btn" (click)="onClickCancelBooking(booking)">Cancel Booking</button>
                </div>-->
            </div>
        </div>
    </form>
</section>

<div class="activity-details-popup-overlay" *ngIf="toggleMenu"></div>
<div class="activity-details-popup" *ngIf="toggleMenu">
    <a class="activity-details-popup-close" (click)="closeModal()"><i class="fa fa-times"></i></a>
    <div class="activity-details-popup-inner">
        <img src="{{bucketUrl +'/'+ menuData.url }}" alt="menu">
    </div>
</div>