<div class="row" *ngFor="let rowBookings of chunkBookings">
    <my-booking *ngFor="let booking of rowBookings"
                [booking]="booking"
                [time]="time"
                (onCancelBooking)="onCancelBooking($event)"
                (onReviewBooking)="onReviewBooking($event)"
                (onReviewedBooking)="onReviewedBooking($event)"
    >
    </my-booking>
</div>

<!--cancel booking popup-->
<div *ngIf="toBecancelledBooking" class="cancel-modal">
    <div class="manage-booking-cancellation-block manage-booking-cancellation-block-active"><!--manage-booking-cancellation-block-active-->
        <a class="cancellation-block-active-close" (click)="closeModal()"><i class="fa fa-times"></i></a>
        <div class="manage-booking-cancellation-image-wrapper">
            <img src="{{bucket}}/{{toBecancelledBooking.space.image}}" alt="">
        </div>
        <div class="manage-booking-cancellation-popup-details">
            <div class="manage-booking-cancellation-header">
                <h1>{{toBecancelledBooking.space.name}} <a (click)="goToSpace(toBecancelledBooking.space)">View Space <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></h1>
                <p><i class="fa fa-map-marker"></i>{{toBecancelledBooking.space.addressLine1 | summary : 40}}</p>
            </div>
            <div class="manage-booking-block-info-block">
                <div><i class="fa fa-clock-o"></i> {{ getFromTime(toBecancelledBooking) }} - {{ getEndTime(toBecancelledBooking) }}</div
                ><div><i class="fa fa-calendar"></i> {{ getEventDay(toBecancelledBooking) }}</div>
            </div>

            <div *ngIf="toBecancelledBooking.reservationStatus.id !== 2">
                <div class="cancellation-policy-block-info">
                    <p>Cancellation Policy</p>
                    <div class="refund-policy-level refund-policy-moderate">{{ toBecancelledBooking.space.cancellationPolicy.name }}</div
                    ><div>{{ toBecancelledBooking.space.cancellationPolicy.description }}</div>
                </div>
                <div *ngIf="isTodayWithinNoRefundSide(toBecancelledBooking)">
                    <p style="padding: 10px;">You will not receive a refund if you cancel this booking today.</p>
                </div>
                <div class="event-cancellation-time-line" *ngIf="!isTodayWithinNoRefundSide(toBecancelledBooking) && (toBecancelledBooking.space.cancellationPolicy.id === 1 || toBecancelledBooking.space.cancellationPolicy.id === 2)">
                    <div class="cancellable-portion" [style.width.%]="getCancellablePortian(toBecancelledBooking)" >
                        <div class="today-indi-text">Today</div>
                        <div class="date-left">{{ getToday() }}</div>
                        <div class="date-right">{{ getLastRefundDate(toBecancelledBooking) }}</div>
                    </div
                    ><div class="locked-portion" [style.width.%]="getNoRefundPortian(toBecancelledBooking)">
                        <div class="event-notice">Event Date</div>
                        <div class="date-right">{{ getEventDay(toBecancelledBooking) }}</div>
                    </div>
                </div>
                <div class="event-cancellation-time-line" *ngIf="!isTodayWithinNoRefundSide(toBecancelledBooking) && toBecancelledBooking.space.cancellationPolicy.id === 3">
                    <div class="locked-portion temp-class-attr" style="width: 100%">
                        <div class="today-indi-text">Today</div>
                        <div class="date-left">{{ getToday() }}</div>
                        <div class="event-notice">Event Date</div>
                        <div class="date-right">{{ getEventDay(toBecancelledBooking) }}</div>
                    </div>
                </div>
                <div class="time-line-legend-wrapper" *ngIf="!isTodayWithinNoRefundSide(toBecancelledBooking)">
                    <ul>
                        <li *ngIf="toBecancelledBooking.space.cancellationPolicy.id === 1"><span></span> Free cancellation</li>
                        <li *ngIf="toBecancelledBooking.space.cancellationPolicy.id === 2"><span></span> 50% refund</li>
                        <li><span></span> No refund</li>
                    </ul>
                </div>
                <div class="event-cancellation-pricing-info">
                    <div>
                        <div>Paid Amount</div><div>{{ toBecancelledBooking.bookingCharge | currency : 'LKR' : false:'.0-0' }}</div>
                    </div>
                    <div>
                        <div>Refund Amount</div><div>{{ getRefundAmount(toBecancelledBooking) | currency : 'LKR' : false:'.0-0' }}</div>
                    </div>
                </div>
            </div>

            <div class="manage-booking-block-upcoming-btns-holder">
                <a class="manage-booking-btn manage-booking-btn-cancel" (click)="cancelThisBooking(toBecancelledBooking)" >Cancel</a>
            </div>
        </div>
    </div>
    <div class="cancellation-block-popup-overlay cancellation-block-popup-overlay-active"></div><!--cancellation-block-popup-overlay-active-->
</div>

<!--add review window-->
<div class="ratings-modal-window" [class.ratings-modal-window-active]="toBeReviewBooking">
    <div class="ratings-modal-window-inner">
        <a class="cancellation-block-active-close" (click)="closeReviewModal()"><i class="fa fa-times"></i></a>
        <h2>Tell us about your experience!</h2>
        <div class="review-title-wrapper">
            <label>Review Title</label>
            <input type="text" [(ngModel)]="review.title" #reviewTitile="ngModel" class="mandatoryReviewField" maxlength="50" [class.space-count-zero-validation]="reviewTitile.touched && !reviewTitile.valid" required/>
        </div>
        <div class="review-blocks">
            <div class="review-block">
                <h3>Service</h3>
                <div class="services">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                </div>
            </div><div class="review-block">
                <h3>Cleanliness</h3>
                <div class="cleanliness">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                </div>
            </div><div class="review-block">
                <h3>Value for money</h3>
                <div class="value-for-money">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                </div>
            </div><div class="review-block">
                <h3>MillionSpaces experience</h3>
                <div class="ms-exp">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="description-blocks">
                <div class="description-block">
                    <label>Event experience</label>

                    <textarea [(ngModel)]="review.desc" #reviewDescription="ngModel" class="mandatoryReviewField" maxlength="700" [class.space-count-zero-validation]="reviewDescription.touched && !reviewDescription.valid" required></textarea>
                    <span class="word-count">{{700 - review.desc?.length}}</span>
                </div><div class="description-block">
                    <label>MillionSpaces experience</label>

                    <textarea [(ngModel)]="review.msExp" #msExpDescription="ngModel" class="mandatoryReviewField" maxlength="700" [class.space-count-zero-validation]="msExpDescription.touched && !msExpDescription.valid" required></textarea>
                    <span class="word-count">{{700 - review.msExp?.length}}</span>
                </div>
            </div>
            <div class="ratings-modal-submit-btn">
                <button
                        (click)="submitReview(review)"
                        [disabled]="reviewTitile.value == '' || reviewDescription.value == '' || msExpDescription.value == '' || !allFieldsRated()"
                        [class.disabled-submit-btn]="reviewTitile.value == '' || reviewDescription.value == '' || msExpDescription.value == '' || !allFieldsRated()"
                >
                    Submit Review
                </button>
            </div>
        </div>
    </div>
</div>

<!--preview added review window-->
<div class="ratings-modal-window" [class.ratings-modal-window-active]="reviewedData">
    <div class="ratings-modal-window-inner">
        <a class="cancellation-block-active-close" (click)="closePreview()"><i class="fa fa-times"></i></a>
        <h2>Tell us about your experience!</h2>
        <div class="review-title-wrapper">
            <label>Review Title</label>
            <input type="text" [value]="reviewedData?.title"  readonly/>
        </div>
        <div class="review-blocks">
            <div class="review-block">
                <h3>Service</h3>
                <div class="service">
                    <span [class.active-star]="starServices >= i + 1" *ngFor="let star of starCountArray; let i = index;">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div><div class="review-block">
            <h3>Cleanliness</h3>
            <div class="cleanliness">
                <span [class.active-star]="startCleanliness >= i + 1" *ngFor="let star of starCountArray; let i = index;">
                        <i class="fa fa-star"></i>
                </span>
            </div>
        </div><div class="review-block">
            <h3>Value for money</h3>
            <div class="value-for-money">
                 <span [class.active-star]="starValueForMoney >= i + 1" *ngFor="let star of starCountArray; let i = index;">
                        <i class="fa fa-star"></i>
                </span>
            </div>
        </div><div class="review-block">
            <h3>MillionSpaces experience</h3>
            <div class="ms-exp">
                <span [class.active-star]="startMSExp >= i + 1" *ngFor="let star of starCountArray; let i = index;">
                        <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
            <div class="description-blocks">
                <div class="description-block">
                    <label>Event experience</label>
                    <textarea readonly [value]="reviewedData?.description" class="mandatoryReviewField"></textarea>
                </div><div class="description-block">
                <label>MillionSpaces experience</label>
                <textarea readonly [value]="reviewedData?.msExperience" class="mandatoryReviewField"></textarea>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="ratings-modal-window-overlay" [class.ratings-modal-window-overlay-active]="toBeReviewBooking || reviewedData"></div>
