
            <div class="login-box">
                <div class="login-box-body">
                    <div *ngIf="!guestProceed">
                        <div class="social-auth-links text-center">
                            <span class="proceed-as-guest-link btn-guest btn-wrap-social" (click)="porceedAsGuest()"><i class="fa fa-user user-icon fa-icon"></i>Proceed as Guest</span>
                            <fb-sign-in [navigateTo]="returnUrl"></fb-sign-in>
                            <google-sign-in [navigateTo]="returnUrl"></google-sign-in>
                            <p class="divider">OR</p>
                            <form [formGroup]="form" #f="ngForm" novalidate>
                                <div class="form-group m-b-5" [class.has-error]="form.get('password').hasError('invalidLogin')">
                                    <input class="form-control user-input" placeholder="Email"
                                           type="text" [(ngModel)]="user.email" #email formControlName="email"
                                    >
                                </div>
                                <div class="form-group" [class.has-error]="form.get('password').hasError('invalidLogin')">
                                    <show-hide-input>
                                        <input class="form-control user-input" placeholder="Password" type="password" [(ngModel)]="user.password" #password formControlName="password" minlength="8" maxlength="60">
                                    </show-hide-input>
                                    <span class="field-error" *ngIf="form.get('password').hasError('invalidLogin')">
                                Wrong username or password.
                            </span>
                                    <span class="field-error" *ngIf="form.get('password').hasError('osxIssue')">
                                Private browsing is not supported for IOS operating systems.
                            </span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" id="signInBtn" class="btn btn-primary btn-block btn-flat btn-common" (click)="login(user)">Sign In</button>
                                    </div><!-- /.col -->
                                </div>
                            </form>
                            <div class="text-center login-bottom-msg">
                                <span class="forgot-pwd"><a (click)="showForgotPasswordForm()">Forgot your password?</a></span>
                                <span class="text-account">Don't have an account?<a routerLink="/user/signup" routerLinkActive="active" class="m-l-5"><b>Sign Up</b></a></span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="guestProceed">
                        <p class="login-box-msg">PROCEED AS GUEST</p>
                        <form #f="ngForm" (ngSubmit)="submitEmailForm(f.value)">
                            <input type="email" name="email" placeholder="Email" required [pattern]="emailPattern" class="form-control guest-email" ngModel #prmEmail="ngModel"/>
                            <button type="submit" [disabled]="f.invalid || prmEmail.errors" class="btn btn-lg btn-primary btn-block btn-common">PROCEED</button>
                        </form>
                        <div class="text-center login-bottom-msg">
                            <span>Already have an account?<a (click)="guestProceed = false" id="profile-signin-link-btn" class="m-l-5"><b>Sign In</b></a></span>
                        </div>
                    </div>
                </div><!-- /.login-box-body -->
            </div><!-- /.login-box -->
            <div *ngIf="isLoading">
                <main-pre-loader></main-pre-loader>
            </div>

            <!--forgot password-->
            <div *ngIf="showForgotPasswordScreen">
                <forgotpassword
                        (toggleScreen)="toggleScreen($event)"
                >
                </forgotpassword>
            </div>


