.login-box{
    font-size: 16px;
    position: relative;
    z-index: 999;
}
.form-control{
    padding: 12px 10px 12px 50px;
    font-size: 16px;
    color: #5a5a5a;
}
.form-control-icon{
    padding: 14px 12px 8px 6px;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

span.forgot-pwd {
    font-size: 12px;
}

span.forgot-pwd a:hover{
    color: #00adee;
}

/*forgot password styles*/

.sign-in-page-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: url('../../assets/img/bg-image.jpg');
    background-size: cover;
}
.sign-in-page-overlay-active {
    display: inline-block;
}
/** wrapper class: Reset **/
.forgot-password-reset-window {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 70px;
    z-index: 1000;
    position: fixed;
    background: #fff;
}
.forgot-password-reset-window-active {
    display: inline-block;
}
@media only screen and (min-width: 768px) {
    .forgot-password-reset-window {
        width: 460px;
        height: 390px;
        top: 50%;
        left: 50%;
        margin-top: -195px;
        margin-left: -230px;
    }
}
.forgot-password-reset-window  input[type=password] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}
.reset-pw-heading {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    padding: 0px;
    color: #969696;
}
.reset-pw-tips {
    color: #9b9b9b;
    font-weight: 400;
}
.reset-pw-tips > a {
    color: #7b7b7b;
    border-bottom: 1px dotted #7b7b7b;
    text-decoration: none;
    font-style: italic;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
    color: #9b9b9b;
}
::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
    color: #9b9b9b;
}
:-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
    color: #9b9b9b;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
    color: #9b9b9b;
}
.reset-button {
    text-align: center;
    border: 1px solid #5b92f1;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 10px;
    background: #5b92f1;
    transition: all 0.3s;
}
/** Send email **/
.forgot-password-send-email-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
    z-index: 1000;
    background: #fff;
}
.forgot-password-send-email-wrapper-active {
    display: inline-block;
}
@media only screen and (min-width: 768px) {
    .forgot-password-send-email-wrapper {
        width: 460px;
        height: 280px;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -230px;
    }
}
.forgot-password-send-email-wrapper input[type=email] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}
.reset-pw-heading {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    padding: 0px;
    color: #969696;
}
.forgot-password-send-email-wrapper h3{
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    padding: 0px;
    color: #969696;
}
.send-email-btns-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.send-email-btns-wrapper > a {
    text-align: center;
    border: 1px solid #5b92f1;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 10px;
    background: #5b92f1;
    transition: all 0.3s;
    width: 48%;
}
.send-email-btns-wrapper > a:last-child {
    margin-left: 2%;
}
.send-email-btns-wrapper > a:first-child {
    margin-right: 2%;
    border: 1px solid #5b92f1;
    background: #ffffff;
    color: #5b92f1;
}
.forgot-pw-email-sent-success {
    height: 250px;
    width: 400px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -200px;
    background: #ffffff;
    text-align: center;
    display: none;
}
.forgot-pw-email-sent-success i {
    display: inline-block;
    padding-top: 50px;
    font-size: 50px;
    width: 100%;
    color: #4eb142;
}
.forgot-pw-email-sent-success p {
    display: inline-block;
    padding-bottom: 60px;
    padding-top: 30px;
    font-size: 18px;
    color: #747474;
}
.forgot-pw-email-sent-success-active {
    display: inline-block;
}
.could-not-find-email {
    color: #dd6859;
    font-size: 10.5px;
    font-weight: bold;
}
.hoverEft:hover {
    color: #51c5e8;
    cursor: pointer;
}

.proceed-as-guest-link {
    margin-bottom: 3rem;
    display: block;
    background: dodgerblue;
    color: #FFFFFF;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}
.guest-email {
    margin: 1rem 0;
    padding: 12px 10px;
}
.user-icon {
    float: left;
    position: relative;
    left: 5px;
    top: 2px;
}
 hr {
     color: #0d1921 !important;
 }

.login-box-msg, .register-box-msg {
    border-bottom: none;
    font-weight: 700;
}

.login-box-body{
    background-color:#ffffff !important;
    min-height: 476px;
}        

.user-input {
       border: 1px solid #95d5f1;
       height: 38px;
       padding: 6px 12px !important;
       margin-bottom:1rem;
}
.btn-common{
    color: #252424;
    background-color: #ffdd57;
    border: 1px solid #fefefe;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem !important;
    width: 100%;
    margin: 10px 0;
    font-weight:500;
    outline: 0;
}

.btn-common:hover, .btn-common:active, .btn-common:focus{
      color: #252424 !important;
      background-color: #ffdd57 !important;
      outline: 0;
}

.guest-email {
      margin: 1.5rem 0;
}

.btn-guest {
    color: #fcf5f4;
    background-color: #29aae3;
    border: 1px solid #34aee4;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem !important;
    width: 100%;
    margin: 10px 0;
    font-weight:500;
  }
  .btn-wrap-social {
      position: relative;
      padding-left: 4.3rem !important;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 0;
      font-size: 1.4rem;
  }
  
    .btn-wrap-social > .fa-icon{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      line-height: 1.9rem;
      text-align: center;
      border-right: 1px solid rgba(199, 199, 199, 0.5);
      display: block;
      margin: 10px 0;
      font-size: 1.5rem;
    }

  .text-account{
      text-align: center;
      display: block;
      font-weight: 700;
      color:#252424;
  }

  .text-link{
    color: #03a3d3;
  }

  .text-account:hover{
      color:#252424;
  }

  .text-forgot {
      color: #4eb9e8;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      font-weight:500;
  }

  .divider {
      margin-top: 10px;
      text-align: center;
      color: #818286;
  }

  .social-auth-links{
      border-bottom: 0 !important;
  }

  .has-error .form-control {
      border: 1px solid #c40000!important;
      box-shadow: none;
      background-color:transparent;
  }

  .field-error{
      color: #c40000 !important;
      text-align:left !important;
      font-size:1.2rem;
      margin-top: -1rem;
  }