<div class="payment-wrapper">
    <spinner *ngIf="isLoading"></spinner>
    <iframe class="paymentGateway" name="hidden_iframe" frameBorder="0" scrolling="no" (load)="onLoad()" ></iframe>
</div>
<!--{{paymentAPI}}-->
<!--{{paymentSummaryData | json}}-->
<form target="hidden_iframe" action="{{paymentAPI}}/api/payment" method="post" #form>
    <input type="hidden" name="bookingId" [value]="paymentSummaryData?.bookingId"/>
    <input type="hidden" name="payLaterEnabled" [value]="paymentSummaryData?.payLaterEnabled"/>
    <input type="hidden" name="manualPaymentAllowed" [value]="paymentSummaryData?.manualPaymentAllowed"/>
    <input type="hidden" name="referenceId" [value]="paymentSummaryData?.referenceId" />
    <input type="hidden" name="spaceName" [value]="paymentSummaryData?.space" />
    <input type="hidden" name="organization" [value]="paymentSummaryData?.organization" />
    <input type="hidden" name="address" [value]="paymentSummaryData?.address" />
    <input type="hidden" name="reservationDate" [value]="paymentSummaryData?.date" />
    <input type="hidden" name="reservationTime" [value]="paymentSummaryData?.reservationTime" />
    <input type="hidden" name="total" [value]="paymentSummaryData?.total" />
    <input type="hidden" name="promotion" [value]="paymentSummaryData?.promotion" />
    <input type="hidden" name="ios_device" [value]="isiOSDevice">
</form>
