<form method="post" action="https://www.hnbpg.hnb.lk/SENTRY/PaymentGateway/Application/ReDirectLink.aspx" #form>
    <input type='hidden' id='Version'  name='Version' value="1.0.0" >
    <input type='hidden' id='MerID' [value]="merID" name='MerID' >
    <input type='hidden' id='AcqID' [value]="acqID" name='AcqID' >
    <input type='hidden' id='MerRespURL' [value]="merRespURL" name='MerRespURL'>
    <input type='hidden' id='PurchaseCurrency' [value]="purchaseCurrency" name='PurchaseCurrency'>
    <input type='hidden' id='PurchaseCurrencyExponent'  [value]="purchaseCurrencyExponent" name='PurchaseCurrencyExponent'>
    <input type='hidden' id='OrderID' [value]="orderId" name='OrderID' >
    <input type='hidden' id='SignatureMethod' [value]="signatureMethod" name='SignatureMethod'>
    <input type='hidden' id='Signature' [value]="signature" name='Signature'>
    <input type='hidden' id='CaptureFlag' [value]="captureFlag" name='CaptureFlag' >
    <input type='hidden' id='PurchaseAmt' [value]="purchaseAmount" name='PurchaseAmt' >
</form>

<div class="payment-options-info-wrapper">
    <div class="payment-options-info-wrapper-inner">
        <div class="payment-options-info-header">
            <h1>Payment Summary</h1>
        </div>
        <div class="payment-info-table">
            <div class="payment-opt-info-row">
                <div class="">Reference ID</div><div class="">{{paymentSummaryData.referenceId}}</div>
            </div>
            <div class="payment-opt-info-row">
                <div class="">Space</div><div class="">{{paymentSummaryData.space}}</div>
            </div>
            <div class="payment-opt-info-row">
                <div class="">Organization</div><div class="">{{paymentSummaryData.organization ? paymentSummaryData.organization : 'N/A'}}</div>
            </div>
            <div class="payment-opt-info-row">
                <div class="">Address</div><div class="">{{paymentSummaryData.address}}</div>
            </div>
            <div class="payment-opt-info-row">
                <div class="">Date</div><div class="">{{paymentSummaryData.date}}</div>
            </div>
            <div class="payment-opt-info-row" *ngIf="!paymentSummaryData.manageBooking">
                <div>Reservation Time</div><div>
                    <div *ngFor="let block of paymentSummaryData.reservationTime">{{ getFormattedDate(block.fromDate) }} to {{ getFormattedDate(block.toDate) }}</div>
                </div>
            </div>
            <div class="payment-opt-info-row" *ngIf="paymentSummaryData.manageBooking">
                <div>Reservation Time</div><div>
                <div *ngFor="let block of paymentSummaryData.reservationTime">
                    <div>{{ block.fromDate }} to {{ block.toDate }}</div>
                </div>
            </div>
            </div>
            <div class="payment-opt-info-row payment-option-info-total">
                <div class="">Total</div><div class="">{{paymentSummaryData.total | currency : 'LKR': false:'.0-0'}}</div>
            </div>
        </div>
        <div class="payments-options-info-options">
            <h4>Payment options</h4>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="col-xs-6">Instant Confirmation</th>
                        <th class="col-xs-6">Tentative Reservation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-6">
                            <div class="payment-option">
                                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[0])" checked [disabled]="paymentSummaryData.total == 0"> <img src="../../../assets/img/cc-visa.png" alt="Visa Cards"> <img src="../../../assets/img/cc-master.png" alt="maseter cards">
                            </div>
                        </td>
                        <td [attr.rowspan]="paymentSummaryData.total == 0 ? 4 : 3">
                            <div class="payment-option" *ngIf="paymentSummaryData.payLaterEnabled">
                                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[4])"> <p class="bnpl">Book now pay later</p>
                            </div>
                            <div class="payment-option" *ngIf="!paymentSummaryData.payLaterEnabled">
                                <span>Not Available</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="dateDifference">
                        <td colspan="1">
                            <div class="payment-option" *ngIf="dateDifference > 24">
                                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[1])" [disabled]="paymentSummaryData.total == 0"> <p>Online Bank Transfer</p>
                                <span *ngIf="selectedPaymentOption.id === 2" class="payment-opt-note">Subject to a 24-hour payment window.</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="dateDifference">
                        <td colspan="1">
                            <div class="payment-option" *ngIf="dateDifference > 24">
                                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[2])" [disabled]="paymentSummaryData.total == 0"> <p>Bank Account Deposit</p>
                                <span *ngIf="selectedPaymentOption.id === 3" class="payment-opt-note">Subject to a 24-hour payment window.</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="paymentSummaryData.total == 0">
                        <td colspan="1">
                            <div class="payment-option infinity-for-promo">
                                <input type="radio" name="paymentOption" checked> <p>Free Hot Desk Booking</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<div class="payment-option">
                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[0])" checked [disabled]="paymentSummaryData.total == 0"> <img src="../../../assets/img/cc-visa.png" alt="Visa Cards"> <img src="../../../assets/img/cc-master.png" alt="maseter cards">
            </div>
            <div class="payment-option" *ngIf="dateDifference > 24">
                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[1])" [disabled]="paymentSummaryData.total == 0"> <p>Online Bank Transfer</p>
                <span *ngIf="selectedPaymentOption.id === 2" class="payment-opt-note">Subject to a 24-hour payment window.</span>
            </div>
            <div class="payment-option" *ngIf="dateDifference > 24">
                <input type="radio" name="paymentOption" (change)="onSelectionChange(paymentOptions[2])" [disabled]="paymentSummaryData.total == 0"> <p>Bank Account Deposit</p>
                <span *ngIf="selectedPaymentOption.id === 3" class="payment-opt-note">Subject to a 24-hour payment window.</span>
            </div>
            <div class="payment-option infinity-for-promo" *ngIf="paymentSummaryData.total == 0">
                <input type="radio" name="paymentOption" checked> <p>Free Hot Desk Booking</p>
            </div>-->
        </div>
        <div class="clock-and-btns-wrapper">
            <div class="ipgClock" disabled="true"></div>
        </div>
        <div class="payment-options-buttons-wrapper">
            <a id="cnt-payment" (click)="proceedToConfirm()" class="paymentBtnOption">Next</a>
        </div>
    </div>
</div>

<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>

<div class="contact-number-modal-overlay" *ngIf="showAddContactModal">
    <div class="contact-number-modal">
        <form (ngSubmit)="submitContactForm(contactFrom.value)" #contactFrom="ngForm">
            <div>
                <p class="contact-number-title">Please enter your contact number to proceed</p>
            </div>
            <div>
                <input class="contact-number-text"
                       type="tel"
                       name="contactNumber"
                       autocomplete="off"
                       [(ngModel)]="user.mobileNumber"
                       required
                       minlength="10"
                       maxlength="10"
                       OnlyNumber="true">
            </div>
            <div>
                <button type="submit" class="btn contact-number-submit" id="mobile-confirm-btn"  [disabled]="contactFrom.invalid">Confirm</button>
                <button type="button" class="btn contact-number-cancel" (click)="showAddContactModal = !showAddContactModal" >Cancel</button>
            </div>
        </form>
    </div>

</div>
