.payment-options-info-wrapper {
    display: inline-block;
    margin: 60px 0 0;
    width: 100%;
    text-align: center;
}
.payment-options-info-wrapper-inner {
    display: inline-block;
    width: 100%;
    padding: 6px;
}

@media only screen and (min-width: 768px) {
    .payment-options-info-wrapper-inner {
        width: 50%;
        padding: 0;
    }
}

.payment-options-info-header {
    text-align: left;
}
.payment-options-info-header h1 {
    font-weight: 300;
    font-size: 26px;
}
.payment-info-table  {
    text-align: left;
}
.payment-opt-info-row > div {
    display: inline-block;
    width: 50%;
    padding: 10px;
    vertical-align: middle;
}
.payment-opt-info-row > div:first-child {
    width: 35%;
}
.payment-opt-info-row > div:last-child {
    width: 65%;
}
.payment-opt-info-row {
    border: 1px solid #e2e2e2;
    font-weight: 300;
}
.payment-opt-info-row:nth-child(odd) {
    background: #f7f7f7;
}
.payment-opt-info-row:not(:last-child) {
    border-bottom: none;
}
.payment-opt-info-row > div:last-child {
    border-left: 1px solid #e2e2e2;
}
.payments-options-info-options {
    text-align: left;
}
.payments-options-info-options > h4 {
    font-weight: 300;
    font-size: 26px;
}
.payment-option > img {
    width: 60px;
}
.payment-option > p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: 500;
}
.payment-option > input {
    vertical-align: middle;
    margin-top: 0;
}
.payment-option  {
    margin-bottom: 10px;
}
.payment-options-buttons-wrapper {
    text-align: right;
    margin-bottom: 20px;
}
.payment-options-buttons-wrapper > a {
    display: inline-block;
    padding: 5px 50px;
    background: #5b92f1;
    color: #fff;
}
.payment-options-buttons-wrapper > a:hover {
    color: #fff!important;
}
.payment-option-info-total > div {
    font-weight: bold;
}
.payment-opt-note {
    display: block;
    font-size: 12px;
    padding-left: 17px;
    font-weight: 300;
    font-style: italic;
}
.ipgClock {
    -moz-transform: scale(0.3);
    -webkit-transform: scale(0.3);
}
.infinity-for-promo p {
    font-weight: bold;
}
/* contact number modal styles */
.contact-number-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

.contact-number-modal {
    width: 350px;
    height: 180px;
    z-index: 1000;
    background: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -140px;
    left: 50%;
    margin-left: -175px;
}

.contact-number-title {
    margin-top: 30px;
    font-size: 18px;
}

.contact-number-text {
    width: 80%;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.contact-number-submit {
    background: #5b92f1;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}

.contact-number-cancel {
    border: 1px solid #5b92f1;
    color: #5b92f1;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: #ffffff;
}

.close-number-modal {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    padding: 10px;
    color: tomato;
}

p.bnpl {
    text-transform: uppercase;
    color: #004dcd;
}
/* end of  contact number modal styles */