<div class="user-profile-edit-wrapper">
    <div class="show-hide-sidebar">
        <i class="fa fa-bars" aria-hidden="true" (click)="toggleSideBar()"></i>
    </div>
    <aside class="up-edit-sidebar" [ngClass]="{'sidebar-open': mobileSidebarOpen, 'sidebar-close': !mobileSidebarOpen }">
        <ul>
            <li (click)="goToMyProfile()"><a [class.activeLink]="profileActive"><i class="fa fa-user"></i> My Profile</a></li>
            <li (click)="goToMySpaces()"><a [class.activeLink]="mySpacesActive"><i class="fa fa-building" aria-hidden="true"></i> My Spaces</a></li>
            <!--<li routerLinkActive="up-link-active"><a routerLink="/user/profile/availability"><i class="fa fa-check-square-o" aria-hidden="true"></i> Availability</a></li>-->
            <li (click)="goToMyActivities()"><a [class.activeLink]="myActivitiesActive"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> My Activities</a></li>
            <!--<li routerLinkActive="up-link-active"><a routerLink="/user/profile/test"><i class="fa fa-user"></i> TEST</a></li>-->
        </ul>
    </aside>
    <div class="up-edit-content">
        <div class="up-edit-content-inner">
            <router-outlet></router-outlet>
         </div><!-- /.up-edit-content-inner -->
    </div><!-- /.up-edit-content -->
</div><!-- /.user-profile-edit-wrapper -->
