<div class="press-page-wrapper">
   <div class="press-page-cover"><img src="/assets/img/press/press-title.png" alt=""></div>

   <div class="container-press">
       <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <img class="press-img" src="/assets/img/press/p-thumb1.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                        <h1>MillionSpaces: An innovative solution to finding locations</h1>
                        <a href="http://www.sundaytimes.lk/180204/magazine/millionspaces-an-innovative-solution-to-finding-locations-279154.html" target="_blank">Sunday Times</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <img class="press-img" src="/assets/img/press/p-thumb2.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                        <h1>MillionSpaces – booking event spaces, redefined</h1>
                        <a href="http://www.dailymirror.lk/article/MillionSpaces-booking-event-spaces-redefined-144118.html" target="_blank">Daily Mirror</a>
                    </div>
                </div>
            </div>
       </div>
       <div class="row">

            <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="press-img" src="/assets/img/press/p-thumb3.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <h1>Auxenta opens new office dedicated to product innovation</h1>
                            <a href="http://www.ft.lk/article/618771/Auxenta-opens-new-office-dedicated-to-product-innovation" target="_blank">Daily FT</a>
                        </div>
                    </div>
                </div>
       </div>
       
   </div>
</div>