<div class="promotion-wrapper">
    <div class="card">
        <div class="card-wrapper">
            <h4 class="title">Thank You</h4>
            <p>Your booking is successfully confirmed!</p>
        </div>
    </div>
</div>



