
<div class="info-wrappers">
    <div class="prof-pick-wrapper">
        <div class="profile-pick-holder">
            <img [src]="user.imageUrl" onError="this.src='../assets/img/user.png';">
        </div>
    </div><!-- /.prof-pick-wrapper -->
    <div>
        <form name="profile-form" #f="ngForm" >
        <div class="row">
                <div class="col-md-6">
                    <div class="basic-info-wrapper">
                        <h2>Basic Information</h2>
                        <ul>
                            <li>
                                <label>Name: </label><input type="text" required [(ngModel)]="user.name" [value]='user.name' name="userName" maxlength="60" pattern="[ a-zA-Z]+">
                            </li>
                            <li>
                                <label>Email: </label><input type="text" [value]='user.email' readonly name="email" maxlength="254">
                            </li>
                            <li>
                                <label>Mobile Number: </label><input class="phone-number"
                                       type="text"
                                       required
                                       minlength="10"
                                       maxlength="10"
                                       name="mobile" OnlyNumber="true" [(ngModel)]="user.mobileNumber" [value]='user.mobileNumber'>
                            </li>
                            <li>
                                <label>Date of Birth: </label>
                                <div id="user-dob" class="input-group date" data-date="" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd" data-link-field="dob">
                                    <input class="form-control"  type="text" [value]="user.dateOfBirth" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dob" value="" />
                            </li>
                            <li>
                                <label>Anniversary: </label>
                                <div id="user-anniv" class="input-group date" data-date="" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd" data-link-field="annv">
                                    <input class="form-control"  type="text" [value]="user.anniversary" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="annv" value="" />
                            </li>
                        </ul>
                    </div><!-- /.basic-info-wrapper -->
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="companay-info-wrapper">
                        <h2>Organization Information</h2>
                        <ul>
                            <li>
                                <label>Company name: </label><input type="text" name="companyName" [(ngModel)]="user.companyName" [(value)]="user.companyName" maxlength="32">
                            </li>
                            <li>
                                <label>Address: </label><input required type="text" [(ngModel)]="user.address" [value]='user.address' name="address" maxlength="85" minlength="1">
                            </li>
                            <li>
                                <label>Job Title: </label><input type="text" [(ngModel)]="user.jobTitle" [(value)]="user.jobTitle" name="jobTitle" maxlength="40">
                            </li>
                            <li>
                                <label>Company Phone: </label><input type="text"
                                       required
                                       minlength="10"
                                       maxlength="10"
                                       OnlyNumber="true"
                                       name="companyForm"
                                       [(ngModel)]="user.companyPhone"
                                       [(value)]="user.companyPhone">

                            </li>
                        </ul>
                    </div><!-- /.companay-info-wrapper -->
                </div><!-- /.col-md-6 -->

                <div class="col-md-12">
                    <div class="btn-wrapper"><a (click)="saveUser(user)" class="btn btn-primary" [class.disabled]="f.invalid">Save Information</a></div>
                </div>
        </div><!-- /.row -->
            </form>
    </div><!-- /.container -->
</div><!-- /.info-wrappers -->

