<div class="about-ms">
    <div class="about-ms-inner">
        <div>
            <h3 class="abt-ms-title">About MillionSpaces</h3>
            <p>Find Your Space</p>
            <p>MillionSpaces, a product of Auxenta, is a marketplace where guests can discover, pay and book unique spaces online. We host a range of spaces that accommodate parties, conferences, meetings, interviews, trainings, photoshoots, weddings, hot desks, sports and concerts.</p>
            <p>If you own a space that's worth sharing, you can list your space by entering some basic information and photographs, for no upfront fees. We will ensure that your space is recognized and featured on many promotional channels.</p>
            <a href="assets/ms-flyer/MS_Flyer.pdf" class="download-email-dk" id="downloadFlyerBtn">Download Flyer</a>
        </div><div>
            <h3>Core Values</h3>
            <ul>
                <li>New ideas nurtured</li>
                <li>Great service, time and time again</li>
                <li>Be positive, get it done</li>
                <li>Show respect, without exception</li>
                <li>Do the right thing, always</li>
                <li>Above all, be human</li>
                <li>Listen attentively, work smartly</li>
                <li>Reflect, learn, have fun</li>
                <li>Rise by lifting others</li>
            </ul>
        </div>
    </div>
</div><!-- /.about-ms -->

<div class="container profile-container">
    <div class="row top-pad">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
            <span class="section-heading">THE <span class="ms-c">BOARD</span></span>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-sm-4 text-center profile-wrapper">
            <img class="img-circle" src="http://res.cloudinary.com/dgcojyezg/image/upload/v1536975903/ms-mobile-web/prasath-thumb.png">
            <span class="profile-name">Prasath Nanayakkara</span>
            <ul class="profile">
                <li>MIT Graduate (BS in EE) and MBA holder from INSEAD, France</li>
                <li>Senior Tech Lead of Kenan Billing Platform - Acquired by Lucent for $1B</li>
                <li>Former Head of Technology Delivery at Virtusa, a global IT service firm</li>
                <li>Extensive global experience driving product and technology innovations</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 text-center profile-wrapper">
            <img class="img-circle" src="http://res.cloudinary.com/dgcojyezg/image/upload/v1536975903/ms-mobile-web/shahani-thumb.png">
            <span class="profile-name">Shahani Markus</span>
            <ul class="profile">
                <li>PhD holder in Computer Science from Purdue University, USA</li>
                <li>Extensive global experience in industry, government and academia</li>
                <li>Former CTO at the ICT Agency, the apex ICT institution of the Government of Sri Lanka</li>
                <li>Managed a portfolio of IT initiatives valued over $50 million</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 text-center profile-wrapper">
            <img class="img-circle" src="http://res.cloudinary.com/dgcojyezg/image/upload/v1536975903/ms-mobile-web/rizwan-thumb.png">
            <span class="profile-name">Rizwan Virk</span>
            <ul class="profile">
                <li>BS in Computer Science from MIT</li>
                <li>Author of "ZEN Entrepreneurship: Walking the Path of the Career Warrior"</li>
                <li>CEO and Co-Founder of Midverse Studios</li>
                <li>CEO and Co-Founder of GameView Studios - Sold to DeNA</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>

    <img class="team-photo" src="assets/img/team_ms.jpg" alt="">

<div class="team-p-w">
    <div class="container">
        <div>
            <p>The way a team plays as a whole determines its success. You may have the greatest bunch of individual stars in the world, but if they don't play together, the club won't be worth a dime.<span> - Babe Ruth</span></p>
        </div>
    </div>
</div>

