<div class="row">
    <div class="col-xs-12 p-x-130 m-md-p-l-0 m-xs-p-x-0 m-t-15 booking-info">
        <form [formGroup]="form" #f="ngForm" novalidate (ngSubmit)="payNow($event)">
            <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 payment-info">
                <div class="form-group">
                    <div class="card-wrapper"></div>
                </div>
                <div class="col-md-12 col-lg-6">

                    <div class="form-group" [class.has-error]="form.get('chName').touched && form.get('chName').errors">
                        <label>Enter Credit Card Details</label>
                        <input type="text" name="name" class="form-control" placeholder="Full name" [(ngModel)]="billingInfo.cardDetails.cardHolderName" #chName formControlName="chName">
                        <span [class.field-error]="form.get('chName').touched && !form.get('chName').valid"
                              *ngIf="form.get('chName').touched && !form.get('chName').valid">
                            *
                        </span>
                    </div>
                    <!--<div class="form-group  display-in-block">
                        <div class="pull-left m-r-10">
                            <label class="radio"><input type="radio" [checked]="form.get('cardNumber).errors?.validateCard?.visa" value="visa" name="cardType"><span class="m-l-10"><img class="w-50" src="../assets/img/card-visa.jpg"></span></label>
                        </div>
                        <div class="pull-left m-r-10">
                            <label class="radio"><input type="radio" value="american" name="cardType"><span class="m-l-10"><img class="w-50" src="../assets/img/card-american.jpg"></span></label>
                        </div>
                        <div class="pull-left">
                            <label class="radio"><input type="radio" value="master" name="cardType"><span class="m-l-10"><img class="w-50" src="../assets/img/card-master.jpg"></span></label>
                        </div>
                    </div>-->
                    <div class="form-group" [class.has-error]="form.get('cardNumber').touched && form.get('cardNumber').errors">
                        <input type="tel" name="number" class="form-control" placeholder="Card Number" #cardNumber formControlName="cardNumber" [(ngModel)]="billingInfo.cardDetails.cardNumber" id="cardNumber">
                        <span [class.field-error]="form.get('cardNumber').touched && !form.get('cardNumber').required"
                              *ngIf="form.get('cardNumber').touched && form.get('cardNumber').hasError('required')">
                            *
                        </span>
                        <span [class.field-error]="form.get('cardNumber').touched && form.get('cardNumber').hasError('invalid')"
                              *ngIf="form.get('cardNumber').touched && form.get('cardNumber').hasError('invalid')">
                            Invalid card number
                        </span>
                    </div>
                    <div class="form-group pull-left" [class.has-error]="form.get('expire').touched && form.get('expire').errors">
                        <input class="form-control w-100" placeholder="MM/YY" type="tel" name="expiry" [(ngModel)]="billingInfo.cardDetails.expire" #expire formControlName="expire" id="expire">
                        <span *ngIf="form.get('expire').touched && form.get('expire').hasError('required')">
                            *
                        </span>
                        <span [class.field-error]="form.get('expire').touched && form.get('expire').hasError('invalid')"
                              *ngIf="form.get('expire').touched && form.get('expire').hasError('invalid')">
                            Invalid Expiration Date
                        </span>
                    </div>
                    <div class="form-group pull-right" [class.has-error]="form.get('cvc').touched && form.get('cvc').errors">
                        <input class="form-control w-70" placeholder="CVC" type="tel" name="cvc" [(ngModel)]="billingInfo.cardDetails.cvc" #cvc formControlName="cvc" id="cvc">
                        <span *ngIf="form.get('cvc').touched && form.get('cvc').hasError('required')">
                            *
                        </span>
                        <span [class.field-error]="form.get('cvc').touched && form.get('cvc').hasError('invalid')"
                              *ngIf="form.get('cvc').touched && form.get('cvc').hasError('invalid')">
                            Invalid CVV
                        </span>
                    </div>
                </div>

                <div class="clearfix visible-sm visible-xs"></div>
                <div class="col-md-12 col-lg-6 m-lg-m-t-20 m-xs-m-b-70">
                    <div class="form-group" [class.has-error]="form.get('addressLine1').touched && form.get('addressLine1').errors">
                        <label>Billing Information</label>
                        <input type="text" class="form-control" placeholder="Address Line 1" [(ngModel)]="billingInfo.addressLine1" #addressLine1 formControlName="addressLine1" maxlength="100">
                        <span *ngIf="form.get('addressLine1').touched && form.get('addressLine1').errors">
                            *
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address Line 2" [(ngModel)]="billingInfo.addressLine2" #addressLine2 formControlName="addressLine2" maxlength="100">
                    </div>
                    <div class="form-group" [class.has-error]="form.get('city').touched && form.get('city').errors">
                        <input type="text" class="form-control" placeholder="City" [(ngModel)]="billingInfo.city" #city formControlName="city" maxlength="100">
                        <span *ngIf="form.get('city').touched && form.get('city').errors">
                            *
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{selectedCountry.name}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let country of countyList" (click)="selectCountry(country)"><a>{{country.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="form.get('postal').touched && form.get('postal').errors">
                        <input type="text" class="form-control" placeholder="Postal Code" [(ngModel)]="billingInfo.postalCode" #postal formControlName="postal" (keypress)="digitsInput($event)" maxlength="10">
                        <span *ngIf="form.get('postal').touched && form.get('postal').errors">
                            *
                        </span>
                    </div>
                    <div class="form-group" [class.has-error]="form.get('phone').touched && form.get('phone').errors">
                        <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="billingInfo.phone" #phone formControlName="phone" (keypress)="digitsInput($event)" maxlength="10" id="phone">
                        <span *ngIf="form.get('phone').touched && form.get('phone').hasError('required')">
                            *
                        </span>
                        <span *ngIf="form.get('phone').touched && form.get('phone').hasError('minlength')">
                            Add a valid phone number
                        </span>
                    </div>
                </div>
            </div>
            <div class="booking-box animated slideInUp">
                <div class="booking-box-headding text-center">
                    <span class="font-20">Order Summary</span>
                </div>
                <div class="booking-box-body">
                    <div class="col-xs-12 p-x-0">
                        <div class="col-xs-12 p-x-0 m-t-10">
                            <div class="col-xs-12 p-x-0 m-b-10">
                                <div class="fixed-dates">
                                    {{userSpace.fromDate | formatDate}}
                                </div>
                            </div>
                            <div class="col-xs-12 p-x-0">
                                <div class="fixed-dates">
                                    {{userSpace.toDate | formatDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-x-0 m-t-10">
                        <div class="col-xs-12 values-box">
                            <div class="form-horizontal">
                                <div class="form-group border-b m-b-5">
                                    <label class="col-xs-8 p-l-0 control-label text-left">Space price (<span class="small">{{sellingCurency}}</span> {{userSpace.space.ratePerHour}} * {{ getNumberOfHours() | number : '.2-2'}} Hrs)</label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{userSpace.space.ratePerHour * ( getNumberOfHours()) | number : '.2-2'}}</p>
                                    </div>
                                </div>
                                <div class="form-group m-b-0" *ngIf="userSpace.extraAmenityList.length > 0">
                                    <label class="col-xs-12 p-l-0 control-label text-left blue font-large">Extras</label>
                                </div>
                                <div class="form-group m-b-0 " *ngFor="let amenity of userSpace.extraAmenityList">
                                    <label class="col-xs-8 p-l-0 control-label text-left">{{amenity.name}} ({{amenity.count}} x <span class="small">{{sellingCurency}}</span> {{amenity.rate}})</label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{amenity.count *  amenity.rate | number : '.2-2'}}</p>
                                    </div>
                                </div>
                                <!--<div class="form-group m-b-0 border-t">
                                    <label class="col-xs-8 p-l-0 control-label text-left">Sub Total</label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{getTotalRate() | number : '.2-2'}}</p>
                                    </div>
                                </div>-->
                                <!--<div class="form-group m-b-0">
                                    <label class="col-xs-8 p-l-0 control-label text-left">Processing Fee</label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{getTotalRate() * 0.05 | number : '.2-2'}}</p>
                                    </div>
                                </div>-->
                                <div class="form-group m-b-0 border-t">
                                    <label class="col-xs-8 p-l-0 control-label text-left">Grand Total</label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{ userSpace.bookingCharge }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right m-t-20 p-x-0">
                            <button [disabled]="!f.valid" *ngIf="userSpace.reservationStatus.id === 2" class="btn btn-primary request-btn">PAY <span class="small">{{sellingCurency}}</span> {{ userSpace.bookingCharge }}</button>
                            <button *ngIf="userSpace.reservationStatus.id === 3" class="btn btn-primary request-btn" disabled>PAID <span class="small">{{sellingCurency}}</span> {{ userSpace.bookingCharge | number : '.2-2'}}</button>
                        </div>
                    </div>
                    <div class="mobile-close-btn-container visible-xs">
                        <span class="mobile-close-btn"><i class="flaticon flaticon-close"></i></span>
                    </div>
                </div>
            </div>
            <div class="mobile-booking-btn-container">
                <button [disabled]="!f.valid" type="button" class="btn btn-danger mobile-booking-btn">Confirm to pay</button>
            </div>
        </form>

    </div>
</div>
<modal-component [modalComponentData]="modalComponentData"></modal-component>