<div class="show-filters-handler" (click)="toggleFilters()"><i class="fa fa-filter" aria-hidden="true"></i></div>
<aside class="main-aside filters-wrapper" [class.main-aside-landing]="searchDataRequest.isSocialMedia === 1" [class.main-aside-mobile-active]="showFilterSMobile">

    <div class="filter-panel" *ngIf="filterCount > 0" style="display: none;">
        <label>Filters({{filterCount}})</label>
    </div>
    <!--event types social-->
    <div class="filter-panel" *ngIf="searchDataRequest.isSocialMedia === 1">
        <a class="explore-all" (click)="exploreAllEventTypes()" >Explore all event types</a>
    </div>

    <!--Date & Time-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="dateFilterEnabled" (click)="onClickDateFilter()">
            <h3><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Date & Time</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': dateFilterEnabled, 'fa-angle-down': !dateFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': dateFilterEnabled,
                'close-filter-panel': !dateFilterEnabled
             }">
            <div class="form-group">
                <div class="input-group date available-from" data-date="">
                    <input class="form-control" size="16" type="text" readonly placeholder="From" [value]="availableFrom | formatDate">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
        </div>
    </div>

    <!--location-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="locationFilterEnabled" (click)="onClickLocationFilter()">
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': locationFilterEnabled, 'fa-angle-down': !locationFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': locationFilterEnabled,
                'close-filter-panel': !locationFilterEnabled
             }">
            <div class="form-group">
                <input type="text"
                       id="search-box"
                       class="form-control"
                       placeholder="Space Location"
                       (change)="changeLocation($event)"
                       [value]="searchDataRequest?.location?.address">
            </div>
        </div>
    </div>

    <!-- event Type-->
    <div class="filter-panel" *ngIf="eventTypes">
        <div class="filter-panel-header" [class.filter-panel-header-open]="eventFilterEnabled" (click)="onClickEventsFilter()">
            <h3><i class="fa fa-ticket" aria-hidden="true"></i> Event Type</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': eventFilterEnabled, 'fa-angle-down': !eventFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': eventFilterEnabled,
                'close-filter-panel': !eventFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let event of eventTypes">
                    <label class="control control--checkbox" (change)="changeEvent(event)">{{event.name}}
                        <input type="checkbox" [checked]="event.checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <!--<a (click)="resetEventsFilter()">Reset Events</a>-->
    </div>

    <!--Indicative Price Per Hour-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="rateFilterEnabled" (click)="onClickRateFilter()">
            <h3><i class="fa fa-money" aria-hidden="true"></i> Starting Price</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': rateFilterEnabled, 'fa-angle-down': !rateFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': rateFilterEnabled,
                'close-filter-panel': !rateFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let option of ratePerHourOptions">
                    <label class="control control--checkbox" (change)="changeBudget(option)" >{{option.label}}
                        <input type="checkbox" [checked]="option.checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--space types-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="spaceTypeFilterEnabled" (click)="onClickSpaceTypeFilter()">
            <h3><i class="fa fa-building" aria-hidden="true"></i> Space Type</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': spaceTypeFilterEnabled, 'fa-angle-down': !spaceTypeFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body" [ngClass]="{
                'open-filter-panel': spaceTypeFilterEnabled,
                'close-filter-panel': !spaceTypeFilterEnabled
             }">
            <div class="form-group">
                <div>
                    <label class="control control--checkbox" (change)="changeSpaceType(1)">Indoor
                        <input type="checkbox" [checked]="searchDataRequest.spaceType.indexOf(1) !== -1"  />
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div>
                    <label class="control control--checkbox" (change)="changeSpaceType(2)">Outdoor
                        <input type="checkbox" [checked]="searchDataRequest.spaceType.indexOf(2) !== -1"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div>
                    <label class="control control--checkbox" (change)="changeSpaceType(3)">Indoor & Outdoor
                        <input type="checkbox" [checked]="searchDataRequest.spaceType.indexOf(3) !== -1"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <!--<a (click)="resetEventsFilter()">Reset Events</a>-->
    </div>

    <!--No. of Guests-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="guestCountFilterEnabled" (click)="onClickGuestCountFilter()">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Space Capacity</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': guestCountFilterEnabled, 'fa-angle-down': !guestCountFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': guestCountFilterEnabled,
                'close-filter-panel': !guestCountFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let option of guestCountOptions">
                    <label class="control control--checkbox" (change)="changeGuest(option)">{{option.label}}
                        <input type="checkbox" [checked]="option.checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--Amenities-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="amenityFilterEnabled" (click)="onClickAmenityFilter()">
            <h3><i class="fa fa-snowflake-o" aria-hidden="true"></i> Amenities</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': amenityFilterEnabled, 'fa-angle-down': !amenityFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': amenityFilterEnabled,
                'close-filter-panel': !amenityFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let amenity of amenities">
                    <label class="control control--checkbox" (change)="changeAmenity(amenity)">{{amenity.name}}
                        <input type="checkbox" [checked]="amenity.checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--Space Rules-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="rulesFilterEnabled" (click)="onClickRulesFilter()">
            <h3><i class="fa fa-ban" aria-hidden="true"></i> Space Rules</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': rulesFilterEnabled, 'fa-angle-down': !rulesFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': rulesFilterEnabled,
                'close-filter-panel': !rulesFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let rule of rules">
                    <label class="control control--checkbox" (change)="changeRule(rule)">{{rule.displayName}}
                        <input type="checkbox" [checked]="rule.checked"/>
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--Seating Arrangements-->
    <div class="filter-panel">
        <div class="filter-panel-header" [class.filter-panel-header-open]="seatingFilterEnabled" (click)="onClickSeatingFilter()">
            <h3><i class="fa fa-th" aria-hidden="true"></i> Seating Arrangements</h3>
            <i class="fa"
               [ngClass]="{'fa-angle-right': seatingFilterEnabled, 'fa-angle-down': !seatingFilterEnabled}"
               aria-hidden="true">
            </i>
        </div>
        <div class="filter-panel-body"
             [ngClass]="{
                'open-filter-panel': seatingFilterEnabled,
                'close-filter-panel': !seatingFilterEnabled
             }">
            <div class="form-group">
                <div *ngFor="let option of seatingOptions">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive p-a-5" src="../../../assets/img/listing/{{option.icon}}">
                        </div>
                        <div class="col-xs-9">
                            <label class="control control--checkbox p-t-10" (change)="changeSeatingOption(option)">{{option.name}}
                                <input type="checkbox" [checked]="option.checked"/>
                                <div class="control__indicator" style="top: 10px;"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</aside>
