<div class="spaces-list-wrapper" [class.spaces-list-wrapper-landing]="searchDataRequest.isSocialMedia === 1" [class.no-results]="spaces.length === 0">
    <div class="spaces-list-wrapper-inner">
        <div class="space-list-toolbar" [class.space-list-toolbar-landing]="searchDataRequest.isSocialMedia === 1">
            <div class="reset-button-wrapper">
                <!--<input type="text" placeholder="Search by organization" (keyup)='organizationKeyUp.next($event)'>-->
                <input type="text" placeholder="Search" [value]="spaceOrOrgName || ''" (keyup)="setOrganization($event)">
                <i class="fa fa-search"></i>
            </div><div class="sorting-ctrls-and-description-bar-wrapper">
                <div class="page-count-info-wrapper" *ngIf="spaces.length > 0">
                    <p class="page-count-info">Showing {{pageStart}}-{{pageEnd}} of {{spaceCount}} spaces</p>
                </div><div class="sorting-controls-wrapper" *ngIf="spaces.length > 1">
                    <div class="sorting-select">
                        <!--<p>Sort by</p>&nbsp;-->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{sortOption ? sortOption.label : 'Sort results by'}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let option of sortingOptions"><a (click)="sortByOption(option)">{{option.label}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <filters
            [eventTypes]="eventTypes"
            [amenities]="amenities"
            [rules]="rules"
            [seatingOptions]="seatingOptions"
            [spaces]="spaces"
            [request]="searchDataRequest"
            [currentPage]="currentPage"
            [organizationName]="organizationName"
            [sortBy]="sortOption?.status"
            (pagedSpaces)="setPageSpaces($event)"
            (loading)="setLoading($event)"
            >
        </filters>
        <event-spaces [spaces]="spaces"
                      [spaceCount]="spaceCount"
                      [allAmenities]="amenities"
                      [request]="searchDataRequest"
                      [currentPage]="currentPage"
                      [sortBy]="sortOption?.status"
                      (pageStartEnd)="setPageStartAndEnd($event)"
                      (pagedSpaces)="setPageSpaces($event)"
                      [isLoading]="isLoading"
        ></event-spaces>
    </div>
</div>