<div class="response-box">
    <div *ngIf="code === 1" class="success-box">
        <img src="../../../assets/img/ipg/checked.png" alt="">
        <h4 style="color: green">Payment Successful</h4>
        <p>
            We will email you a receipt confirming your payment shortly.
        </p>
        <ul class="navigation-links-wrapper">
            <li><a [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a [routerLink]="['/user/profile/my-activities']" [queryParams]="{time:'upcoming'}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> My bookings</a></li>
        </ul>
    </div>
    <div *ngIf="code !== 1 || !code" class="error-box">
        <img src="../../../assets/img/ipg/delete.png" alt="">
        <h4 style="color: red">Payment Failed</h4>
        <p>
            Your transaction could not be authorised.<br>
            Please try again.
        </p>
        <br>
        <span style="font-size: 12px;">STATUS: {{status}}</span>
        <ul class="navigation-links-wrapper">
            <li><a [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        </ul>
    </div>

</div>




