<section class="add-new-space-modal-wrapper">
    <div class="add-new-space-modal">

        <header class="modal-window-header">
            <h4>Block Space</h4>
            <a class="modal-window-close-button" (click)="closeForm()"><i class="fa fa-times"></i></a>
        </header>

        <!--booking date-->
        <div class="add-new-modal-selected-date">{{ bookingDate | formatDate: 'date' }}</div>
        <div class="space-name-selector-wrapper">
            <div class="dropdown" *ngIf="userSpaces.length > 0">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectedSpace ? selectedSpace.name : 'Select Space'}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let space of userSpaces"><a (click)="selectSpace(space)">{{space.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="add-new-modal-start-end-dates-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group date event-start" data-date="">
                        <input class="form-control" size="16" type="text" readonly placeholder="Start Time" [value]="eventStart | formatDate">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group date event-end" data-date="" >
                        <input class="form-control" size="16" type="text" readonly placeholder="End Time" [value]="eventEnd | formatDate">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-row">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-wrapper-full-width">
                        <label>Title</label>
                        <input type="text" [(ngModel)]="blockModel.eventTitle" name="eventTitle" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-wrapper-full-width">
                        <label>Maximum guest count</label>
                        <input type="text" [(ngModel)]="blockModel.maximumGuest" name="maximumGuest">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown dropdown-full-width">
                        <button class="btn btn-deafult dropdown-toggle" type="button" data-toggle="dropdown">{{selectedEvent ? selectedEvent.name : 'Event Type'}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let eventType of eventTypes" (click)="selectEventType(eventType)"><a>{{eventType.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="seating-arrangement-wrapper">
            <span class="seating-arr-heading">Seating arrangement</span>
            <div class="row">
                <div *ngFor="let option of seatingOptions" class="col-md-4">
                    <div class="list-item-seating">
                        <img src="../../../assets/img/listing/{{option.icon}}">
                        <input type="radio" name="seatingOption" (change)="selectSeatingOption(option)">
                        <span>{{option.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cost-details-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-wrapper-full-width">
                        <label>Cost</label>
                        <input type="text" [(ngModel)]="blockModel.cost" name="cost" >
                    </div>
                </div>
            </div>
        </div>

        <div class="extra-details-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-wrapper-full-width">
                        <label>Extras Requested</label>
                        <textarea [(ngModel)]="blockModel.extrasRequested" name="extrasRequested"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="guest-details-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-wrapper-full-width ">
                        <label>Guest Name</label>
                        <input type="text" [(ngModel)]="blockModel.guestName" name="guestName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-wrapper-full-width ">
                        <label>Guest Contact Number</label>
                        <input type="text" [(ngModel)]="blockModel.guestContactNumber" name="guestContactNumber">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-wrapper-full-width">
                        <label>Guest Email</label>
                        <input type="text" [(ngModel)]="blockModel.guestEmail" name="guestEmail">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-wrapper-full-width ">
                    <label>Note</label>
                    <textarea [(ngModel)]="blockModel.note" name="note"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-buttons-wrapper">
            <button class="modal-close-btn" (click)="closeForm()">Close</button>
            <button (click)="checkAvailability()" class="modal-save-btn">Save</button>
        </div>

        <div *ngIf="!spaceAvailableForBooking && checkedAvailability" class="error-message">
            <p>Selected time period not available</p>
        </div>

    </div>



</section>
