<h1 class="events-blocks-date-heading">{{dayViewData.date | formatDate: 'date'}}</h1>
<div *ngIf="!dayViewData || dayViewData.eventsPerDay.length === 0">
    No events
</div>
<div *ngIf="dayViewData.eventsPerDay.length > 0">
<!--    <ul>
        <li *ngFor="let event of dayViewData.eventsPerDay">{{event.from}} - {{event.to}}</li>
    </ul>-->
    <div class="event-block" *ngFor="let event of dayViewData.eventsPerDay">
        <div *ngIf="event.fullDay" class="fully-booked">
            <span>Full Day Booked</span>
        </div>
        <div *ngIf="!event.fullDay" class="event-block-event-title">
            <span><i class="fa fa-calendar" aria-hidden="true"></i> {{event.from | formatDate: '12h'}} - {{event.to | formatDate: '12h'}} {{event.note}}</span>
        </div>
    </div>
</div>
