<section class="add-new-space-modal-wrapper">
    <div class="add-new-space-modal">

        <header class="modal-window-header">
            <h4>Block Space</h4>
        </header>

        <a class="modal-window-close-button" (click)="closeForm()"><i class="fa fa-times"></i></a>
        <!--booking date-->
        
        <div class="modal-body">
            <div class="add-new-modal-start-end-dates-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group date event-start" data-date="" *ngIf="!isUpdateForm">
                            <input class="form-control" size="16" type="text" readonly placeholder="Start Time" [value]="eventStart | formatDate" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <div class="common-text-input-wrapper" *ngIf="isUpdateForm">
                            <input type="text" readonly [value]="eventStart | formatDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group date event-end" data-date="" *ngIf="!isUpdateForm">
                            <input class="form-control" size="16" type="text" readonly placeholder="End Time" [value]="eventEnd | formatDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <div class="common-text-input-wrapper" *ngIf="isUpdateForm">
                            <input type="text" readonly [value]="eventEnd | formatDate">
                        </div>

                    </div>
                </div>
            </div>

            <div class="input-row">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-wrapper-full-width">
                            <label class="edit-booking-modal-label">Title</label>
                            <input type="text" [(ngModel)]="blockModel.eventTitle" name="eventTitle" maxlength="26">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-wrapper-full-width">
                            <label class="edit-booking-modal-label">Maximum guest count</label>
                            <input type="text" [(ngModel)]="blockModel.maximumGuest" name="maximumGuest" OnlyNumber="true" maxlength="5">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown dropdown-full-width">
                            <button *ngIf="!isUpdateForm" class="btn btn-deafult dropdown-toggle" type="button" data-toggle="dropdown">{{selectedEvent ? selectedEvent.name : 'Event Type'}}
                                <span class="caret"></span></button>
                            <button *ngIf="isUpdateForm" class="btn btn-deafult dropdown-toggle" type="button" data-toggle="dropdown">{{blockModel.eventTypeName ? blockModel.eventTypeName : 'Event Type' }}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let eventType of eventTypes" (click)="selectEventType(eventType)"><a>{{eventType.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seating-arrangement-wrapper">
                <span class="seating-arr-heading">Seating arrangement</span>
                <div class="row">
                    <div *ngFor="let option of seatingOptions; let idx = index" class="col-md-4" >
                        <div class="list-item-seating">
                            <img src="../../../assets/img/listing/{{option.icon}}">
                            <input type="radio" name="seating" (change)="selectSeatingOption(option)" [checked]="(option.id == blockModel.seatingArrangementId)" >
                            <span>{{option.name}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cost-details-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-wrapper-full-width">
                            <label class="edit-booking-modal-label">Space Reservation Fee</label>
                            <input type="text" [(ngModel)]="blockModel.cost" name="cost" maxlength="7">
                        </div>
                    </div>
                </div>
            </div>

            <div class="extra-details-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-wrapper-full-width">
                            <label class="edit-booking-modal-label">Amenities</label>
                            <textarea [(ngModel)]="blockModel.extrasRequested" name="extrasRequested" maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="guest-details-wrapper">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-wrapper-full-width ">
                            <label class="edit-booking-modal-label">Guest Name</label>
                            <input type="text" [(ngModel)]="blockModel.guestName" name="guestName" [class.block-space-validation-fail]="guestName.touched && guestName.hasError('pattern')"  maxlength="60" pattern="[ a-zA-Z]+" #guestName="ngModel">
                            <span class="field-error" *ngIf="guestName.touched && guestName.hasError('pattern')">* Text Only.</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-wrapper-full-width ">
                            <label class="edit-booking-modal-label">Guest Contact Number</label>
                            <input type="text" [(ngModel)]="blockModel.guestContactNumber" name="guestContactNumber" maxlength="10" minlength="10" OnlyNumber="true" #guestContactNumber="ngModel" [class.block-space-validation-fail]="guestContactNumber.touched && guestContactNumber.hasError('minlength')">
                            <span class="field-error" *ngIf="guestContactNumber.touched && guestContactNumber.hasError('minlength')">* Invalid contact number</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-wrapper-full-width">
                            <label class="edit-booking-modal-label">Guest Email</label>
                            <input type="text" [(ngModel)]="blockModel.guestEmail" name="guestEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #guestEmail="ngModel" [class.block-space-validation-fail]="guestEmail.touched && guestEmail.hasError('pattern')">
                            <span class="field-error" *ngIf="guestEmail.touched && guestEmail.hasError('pattern')">* Invalid email.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-wrapper-full-width ">
                        <label class="edit-booking-modal-label">Remarks</label>
                        <textarea [(ngModel)]="blockModel.remark" name="remark" maxlength="700" #remark="ngModel"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-buttons-wrapper">
                <button class="modal-close-btn" (click)="closeForm()">Close</button>
                <button class="modal-close-btn" *ngIf="isUpdateForm" (click)="removeBlock(blockModel.id)" class="modal-save-btn">Remove</button>
                <button *ngIf="!isUpdateForm" (click)="checkAvailability()" class="modal-save-btn"
                        [disabled]="(guestName.touched && guestName.hasError('pattern'))
                        || (guestEmail.touched && guestEmail.hasError('pattern'))
                        || (guestContactNumber.touched && guestContactNumber.hasError('minlength'))"
                        [class.block-space-button-disabled]="(guestName.touched && guestName.hasError('pattern'))
                        || (guestEmail.touched && guestEmail.hasError('pattern'))
                        || (guestContactNumber.touched && guestContactNumber.hasError('minlength'))">Save</button>
                <button *ngIf="isUpdateForm" (click)="updateBlock(blockModel)" class="modal-save-btn">Update</button>
            </div>

            <div *ngIf="!spaceAvailableForBooking && checkedAvailability" class="error-message">
                <p>This booking cannot be made as it overlaps with an existing booking.</p>
            </div>
            <!--<a (click)="deleteBooking(170)">delete </a>-->

            <!--{{blockModel | json}}-->

        </div>

    </div>



</section>





