<div class="my-space-title-wrapper">
    <div class="back-to-space">
        <a routerLink="/user/profile/my-spaces" ><i class="fa fa-chevron-left"></i> Back to my spaces</a>
    </div><div>
        <h1><a (click)="showSpace(selectedSpace)">{{ selectedSpace.name }}</a></h1>
        <span>{{(selectedSpace.addressLine2 ? selectedSpace.addressLine2 +', ' : '') + selectedSpace.addressLine1 }}</span>
    </div>
</div>
<div class="availability-wrapper">

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="panel-animated-wrapper">
                    
                    <div class="panel-top" *ngIf="futureBookingDates">
                        <host-calendar
                                [space]="selectedSpace"
                                [fBookingDates]="futureBookingDates"
                                (showDayView)="showDayView($event)"
                        ></host-calendar>
                    </div><div class="panel-underneath hide-on-first-sight">
                        <a class="back-to-calander" (click)="toggleCalendar()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a
                        ><ul class="pan-u-tabs">
                            <li [class.pan-u-selected-tab]="displayScheduler" (click)="showSchedulerView()">Scheduler</li><li [class.pan-u-selected-tab]="displayAvailableEvents" (click)="showAvailableEventsView()">Available Events</li>
                        </ul>
                        <div class="events-wrapper" *ngIf="displayAvailableEvents">
                            <day-view [dayViewData]="dayViewData"></day-view>
                        </div>
                        <div id="eventSceduler" *ngIf="displayScheduler" >
                            <host-event-scheduler
                                    [dayViewData]="dayViewData"
                                    (showBookingForm)="showBookingForm($event)"
                                    (showBookingFormUpdated)="showBookingFormUpdated($event)"
                            >
                            </host-event-scheduler>
                            <ul class="booking-scheduler-legend">
                                <li><span></span><p>MillionSpaces bookings</p></li>
                                <li><span></span><p>Host bookings</p></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- {{dayViewData | json}}-->

                <!--<div class="add-new-space-btn-wrapper">
                    <a (click)="blockSpace()" class="add-new-space-btn"><span class="add-new-space-note">Block space</span><i class="fa fa-plus"></i></a>
                </div>-->

                <!--<div *ngIf="showBlockSpaceForm">
                    <block-space
                            [userSpaces]="userSpaces"
                            [eventTypes]="eventTypes"
                            [seatingOptions]="seatingOptions"
                            (onClickCloseBlockSpace)="onClickCloseBlockSpace($event)"
                            (onSuccessBlock)="onSuccessBlockPlus($event)"
                    ></block-space>
                </div>-->
            </div>


        </div>
    </div>
</div><!-- /.availability-wrapper -->

<div *ngIf="bookingForm.visible">
    <manual-booking
            [space]="selectedSpace"
            [updatedFormData]="updatedFormData"
            [time]="time"
            [day]="dayViewData.date"
            [seatingOptions]="seatingOptions"
            [eventTypes]="eventTypes"
            (onClickClose)="onClickClose($event)"
            (onSuccessBlock)="onSuccessBlock($event)"
            (onClickUpdate)="onClickUpdate($event)"
            (onClickRemove)="onClickRemove($event)"
    ></manual-booking>
</div>
