<div class="aux-shedular-wrapper" id="auxScheduler">
    <div class="aux-shedular-wrapper-inner">
        <div>
            <div class="schedular-selected-date"></div><div class="legend-wrapper">
                <div class="legend-host-booking">
                    <span></span><span>Host</span>
                </div><div class="legend-guest-booking">
                    <span></span><span>Guest</span>
                </div>
            </div>
        </div>

        <div class="schedular host-scheduler"></div>
    </div>
</div>
