<section class="search-result {{eventType.icon}}" *ngIf="eventType.id !== 2 && eventType.id !== 11 && eventType.id !== 12">
    <div class="container">
        <header>
            <div>
                {{eventType.name}}
            </div><div>
                <hr>
            </div><div>
                <a (click)="goToEvent(eventType.id)">View more <i class="fa fa-angle-double-right"></i></a>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row" *ngIf="spaces?.length > 0">

            <div class="col-md-3 col-sm-6" *ngFor="let space of spaces">
                <article (click)="showSpace(space, $event)">
                    <img src="https://res.cloudinary.com/dgcojyezg/image/upload/w_600/f_auto/millionspaces/{{space.thumbnailImage}}" alt="">
                    <div class="search-block-description">
                        <div>
                            <h1>{{space.name | summary: 22}}</h1>
                            <p>{{space.addressLine1 | summary: 26}}</p>
                        </div
                        ><div>
                        <div><i class="fa fa-users"></i><span> {{space.participantCount}}</span></div>
                    </div>
                    </div>
                    <div class="pricing-details">
                        <p>Starting from</p>
                        <p>{{space.ratePerHour | currency:'LKR':false:'.0-0'}}</p>
                    </div>
                </article>
            </div>

        </div><!-- /.row -->
        <div class="row show-on-mobile" *ngIf="spaces?.length === 0">
            <div class="col-md-12">
                <div class="location-search-no-results">
                    <p>There are no results for this location. Please try a different location.</p>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /.search-result -->


<modal-component [modalComponentData]="modalComponentData"></modal-component>