<div class="row notification-panel" >
    <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
            <h2>Congratulations!</h2>
            <p>Your booking has been tentatively reserved. <br>
            Please settle the payment of {{paymentSummaryData.total | currency : 'LKR': false:'.0-0'}} within 72 hours to confirm your booking
            </p>
        </div>
    </div>
</div>

