.notification-panel {
    margin-top: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 4rem;
}

h2 {
    text-transform: uppercase;
    color: #F7941E;
}

@media screen and (max-width: 680px) {
    .card {
        padding: 1rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.1rem;
    }
}