<div class="tentative-booking-success-wrapper">
    <h1><i class="fa fa-check-circle-o" aria-hidden="true"></i> Tentative Reservation Successfully Made!</h1>
    <p>Payment instructions have been emailed to you. You have 24 hours to make the payment. </p>

    <button [routerLink]="'/home'">Return to home</button>
</div>
