<div class="manual-booking-payment-info-wrapper">
    <div class="manual-booking-payment-info-wrapper-inner">
        <div>
            <h2>Tentative Reservation</h2>
            <p>Please deposit payment of <span class="manual-booking-info-price-tag">{{grandTotal | currency:'LKR':false:'.0-0' }}</span> to the below bank account.
                Include the <span>Reference ID</span> in the deposit slip, otherwise the payment cannot be allocated to you.
                You have a 24-hour window to complete the transaction.
                Payment instructions will also be sent to your email address.
                Once the payment is made, please respond to the booking instructions email with proof of payment.
                It is only thereafter that your booking will be confirmed.
            </p>
        </div>
        <div class="manual-booking-info-table">
            <div class="manual-booking-info-table-inner">
                <div class="table-row">
                    <div class="table-data">Reference ID</div><div class="table-data">{{referenceId}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">Bank Account Name</div><div class="table-data">{{accountDetails.accountHolderName}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">Bank Name</div><div class="table-data">{{accountDetails.bank}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">Bank Address</div><div class="table-data">{{accountDetails.address}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">Bank Branch</div><div class="table-data">{{accountDetails.branch}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">Bank Account Number</div><div class="table-data">{{accountDetails.accountNumber}}</div>
                </div>
                <div class="table-row">
                    <div class="table-data">SWIFT Code</div><div class="table-data">{{accountDetails.swiftCode}}</div>
                </div>
            </div>
        </div>
        <p>Failure to make the payment within the 24-hour window will result in the expiry of the reservation request.</p>
        <div class="clock-and-btns-wrapper">
            <div class="ipgClock" disabled="true"></div><div class="button-wrapper">
                <button (click)="proceedWithBankTransfer()" id="confirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>

