/** owl slider  custom **/
#space-profile-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-dots .owl-dot span {
    background: #b8bbff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #676cdc;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    z-index: 9999;
    position: absolute;
    margin-bottom: 140px;
    bottom: -88px;
    right: 10px;
}

/** Banner **/
.space-profile-banner {
    position: relative;
    display: none;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner {
        display: block;
    }
}

.space-profile-banner-mobile {
    display: block;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner-mobile {
        display: none;
    }
}

.space-profile-banner > .space-profile-banner-inner {
    background: rgba(0, 0, 0, 0.3);
}

.space-profile-banner > .space-profile-banner-inner  header {
    text-align: center;
    padding-top: 0;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner > .space-profile-banner-inner  header {
        padding-top: 150px;
    }
}

.space-profile-banner > .space-profile-banner-inner  header > h1 {
    padding: 0 20px;
    font-size: 26px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner > .space-profile-banner-inner  header > h1 {
        padding-top: 0;
        font-size: 42px;
    }
}

.space-profile-banner > .space-profile-banner-inner  header > h1 + p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;

}
.space-profile-banner {
    text-align: center;
}

.space-profile-banner .event-type-info {
    text-align: center;
    color: #fff;
    width: 100%;
    display: inline-block;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner .event-type-info {
        width: 80%;
    }
}

.space-profile-banner .event-type-info > div {
    display: inline-block;
    width: 50%;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner .event-type-info > div {
        width: auto;
    }
}

.space-profile-banner .event-type-info > div > span {
    display: inline-block;
    width: 100%;
    padding: 0px;
    font-weight: 200;
    margin-top: 20px;
}

@media only screen and (min-width: 992px) {
    .space-profile-banner .event-type-info > div > span {
        padding: 0 10px;
    }
}

.space-profile-banner .event-type-info > div > span:last-child {
    margin-top: 0px;
}

.space-profile-banner .event-type-info > div i:before {
    margin-left: 0;
    font-size: 32px;
}

.banner-header-wrapper {
    position: absolute;
    width: 80%;
    margin-left: -40%;
    left: 50%;
    bottom: 0;
}
@media only screen and (min-width: 992px) {
    .banner-header-wrapper {
        bottom: 35px;
    }
}

.overview-wrapper {
    text-align: center;
    margin-top: 60px;
    color: #81bbfb;
}

@media only screen and (min-width: 992px) {
    .overview-wrapper  {
        margin-top: 20px;
    }
}

.overview-wrapper > div {
    display: inline-block;
    padding: 20px;
    font-weight: 200;
}

.overview-wrapper > div i {
    font-size: 34px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
    .overview-wrapper > div i {
        font-size: 44px;
        margin-bottom: 20px;
    }
}

.overview-wrapper > div > p {
    font-size: 32px;
    font-weight: 200;
}

.parallax-slider {
    padding-bottom: 60px;
}
.overview-event-types-heading {
    font-size: 16px;
    font-weight: bold;
    color: #5a5a5a;
}

@media only screen and (min-width: 992px) {
    .parallax-slider {
        padding-bottom: 0;
    }
}

/** Space profile wrapper **/
.space-details-wrapper {
    padding: 10px;
}

@media only screen and (min-width: 992px) {
    .space-details-wrapper {
        padding: 25px 0px;
        width: 60%;
        display: inline-block;
    }
}

.space-profile-information-wrapper {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding-bottom: 80px;
    background: #f7f7f7;
}

@media only screen and (min-width: 992px) {
    .space-profile-information-wrapper {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
        background: #f7f7f7;
        padding-bottom: 60px;
    }
}

.space-profile-information-wrapper header {
    width: 100%;
}

/** In site navigation **/
.in-site-navigation {
    position: relative;
    z-index: 2;
    background: rgba(129, 187, 251, 0.07);
    padding: 8px 0;
    margin-top: 100px;
    display: none;
}

@media only screen and (min-width: 992px) {
    .in-site-navigation {
        display: block;
    }
}

.in-site-navigation > ul {
    list-style: none;
    padding: 0 35px;
    margin: 0;
    text-align: center;
}

.in-site-navigation > ul > li {
    display: inline-block;
}

.in-site-navigation > ul > li > a {
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    padding: 0 10px;
}

.in-site-navigation > ul > li > a:hover {
    text-decoration: none;
}

.in-site-navigation-fixed {
    position: fixed;
    background: #64a4ff;
    top: 50px;
    left: 0;
    width: 70%;
    margin-top: 0;
}

.in-site-navigation-fixed > ul {
    text-align: left;
}

.in-site-navigation-fixed > ul > li > a {
    color: #ffffff;
}

/** Space profile details header **/

.space-details-wrapper > header > p {
    color: #595959;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: left;
}

.space-details-wrapper > header > .address {
    font-weight: 400;
    color: #a3a3a3;
}

/** Details block **/
.details-block {
    padding-left: 0;
    margin-top: 30px;
}

@media only screen and (min-width: 992px) {
    .details-block {
        padding-left: 0px;
    }
}

.details-block .details-block-title {
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    .details-block .details-block-title {
        margin-top: 0px;
    }
}

.details-block .details-block-title > p {
    font-weight: bold;
}

.details-block .details-block-body {
    font-weight: 300;
    color: #787878;
}

.details-block-amenities h3 {
    font-size: 16px;
    font-weight: bold;
}

.amenities-chargeable ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.amenities-chargeable ul i:before {
    font-size: 22px;
}

.amenities-chargeable ul > li {
    padding: 10px 3px;
}

@media only screen and (min-width: 992px) {

    .amenities-chargeable ul > li {
        padding: 5px 3px;
    }

}

.amenities-chargeable ul > li:nth-child(odd) {
    background: #f9f9f9;
}

.amenities-chargeable ul > li > span {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    margin-right: 5px;
    box-sizing: border-box;
}

.amenities-chargeable ul > li > span:nth-child(2) {
    width: 80%;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .amenities-chargeable ul > li > span:nth-child(2) {
        width: 30%;
        font-weight: 300;
    }
}
.amenities-chargeable ul > li > span:nth-child(3) {
    width: 40%;
}
@media only screen and (min-width: 992px) {
    .amenities-chargeable ul > li > span:nth-child(3) {
        width: 20%;
    }
}
.amenities-chargeable ul > li > span:last-child {
    width: 40%;
}
@media only screen and (min-width: 992px) {
    .amenities-chargeable ul > li > span:last-child {
        width: auto;
    }
}


.details-block > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.details-block > div p {
    margin: 0;
}

.details-block > div:first-child {
    width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .details-block > div:first-child {
        width: 20%;
        margin-bottom: 0;
        font-weight: normal;
        text-align: left;
    }
}

.details-block > div:last-child {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    padding: 10px;
    background: #ffffff;
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .details-block > div:last-child {
        width: 80%;
        border-left: 1px solid #f1f1f1;
        margin-bottom: 0;
        padding-left: 40px;
    }
}

/** Overview **/
.details-block-overview .common-info > div {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    font-size: 16px;
}

.details-block-overview .common-info > div > i {
    font-size: 32px;
}

.details-block-overview .event-type-info {
    margin-top: 20px;
}
.details-block-body > div .overview-time-slots:nth-child(odd) {
    background: #f9f9f9;
}
.overview-time-slots {
    padding: 1rem 0;
}
.overview-time-slots > div {
    display: inline-block;
    width: 33%;
}
.overview-time-slots.three-columns-view > div{
    width: 33%;
}

.overview-time-slots > div > div:first-of-type {
    font-weight: bold;
}
.overview-time-slots > div:last-of-type > div:first-of-type {
    visibility: hidden;
}

.overview-note {
    margin-bottom: 20px!important;
}

@media only screen and (min-width: 992px) {
    .details-block-overview .event-type-info {
        text-align: left;
    }
}

.details-block-overview .event-type-info .event-type-block {
    display: inline-block;
    font-size: 16px;
    padding-right: 10px;
    text-align: left;
    width: 50%;
    margin-bottom: 10px
}

.details-block-overview .event-type-info .event-type-block > span {
    display: inline-block;
}

.details-block-overview .event-type-info .event-type-block > span i:before {
    margin-right: 10px;
    margin-left: 0;
    display: inline-block;
    font-size: 22px;
    vertical-align: text-bottom;
}

.event-type-block-eventtype {
    margin-bottom: 10px;
}

/** seating style **/
.details-block-seating .details-block-body > div {
    display: inline-block;
    text-align: left;
    width: 100%;
    vertical-align: top;
}

@media only screen and (min-width: 992px) {
    .details-block-seating .details-block-body > div {
        width: 50%;
    }
}

.details-block-seating .details-block-body > div > div {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.details-block-seating .details-block-body > div > div > i {
    font-size: 32px;
}

.details-block-seating .details-block-body > div > div:first-child {
    margin-right: 0;
}

.details-block-seating .details-block-body > div > div:last-child > span {
    display: inline-block;
    width: 100%;
}

/** amenities **/
.amenities > ul {
    padding-left: 0;
    margin-bottom: 0;
}

.amenities > ul > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    min-width: 100%;
}
@media only screen and (min-width: 992px) {
    .amenities > ul > li {
        min-width: 50%;
    }
    .amenities > ul > li:nth-child(even) {
        margin-left: -20px;
        position: relative;
        left: 10px;
    }
}
.amenities > ul > li > span {
    display: inline-block;
    vertical-align: middle;
}

.amenities > ul > li > span > i {
    margin-right: 5px;
}

.amenities > ul > li > span > i:before {
    font-size: 22px;
    vertical-align: text-bottom;
}
/** Space rules **/
.space-rules > ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.space-rules > ul > li {
    position: relative;
    margin-left: 20px;
    text-align: left;
}

.space-rules > ul > li:before {
    font-family: 'FontAwesome';
    content: '\f05e';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -20px;
}

/** Locaton **/
.space-profile-location h2 {
    font-size: 16px;
}

/** Similar places **/
.similar-places h2 {
    font-size: 18px;
    margin-top: 40px;
}

.similar-space-name {
    margin: 0;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}
.similar-spaces-address-line {
    text-align: left;
    padding-left: 5px;
}
.similar-space-price-wrapper {
    position: absolute;
    top: 6px;
    right: 7px;
    text-align: right;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.similar-space-price-wrapper > p {
    margin: 0;
    padding: 0;

}
.similar-space-price-wrapper > p:first-child {
    font-size: 12px;
}

.similar-space-price-wrapper > p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}
/** Booking calendar **/
.booking-calendar-wrapper-show {
    right: 0 !important;
    top: 0;
    position: fixed;
    z-index: 999;
}
.booking-calendar-wrapper {
    display: none;
    background: #fbfbfb;
    overflow-y: hidden;
    z-index: 999;
}
.booking-calendar-wrapper.booking-calendar-wrapper-mobile {
    display: inline-block;
    top: 50px;
    right: 0;
    position: fixed;
    height: calc(100% - 50px);
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .booking-calendar-wrapper {
        width: 40%;
        display: inline-block;
    }
}

.booking-calendar-wrapper h1 {
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    padding: 0;
    margin-bottom: 15px;
}

.prim-error {
    border-color: #f29494!important;
    background-color: #ffe7e2!important;
    color: #f29494!important;
}


.open > .dropdown-menu {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
}

.fullday-cal-booking {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    top: -5px;
}

/** booking calendar header **/
.booking-calendar-header {
    margin-top: 3px;
    background: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #e2e2e2;
}
@media only screen and (min-width: 992px) {
    .booking-calendar-header {
        margin-top: 5px;
        margin-bottom: 5px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: none;
    }
}
.fullday-cal-booking {
    margin-bottom: 0;
}

.booking-calendar-header > div:first-child {
    width: 70%;
}
.booking-calendar-header > div:last-child {
    width: 30%;
    text-align: right;
}
.booking-calendar-header > div:last-child > a:last-child {
    color: tomato;
    font-size: 22px;
    margin-left: 20px;
}
.booking-calendar-header > div:last-child > a:first-child:hover {
    color: #03a3d3;
}
    /*@media only screen and (min-width: 768px) {*/
/*.booking-calendar-header > div {*/
/*width: 80%;*/
/*}*/
/*.booking-calendar-header > a {*/
/*width: 20%;*/
/*}*/
/*}*/

.booking-calendar-header > div {
    font-size: 16px;
    font-weight: 100;
}

.booking-calendar-header > div, .booking-calendar-header > a > span {
    display: inline-block;
}

.booking-calendar-header > a {
    text-align: right;
}
.booking-calendar-header > a:hover {
    color: #03a3d3;
}
.calendar-icon-wrapper {
    display: inline-block;
    font-size: 30px;
}

.per-block-wrapper {
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
    padding-bottom: 5px;
}

.per-block-block {
    padding: 8px 4px;
    font-size: 16px;
    margin-bottom: 5px;
}

.per-block-block > div {
    display: inline-block;
}

.per-block-block .input-wrapper > input {
    position: relative;
    top: 3px;
}

.per-block-block .time-range-wrapper {
    width: 35%;
    padding-left: 5px;
}

.per-block-block .price-wrapper {
    width: 38%;
}

.per-block-block .availability-wrapper {
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
}

.per-block-wrapper h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.per-block-block-availabile .availability-wrapper {
    background: #40d649;
}

.per-block-block-unavailabile {
    background: #f7f7f7;
}

.per-block-block-unavailabile .availability-wrapper {
    background: #e2e2e2;
}

.per-hour-block {
    padding: 6px;
    font-size: 16px;
    margin-bottom: 5px;
}

.per-hour-block > div {
    display: inline-block;
    width: 100%;
}

.per-hour-block .input-wrapper > input {
    position: relative;
    top: 3px;
}

.per-hour-block .time-range-wrapper {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
}


.per-hour-wrapper .availability-wrapper {
    margin-top: 20px;
}

.per-hour-block .availability-wrapper {
    display: inline-block;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
}

.per-hour-wrapper {
    margin: 10px;
    padding: 10px;
    background: #fff;
}

.per-hour-wrapper h3 {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-top: 0;
}

.price-per-hour {
    font-size: 16px;
    display: inline-block;
    padding-left: 20px;
    font-weight: bold;
}

.price-per-hour-wrapper > h3, .price-per-hour-wrapper > span {
    display: inline-block;
    width: 50%;
}

.price-per-hour-wrapper > span {
    text-align: right;
}

.per-hour-block-availabile .availability-wrapper {
    background: #40d649;
}

.per-hour-block-unavailabile {
    background: #f7f7f7;
}

.per-hour-block-unavailabile .availability-wrapper {
    width: 50%;
    text-align: right;
}
.availability-wrapper > span {
    background: #e2e2e2;
    text-align: center;
    display: inline-block;
    padding: 2px 3px;
}

.extra-wrapper {
    padding: 10px;
    margin: 10px;
    background: #ffffff;
}

.extra-wrapper h3 {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-top: 0;
}

.availability-check-block {
    display: inline-block;
    width: 33.3%;
    box-sizing: border-box;
    padding-right: 5px;
    margin-top: 10px;
}

.availability-check-block:last-child {
    padding-right: 0;
    text-align: right;
}

.availability-check-block:last-child > span {
    display: inline-block;
    padding: 3px 10px;
    background: #40d649;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
}

.availability-check-block > select {
    height: 30px;
    width: 100%;
    font-weight: 200;
}

.availability-check-block > select > option {
    font-weight: 200;
}

/** Calendar changes **/
.background-color {
    background: #fff;
}

/* REMOVE ALL MARGINS AND PADDINGS APPLIED TO FLATICON PSEUDO ELEMENTS */
.flaticon:before {
    margin-left: 0;
}

/*** Space image section ***/
.space-images-section {
    margin-top: 10px;
}

@media only screen and (min-width: 992px) {
    .space-images-section {
        display: block!important;
    }
}
/** location **/

@media only screen and (min-width: 992px) {
    .details-block-location > div:last-child {
        padding: 0;
    }
}

/*** Mobile book now ***/

.mobile-book-now-btn-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 99999;
    text-transform: uppercase;
}

.mobile-book-now-btn {
    width: 100%;
    padding: 20px 0;
    background: #00b4ff;
    color: #fff;
    display: inline-block;
}

@media only screen and (min-width: 992px) {
    .mobile-book-now-btn-wrapper {
        display: none;
    }
}

.book-selected-space {
    width: 100%;
    padding: 20px 0;
    background: #8c8c8c;
    cursor: not-allowed;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.book-selected-space-enabled {
    background: #00b4ff;
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .book-selected-space {
        margin-bottom: 30px;
    }
}
.book-this-space {
  position: fixed;
  bottom: 0;
  margin-bottom: -40px;
  background: #fff;
  height: 100px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
    .book-this-space {
        position: relative;
        bottom: 0;
        margin-bottom: 0;
        background: #fff;
        height: auto;
        width: auto;
    }
}
.book-selected-space:hover {
    color: #fff!important;
}
.plus-icon-wrapper {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 14px 21px;
    background: tomato;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.calendar-close > i {
  font-size: 30px;
}
@media only screen and (min-width: 992px) {
    .calendar-close {
        display: none;
    }
}

.calendar-close > i:hover {
    color: #ff8956;
}

.show-block {
    display: inline-block;
}
.hide-block {
    display: none;
}

/** Menu **/
.menu {
    display: inline-block;
    padding-right: 10px;
}
.menu > a > img {
    display: inline-block;
    width: 100px;
    height: 200px;
}

.space-images-carousel {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.owl-stage {
    display: inline-block;
}

.owl-carousel .owl-item img {
    cursor: pointer;
}

/* availability checker */
.availability-checker-wrapper {
    margin-top: 20px;
}

.availability-checker-wrapper > div > div {
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    vertical-align: bottom;
}

@media only screen and (min-width: 992px) {
    .availability-checker-wrapper > div > div {
        width: 50%;
    }
}

.availability-checker-wrapper > div > div:last-of-type {
    width: 100%;
}

@media only sreen and (min-width: 992px) {
    .availability-checker-wrapper > div > div:last-of-type {
        width: 100%;
    }
}

.availability-checker-wrapper > div > div > input {
    display: inline-block;
    width: 100%;
    border: 1px solid #e2e2e2;
    height: 40px;
}

@media only sreen and (min-width: 992px) {
    .availability-checker-wrapper > div > div > input {
        width: 33.33%;
        height: 27px;
    }
}

.availability-checker-wrapper > div > div:last-of-type {
    text-align: center;
}
.availability-checker-wrapper > div > div:last-of-type > a {
    display: inline-block;
    color: #fff;
    background: #3bb3d4;
    width: 100%;
    padding: 10px 0;
}
.availability-checker-wrapper > div > div:last-of-type > a.chk-aval-inactive {
    background: #e2e2e2;
    cursor: not-allowed;
}
.availability-checker-wrapper > div > div:last-of-type > a:hover {
    color: #fff!important;
}
.availability-indicator {
    text-align: center;
    padding: 6px 10px;
    font-size: 20px;
    color: #1ed644;
    background: #e8fbe8;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.availability-error-message {
    padding: 10px;
    background: #fff39a;
    text-align: center;
    color: #747365;
    width: 100%;
}
.availability-error-message i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.availability-indicator.availability-indicator-not-available {
    color: #f2473a;
    background: #fff2f2;
}
.available-from-time-picker-wrapper {
    padding-right: 5px;
}
.available-from-time-picker-wrapper, .available-to-time-picker-wrapper {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media only screen and (min-width: 992px) {
    .available-from-time-picker-wrapper, .available-to-time-picker-wrapper {
        width: 50%;
        margin-bottom: 0px;
    }
}

/** taken from Spinkit **/

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: relative;
    bottom: -3px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/**************** spinner cust ****/

.spinner {
    display: none;
}
.spinner-active .spinner {
    display: inline-block;
    margin: 0 auto;
}
.spinner-text {
    display: inline-block;
}
.spinner-active .spinner-text {
    display: none;
}

/** Extra amenitites **/
.extra-mult-controller {
    padding: 5px 2px;
}
.extra-mult-controller:nth-child(odd) {
    background: #f7f7f7;
}
.extra-mult-controller .calendar-price {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
}
.extra-mult-controller > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.extra-mult-controller > div:first-of-type {
    width: 60%;
}

.extra-mult-controller > div:first-of-type.amenity-name {
    font-size: 16px;
}

.extra-mult-controller > div:last-of-type {
    width: 40%;
}

.extra-mult-controller > div:first-of-type > div:first-of-type > span {
    display: inline-block;
    vertical-align: top;
}
.extra-mult-controller > div:first-of-type > div:first-of-type > span > i {
    display: inline-block;
    margin-right: 10px;
}
.extra-mult-controller > div:first-of-type > div:first-of-type > span > i:before {
    font-size: 22px;
    display: inline-block;
}
.icon-and-price-unit {
    font-size: 16px;
}
.icon-and-price-unit > div:last-child {
    font-size: 12px;
    vertical-align: bottom;
    position: relative;
    bottom: -10px;
}
.controller-and-price-wrapper {
    text-align: right;
}
.controller-and-price-wrapper > div {
    display: inline-block;
}
.controller-and-price-wrapper > div > span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
    vertical-align: top;
    background: #ffffff;
    cursor: pointer;
}

.total-amount-wrapper {
    padding: 0 20px;
}

.total-amount-wrapper > div {
    width: 50%;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-wrapper > div:last-child {
    text-align: right;
}
.promotion-wrapper {
    color: #5b92f1;
    border: 1px dashed #5b92f1;
    padding: 10px;
}
.promotion-wrapper input {
    width: 60%;
    border: 1px solid #e2e2e2;
    height: 36px;
    font-weight: bold;
}
.promotion-wrapper {
    margin-top: 10px;
}
.promotion-wrapper > div:first-child {
    margin-bottom: 5px;
}
.promotion-wrapper a.apply-btn {
    color: #fff;
    background: #5b92f1;
    margin-left: 10px;
    padding: 10px 30px;
}
.invalid-coup-code {
    color: tomato;
}
.valid-coup-code {
    color: green;
}
.promo-loading {
    position: absolute;
    top: 0;
    left: 0;
    left: 109px;
    top: 18px;
}
.controller-and-price-wrapper > div > input[type=text] {
    display: inline-block;
    width: 50px;
    height: 32px;
    border-top: 1px solid #e2e2e2;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: top;
    text-align: center;
}

.space-price-details-block {
    margin: 10px;
    background: #fff;
    padding: 10px;
}
.space-price-details-block > div {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.space-price-details-block > div > div:first-of-type {
    font-weight: bold;
    font-size: 16px;
}
.space-price-details-block > div:last-of-type {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.cancellation-policy-name {
    font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #373a3c;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #373a3c;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #373a3c;
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #373a3c;
    font-weight: 300;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #373a3c;
    font-weight: 300;
}
/*** New tabs for scheduler ***/
.scheduler-tabs  {
    margin-bottom: 10px;
}
.scheduler-header {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #e2e2e2;
}
.scheduler-header > li:first-child {
    border-right: 1px solid #e2e2e2;
}
.scheduler-header > li {
    display: inline-block;
    width: 50%;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.scheduler-header > li.selected-panel {
    border-bottom: 3px solid #3bb3d4;
}
.scheduler-header > li:not(.selected-panel) {
    cursor: pointer;
}
.spaces-list-wrapper-inner {
    margin-top: 60px;
}
.extra-mult-controller.extra-wrapper-inner-per-hour > .amenity-with-input-wrapper {
    vertical-align: bottom;
    font-weight: bold;
}
.extra-mult-controller.extra-wrapper-inner-per-hour > .amenity-with-input-wrapper input {
    position: relative;
    top: 2px;
}
.amenity-with-input-wrapper > div:first-of-type {
    text-align: right;
    vertical-align: bottom;
}

.extra-wrapper-inner-per-hour > .icon-and-price-unit> div:last-of-type {
    padding-bottom: 10px;
}
.go-to-arrow-wrapper {
    cursor: pointer;
}
.go-to-arrow-wrapper > i {
    color: #fff;
    font-size: 46px;
}

.shake-vertical:hover, .shake-trigger:hover .shake-vertical, .shake-vertical.shake-freeze, .shake-vertical.shake-constant {
    -webkit-animation-duration: 10000ms;
    -moz-animation-duration: 10000ms;
    -o-animation-duration: 10000ms;
    animation-duration: 10000ms;
}

.unavailable-block-legend {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    vertical-align: middle;
}
.guest-scheduler-wrapper-inner-block  {
  width: 85%;
  border: 1px solid #f1f1f1;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .guest-scheduler-wrapper-inner-block  {
    width: 100%;
  }
}
.guest-count-error-message {
    display: inline-block;
    background: tomato;
    color: #fff;
    padding: 5px;
    margin: 0 10px;
}

.flexslider {
    margin: 50px 0 0 0;
    border: none;
}

.mobile-space-prof-title, .mobile-space-prof-address {
    display: block;
}

@media only screen and (min-width: 992px) {
    .mobile-space-prof-title, .mobile-space-prof-address {
        display: none;
    }
}

.per-block-wrapper h3 > .minimum-number-of-guests {
    font-size: 13px;
    color: #5d5d5d;
    font-weight: 300;
    padding-left: 5px;
}
.menu-name {
    text-align: center;
    padding-top: 10px;
}

/*** Changes added with mobile issue fixes ***/

.schedular-and-calendar-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 140px;
}
@media only screen and (min-width: 992px) {
  .schedular-and-calendar-wrapper {
    padding-bottom: 0px;
  }
}

.booking-panel-input-wrapper > div {
    width: 50%;
    display: inline-block;
    padding: 5px;
}
.booking-panel-input-wrapper > div > .dropdown {
    width: 100%;
}
.booking-panel-input-wrapper > div > .dropdown > button {
    width: 100%;
    text-align: left;
    background: #ffffff;
    color: #000;
    border: 1px solid #f5f5f5;
    padding: 7px 25px 7px 5px;
}
.caret {
    position: absolute;
    top: 16px;
    right: 7px;
}
.booking-panel-input-wrapper > div:last-child {
    width: 100%;
}
.expected-guest-count-input-wrapper > span {
    display: inline-block;
    width: 50%;
    padding-left: 5px;
}
.expected-guest-count-input-wrapper > span > input {
    border: 1px solid #f5f5f5;
    height: 40px;
    padding: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ms-scheduler-not-avl {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e9e9e9;
    color: #3e380a;
}
.per-hour-titles {
    text-align: right;
}
.per-hour-titles > div {
    display: inline-block;
    width: 33%;
    text-align: left;
    position: relative;
    left: -5px;
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {-moz-appearance: textfield;}

.space-type-img-ico {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}
.total-amount-wrapper.total-amount-wrapper-faded {
    color: #e2e2e2;
}
.total-amount-wrapper {
    position: relative;
}
span.seating-option {
    font-weight: bold;
}
span.seating-option, span.seating-count {
    font-size: 14px;
}
span.amenity-title {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
}

.details-block-body .no-amenities-avai:first-of-type {
    padding-bottom: 20px;
}

/* user review styles */

.review-screen {
    margin: 60px auto 10px;
    background: #fff;
    padding: 10px;
    position: relative;
}

@media only screen and (min-width: 992px) {
    .review-screen {
        padding: 10px 60px;
    }
}
.review-screen-header {
    text-align: center;
}
.review-screen-header > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.review-screen-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: left;
}
.star-ratings-panel > ul {
    padding: 0;
    list-style: none;
}
.star-ratings-panel > ul > li {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}
.star-ratings-panel > ul > li > div > i {
    color: #f9db43;
    font-size: 22px;
    margin-right: 3px;
}
.review-title {
    text-align: center;
}

.review-title > h1 {
    font-size: 18px;
}
.review-person-date > p:first-child {
    font-weight: bold;
}

.comments-panel h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.user-review-btn {
    position: absolute;
    top: 100px;
    font-size: 30px;
    cursor: pointer;
}    
.user-review-next {
    right: 30px;
}
.user-review-prev {
    left: 30px;
}
.reviewer-name, .reviewed-date {
    display: block;
}
.reviewer-name {
    font-weight: bold;
}
.reviewed-date {
    font-size: 1.3rem;
}

.disabled-nav-chev {
    cursor: not-allowed;
    color: #e2e2e2;
}
@media only screen and (min-width: 992px) {
    .user-review-next {
        right: 20px;
    }
    .user-review-prev {
        left: 20px;
    }
}
/* end of user review styles */

/**** Space profile pricing ****/
.space-profile-pricing {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}



/*** Footer ***/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #e2e2e2;
    left: 0;
}
.footer-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
@media only screen and (min-width: 992px) {
    .footer-wrapper {
        width: 60%;
    }
}
/*.footer-wrapper > div:last-child > div:last-child {
    background: #f7cc28;
    text-align: center;
    padding: 3px 20px;
    border-radius: 3px;
}*/

.main-footer {
    z-index: 99;
    padding: 5px;
}
.main-footer .btn-primary {
    color: #fff;
    border: none;
    padding: 9px 16px;
    border-radius: 0;
    min-width: 100px;
    background: #efd75a;
    color: #000;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

.org-name {
    color: #00adee;
    font-weight: bold;
}
.footer-price {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.footer-price-txt {
    font-size: 10px;
}
.footer-profile-name h3 {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
