<header class="review-screen-header">
    <img [src]="profileImgUrl" alt="">
    <div class="review-person-date">
        <span class="reviewer-name" >{{reviewDetail?.userName}}</span>
        <span class="reviewed-date">{{ reviewedDate }}</span>
    </div>
</header>

<div class="review-title">
    <h1>{{reviewDetail?.title}}</h1>
</div>
<hr>
<div class="star-ratings-panel">
    <ul>
        <li>
            Service
            <div>
                <i class="fa" [ngClass]="{'fa-star': starServices >= i + 1 , 'fa-star-o': starServices < i + 1}" aria-hidden="true" *ngFor="let star of starCountArray; let i = index;"></i>
            </div>
        </li><li>
        Cleanliness
        <div>
            <i class="fa" [ngClass]="{'fa-star': startCleanliness >= i + 1 , 'fa-star-o': startCleanliness < i + 1}" aria-hidden="true" *ngFor="let star of starCountArray; let i = index;"></i>
        </div>
    </li><li>
        Value for money
        <div>
            <i class="fa" [ngClass]="{'fa-star': starValueForMoney >= i + 1 , 'fa-star-o': starValueForMoney < i + 1}" aria-hidden="true" *ngFor="let star of starCountArray; let i = index;"></i>
        </div>
    </li><li *ngIf="startMSExp">
        MillionSpaces experience
        <div>
            <i class="fa" [ngClass]="{'fa-star': startMSExp >= i + 1 , 'fa-star-o': startMSExp < i + 1}" aria-hidden="true" *ngFor="let star of starCountArray; let i = index;"></i>
        </div>
    </li>
    </ul>
</div>

<div class="comments-panel">
    <h3>Event Experience</h3>
    <p>{{reviewDetail?.description}}</p>
</div>

<div class="comments-panel" *ngIf="reviewDetail?.msExperience">
    <h3>MillionSpaces Experience</h3>
    <p>{{reviewDetail?.msExperience}}</p>
</div>