<div style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                Day
            </div>
            <div class="input-group" style="width: 100%">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{block.day.display}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let selectedDay of dayRange" (click)="changeDay(selectedDay)"><a>{{selectedDay.display}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                From
            </div>
            <!-- MS-672 -->
            <div class="input-group" [class.has-error]="!block.valid">
                <input id="startTimeBlock{{index}}"
                       class="form-control" type="text"
                       [(ngModel)]="block.from"
                       (blur)="setStartTime($event)"
                       (keydown)="disableProperties($event)"
                />
                <span style="color: #b2b2b2; position: absolute; top: 15px; right: 10px; z-index: 9;" class="what-r-u-pl-drop-down-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                To
            </div>
            <!-- MS-672 -->
            <div class="input-group" [class.has-error]="!block.valid">
                <input id="endTimeBlock{{index}}"
                       class="form-control" type="text"
                       [(ngModel)]="block.to"
                       (blur)="setEndTime($event)"
                       (keydown)="disableProperties($event)"
                />
                <span style="color: #b2b2b2; position: absolute; top: 15px; right: 10px; z-index: 9;" class="what-r-u-pl-drop-down-caret"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6" *ngIf="chargeType === 1">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                <span>Block price(LKR)</span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control"
                       [(ngModel)]="block.charge"
                       OnlyNumber="true"
                       maxlength="6"
                       aria-describedby="basic-addon1"
                       #blockCharge="ngModel"
                       [class.custom-block-space-count-zero-validation]="blockCharge.touched && (blockCharge.value < 1 || blockCharge.value == '')">
            </div>
        </div>
        <div class="col-md-2" *ngIf="chargeType === 2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                <span>Min. Price per guest(LKR)</span>
            </div>
            <!-- MS-672 -->
            <div class="input-group" [class.has-error]="!uniquePriceRange()">
                <input type="text" class="form-control"
                       [(ngModel)]="block.minPriceGuest"
                       OnlyNumber="true"
                       maxlength="5"
                       aria-describedby="basic-addon1"
                       #blockPrice = "ngModel"
                       [class.custom-block-space-count-zero-validation]="blockPrice.touched && (blockPrice.value < 1 || blockPrice.value == '')">
            </div>
        </div>
        <div class="col-md-2" *ngIf="chargeType === 2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                Menu
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" [disabled]="menus.length === 0"> {{selectedMenu ? selectedMenu.name : 'Menu'}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let menu of menus; let idx = index;">
                        <a (click)="selectMenu(menu, idx)">{{menu.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--New Element -->
        <div class="col-md-2" *ngIf="chargeType === 2">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                Min Block Price(LKR)
            </div>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="minGuest * block.minPriceGuest" readonly
                       aria-describedby="basic-addon1">
            </div>
        </div>
        <!--<div class="col-md-3" *ngIf="chargeType === 1">
            <div class="col-xs-12 p-x-0" *ngIf="index === 0">
                Reimbursable against bill
            </div>
            <div class="input-group">
                <input type="checkbox" [name]="'reimbursableBill' + index" [(ngModel)]="block.reimbursable" [checked]="block.reimbursable" >
            </div>
        </div>-->
        <!--/--------New Element -->
        <div class="row">
            <div class="input-group">
                <span style="cursor: pointer" (click)="removeSelectedBlock(index)"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>

</div>