<!--{{hostDetails | json}}<br>
{{spaceInformation | json}}<br>
{{basicSpaceInfo | json}}<br>
{{pricingAndAvailability | json}}<br>
{{preferences | json}}<br>
{{amenities | json}}<br>
-->
<div class="row">
    <div class="col-xs-12 p-x-0">
        <div class="col-xs-12 p-x-0 create-wizard-continer">
            <form novalidate>
                <div id="wizard">

                    <h2>Step 1</h2>
                    <section>
                        <div class="cus col-md-7 create-wizard-body">
                            <!---->
                            <steps-wizard [steps]="['active','disabled','disabled','disabled','disabled','disabled','disabled']"></steps-wizard>

                            <div class="col-xs-12 p-x-0 step-head-1 p-t-20 ">
                                Hi {{user.name}},<br>Let's get you started with a space listing!
                            </div>
                            <div class="col-xs-12 p-x-0 step-head-3 p-b-20">Complete your details</div>
                            <div class="col-xs-12 p-x-0 step-head-4">Contact person name</div>
                            <div class="col-xs-12 col-sm-8 col-md-8 p-x-0 m-b-10">
                                <input type="text" class="form-control"
                                        autocomplete="off"
                                       [(ngModel)]="hostDetails.hostname"
                                       name="host-name"
                                       #contactName="ngModel"
                                       minlength="1"
                                       maxlength="60"
                                       pattern="^[a-zA-Z\s]+$"
                                       required>
                                <div *ngIf="contactName.touched && !contactName.valid">
                                    <span class="field-error" *ngIf="contactName.hasError('required')">* Contact name is required</span>
                                    <span class="field-error" *ngIf="contactName.hasError('pattern')">* Contact name should be text only</span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6 p-x-0 m-b-20 p-t-20">
                                <div class="col-xs-12 p-x-0 step-head-4">
                                    Mobile phone
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           [(ngModel)]="hostDetails.mobileNum"
                                           name="mobile-number"
                                           #mobile="ngModel"
                                           OnlyNumber="true"
                                           minlength="10"
                                           maxlength="10"
                                           required>
                                </div>
                                <div *ngIf="mobile.touched && !mobile.valid">
                                    <span class="field-error" *ngIf="mobile.hasError('required')">* Mobile Number is required</span>
                                    <span class="field-error" *ngIf="mobile.hasError('minlength')">* Mobile Number should consist of 10 digits</span>
                                </div>

                            </div>
                            <div class="col-xs-12 p-x-0 step-head-4 p-t-20">
                                Company phone (optional)
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 p-x-0 m-b-20">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           [(ngModel)]="hostDetails.companyNum"
                                           OnlyNumber="true"
                                           #companyPhone="ngModel"
                                           maxlength="10"
                                           minlength="10"
                                           name="company-number">
                                </div>
                                <span class="field-error" *ngIf="companyPhone.touched && !companyPhone.valid && companyPhone.hasError('minlength')">* Company phone should consist of 10 digits</span>
                            </div>


                            <div class="col-md-8 m-b-20  p-x-0">
                                <label class="control control--checkbox">
                                    <input type="checkbox" (change)="toggleSecondaryContact()" [checked]="secondaryContact" />
                                    <div class="control__indicator"></div>
                                </label>
                                Add secondary contact (optional)
                            </div>
                            <div class="secondary-contact-wrapper" *ngIf="secondaryContact">
                                <div class="col-xs-12 p-x-0 step-head-4 p-t-20">
                                    Contact person name
                                </div>
                                <div class="col-md-8 p-x-0">
                                    <input type="text"
                                           class="form-control"
                                           maxlength="60"
                                           minlength="5"
                                           pattern="^[a-zA-Z\s]+$"
                                           name="contact2Name"
                                           #contact2Name ="ngModel"
                                           required
                                           [(ngModel)]="hostDetails.contact2Name"/>
                                    <div *ngIf="contact2Name.touched && !contact2Name.valid">
                                        <span class="field-error" *ngIf="contact2Name.hasError('required')">* Contact name is required</span>
                                        <span class="field-error" *ngIf="contact2Name.hasError('minlength')">* Contact name should consist at least 5 characters</span>
                                        <span class="field-error" *ngIf="contact2Name.hasError('pattern')">* Contact name should be text only</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-x-0 step-head-4 p-t-20">
                                    Email
                                </div>
                                <div class="col-md-6 p-x-0">
                                    <input type="text"
                                           maxlength="60"
                                           class="form-control"
                                           name="contact2Email"
                                           #contact2Email="ngModel"
                                           required
                                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                           [(ngModel)]="hostDetails.contact2Email"/>
                                    <div *ngIf="contact2Email.touched && !contact2Email.valid">
                                        <span class="field-error" *ngIf="contact2Email.hasError('required')">* Email is required</span>
                                        <span class="field-error" *ngIf="contact2Email.hasError('pattern')">* Email is invalid</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-x-0 step-head-4 p-t-20">
                                    Contact number
                                </div>
                                <div class="col-md-6 p-x-0">
                                    <input type="text"
                                           class="form-control"
                                           maxlength="10"
                                           minlength="10"
                                           OnlyNumber="true"
                                           name="contact2Number"
                                           required
                                           #contact2Number="ngModel"
                                           [(ngModel)]="hostDetails.contact2Number"/>
                                    <div *ngIf="contact2Number.touched && !contact2Number.valid">
                                        <span class="field-error" *ngIf="contact2Number.hasError('required')">* Contact number is required</span>
                                        <span class="field-error" *ngIf="contact2Number.hasError('minlength')">* * Contact number should consist of 10 digits</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 p-x-0 step-head-4 p-t-20">
                                Host logo/photo
                            </div>
                            <div class="col-xs-12 p-x-0 m-b-20">
                                <div class="colxs-12 p-x-0">
                                    <div class="pull-left">
                                        <img [src]="hostDetails.imageUrl" onError="this.src='../assets/img/user.png';" alt="profile-image" class="img-circle profile-pic">
                                    </div>
                                    <div class="pull-left m-l-20 m-xs-m-l-0 m-xs-m-t-20 p-t-20 m-xs-p-t-0">
                                        <div class="col-xs-12 p-x-0 m-b-10">
                                            <a class="btn btn-line" (click)="uploadHostLogo()">Upload Profile Photo</a>
                                        </div>
                                        <div class="col-xs-12 p-x-0">
                                            <div class="col-xs-12 p-x-0 step-head-5">
                                                If your space represents a company or an establishment, the corporate logo can be used here.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-2.png">
                            </div>
                            <p class="content-title bold m-b-0">Contact details</p>
                            <p class="content-body m-b-20">Mention how the MillionSpaces team can get in touch with you.</p>
                        </div>
                    </section>

                    <h2>Step 2</h2>
                    <section>
                    <div class="col-sm-12 col-md-7 create-wizard-body">
                        <!---->
                        <steps-wizard [steps]="['completed','active','disabled','disabled','disabled','disabled','disabled']"></steps-wizard>
                        <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                            Your listing title
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 p-x-0 m-b-10">
                            <div class="space-title-txt-area-wrapper">
                                <span class="word-count">{{40 - spaceInformation.title?.length}}</span>
                                <input
                                        autocomplete="off" class="form-control bold" rows="2" placeholder="e.g. Spacious Soho gallery with kitchen" minlength="1"
                                        maxlength="40" [(ngModel)]="spaceInformation.title" name="title" #title="ngModel" required>
                            </div>
                            <span class="field-error" *ngIf="title.touched && !title.valid">* Listing title is required</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 p-x-0 step-head-5">
                            Please do not use your organization name as your space name.
                        </div>
                        <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                            Organization name (optional)
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 p-x-0 m-b-10">
                            <input autocomplete="off" type="text" class="form-control" [(ngModel)]="spaceInformation.organization" name="organization" maxlength="32" />
                        </div>
                        <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                            What is the full address of your space?
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 p-x-0 m-b-10">
                            <input id="search-box" type="text" class="form-control" placeholder="e.g. 5th Lane Colombo" />
                            <!--<span class="field-error" *ngIf="!spaceInformation.address">* Address is required</span>-->
                        </div>
                        <div class="col-xs-12 p-x-0 step-head-5">
                            Make sure to specify floor and/or apartment number if applicable
                        </div>
                        <div class="col-xs-12 col-sm-8 p-x-0 h-250">
                            <map-view></map-view>
                        </div>

                        <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                            Tell event organizers about your space
                        </div>
                        <div class="col-xs-12 p-x-0 step-head-4">
                            Your description will appear in your space listing and will be the first introduction viewers have to your space.
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 p-x-0 m-b-10">
                            <div class="space-des-txt-area-wrapper">
                                <span class="word-count">{{300 - spaceInformation.description?.length}}</span>
                                <textarea
                                        class="form-control"
                                        rows="8"
                                        placeholder="My space has…  You’ll love my space because…"
                                        maxlength="300"
                                        minlength="1"
                                        [(ngModel)]="spaceInformation.description"
                                        name="desc"
                                        #desc="ngModel"
                                        required
                                >
                                    </textarea>
                            </div>
                            <span class="field-error" *ngIf="desc.touched && !desc.valid">* Description is required</span>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 p-x-0 step-head-5">
                            Please do not include the address of your space in this section or your organization name/email address.
                        </div>

                        <div class="col-xs-11 col-sm-10 p-x-0 step-head-3 p-t-20">
                            Photos can make your listing stand out
                        </div>
                        <div class="col-xs-12 col-sm-10 p-x-0 m-b-20">
                            <!--<a class="btn btn-line p-x-20" (click)="selectPhotos('thumbnail')">+ Add Thumbnail Photo</a><br>-->
                            <a class="btn btn-line p-x-20" (click)="uploadThumbnailImage()">+ Add Thumbnail Photo</a><br>
                            <!--<span class="field-error" *ngIf="!spaceInformation.thumbnailImgData">* Add a thumbnail photo</span>-->
                        </div>
                        <div class="col-xs-12 p-x-0">
                            <div class="space-pics-body">
                                <div *ngIf="!spaceInformation.thumbnailImgData" class="p-b-10" ><img src="https://placehold.it/480x200?text=No+Thumbnail" style="cursor: pointer"></div>
                                <preview-image [imageData]="spaceInformation.thumbnailImgData" (removed)="imageRemoved($event)"></preview-image>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 p-x-0 m-b-10">
                            <!--<div class="fileUpload btn btn-line" (click)="selectPhotos('cover')">
                                <span>+ Add Cover Photos</span>
                            </div>-->
                            <div class="fileUpload btn btn-line" (click)="uploadCoverImages()">
                                <span>+ Add Cover Photos</span>
                            </div>
                            <!--<span class="field-error" *ngIf="!spaceInformation.coverImgData[0]">* Add one or more cover photos</span>-->
                        </div>
                        <div class="col-xs-12 p-x-0">
                            <div class="space-pics-body">
                                <div *ngIf="spaceInformation.coverImgData.length === 0" class="p-b-10"><img src="https://placehold.it/480x200?text=No+Cover+Photos" style="cursor: pointer"></div>
                                <preview-image [imageData]="imageData" *ngFor="let imageData of spaceInformation.coverImgData" (removed)="imageRemoved($event)"></preview-image>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                        <div class="create-help-img">
                            <img src="../assets/img/create/create-img-4.png">
                        </div>
                        <p class="content-title bold m-b-0">Space title</p>
                        <p class="content-body m-b-20">Choose a space title that resembles the attributes of the space you’re listing.</p>

                        <p class="content-title bold m-b-0">Organization name</p>
                        <p class="content-body m-b-20">This will be the name of your hotel, restaurant, company, institute, etc.</p>

                        <p class="content-title bold m-b-0">Address</p>
                        <p class="content-body m-b-20">Share your address, so people can find you easily.</p>

                        <p class="content-title bold m-b-0">Space description</p>
                        <p class="content-body m-b-20">Write a description of your space. Keep it simple and realistic. Mention why your space is special and why guests would like it.</p>

                        <p class="content-title bold m-b-0">Thumbnail Photo</p>
                        <p class="content-body m-b-20">Upload a thumbnail image. This will be displayed to guests in the search results page. Don’t forget to upload an image that will draw in guests to view your space profile.</p>

                        <p class="content-title bold m-b-0">Cover Photos</p>
                        <p class="content-body m-b-20">Upload up to a dozen cover photos of your space. Try to provide a holistic view of your space. Most of the time, your guests will not be visiting your space before booking, so try to give them a 360 view of your space.</p>


                    </div>
                </section>

                    <h2>Step 3</h2>
                    <section>
                        <div class="col-sm-12 col-md-7 create-wizard-body">
                            <!---->
                            <steps-wizard [steps]="['completed','completed','active','disabled','disabled','disabled','disabled']"></steps-wizard>

                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                Space details & accessibility
                            </div>
                            <div class="col-xs-12 p-x-0 step-head-5">
                                What is the estimated square footage/meterage of the available space for an event?
                            </div>
                            <div class="input-group col-xs-6">
                                <input autocomplete="off" type="text" class="form-control" aria-label="..." [(ngModel)]="basicSpaceInfo.spaceSize" OnlyNumber="true" [class.space-count-zero-validation]="size.touched && (size.value == '' || size.value < 1)" name="spaceSize" #size="ngModel" maxlength="6" required>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" [class.space-count-zero-validation]="size.touched && (size.value == '' || size.value < 1)" aria-haspopup="true" aria-expanded="false">{{selectedMeasure.name}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li *ngFor="let measure of spaceMeasure" (click)="selectMeasure(measure)"><a>{{measure.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="size.touched && (!size.valid || size.value < 1)">
                                <span class="field-error" *ngIf="size.hasError('required')">* Space size is required.</span>
                                <span class="field-error" *ngIf="size.value < 1 && !size.hasError('required')">* Space size should be greater than 0.</span>
                            </div>

                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                How many guests can your space accommodate?
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 p-x-0 m-b-10">
                                <input type="text" class="form-control" [(ngModel)]="basicSpaceInfo.guestCount" name="guestCount" readonly="readonly">
                            </div>

                            <div class="col-xs-12 p-x-0 step-head-5 p-b-10">
                                Maximum number of guests
                            </div>

                            <div *ngFor="let option of seatingOptions" class="col-xs-12 col-sm-6 col-md-6 m-b-10">
                                <div class="col-xs-7 col-sm-7 col-md-7 p-x-0">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" [checked]="option.selected" (change)="selectSeatingOption(option)"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    {{option.name}}
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 p-x-0">
                                    <img class="img-responsive p-a-5" [src]="option.mobileIcon">
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 p-x-0">
                                    <input type="text" class="form-control"
                                           [attr.disabled]="option.selected ? null : ''"
                                           [value]="option.count"
                                           (input)="option.count = $event.target.value"
                                           [name]="option.id"
                                           OnlyNumber="true"
                                           maxlength="5"
                                           minlength="1"
                                           autocomplete="off"
                                           [class.space-count-zero-validation]="option.selected && ((option.count == '0') || (option.count == ''))"
                                    >
                                </div>
                            </div>

                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                Which activities are welcome in your space?
                            </div>


                            <div class="col-xs-12 p-x-0 m-b-20">
                                <div class="create-wizard-event-tiles">
                                    <div class="tile" [class.selected]="eventType.selected" *ngFor="let eventType of eventTypes" (click)="selectEvent(eventType)">
                                        <div class="col-xs-12 p-x-0 tile-inner">
                                            <div class="tile-icon text-center"><img width="50" [src]="eventType.mobileIcon" alt="event-type"></div>
                                            <div class="tile-name text-center">{{eventType.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 p-x-0 m-b-20" style="display: block">
                                <div class="type-of-space">
                                    <h3>What type of space is this?</h3>
                                    <div>
                                        <label class="control control--radio">
                                            <input type="radio" name="spaceType" [checked]="basicSpaceInfo.spaceTypes.indoor" (change)="setSpaceType(1)" />
                                            <div class="control__indicator"></div>
                                        </label> Indoor
                                    </div>
                                    <div>
                                        <label class="control control--radio">
                                            <input type="radio"  name="spaceType" [checked]="basicSpaceInfo.spaceTypes.outdoor" (change)="setSpaceType(2)"/>
                                            <div class="control__indicator"></div>
                                        </label> Outdoor
                                    </div>
                                    <div>
                                        <label class="control control--radio">
                                            <input type="radio"  name="spaceType" [checked]="basicSpaceInfo.spaceTypes.both" (change)="setSpaceType(3)"/>
                                            <div class="control__indicator"></div>
                                        </label> Indoor & Outdoor
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 p-x-0 m-b-20">
                                <h3>Amenities</h3>
                                <p class="amenities-info">The amenities that you are providing free of charge to your guests should be marked as <span>"Complimentary"</span>. If you are providing any amenities on a chargeable basis, select <span>"Chargeable"</span> against this amenity and indicate its price and the unit measure.</p>
                                <div class="table-responsive">
                                    <table class="table table-hover table-vertical-middle nomargin">
                                        <thead>
                                        <tr>
                                            <th width="20%"></th>
                                            <th align="center" width="10%">N/A</th>
                                            <th align="center" width="10%">Complimentary</th>
                                            <th align="center" width="10%">Chargeable</th>
                                            <th width="30%">Unit Price</th>
                                            <th width="20%">Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let amenity of amenities">
                                            <td>{{amenity.name}}</td>
                                            <td align="center">
                                                <!--<label class="control control&#45;&#45;checkbox">
                                                    <input type="checkbox"
                                                           [checked]="amenity.included"
                                                           (change)="includeAmenity(amenity)"
                                                    />
                                                    <div class="control__indicator"></div>
                                                </label>-->
                                                <label class="control control--radio">
                                                    <input type="radio"
                                                           name="complementary{{amenity.id}}"
                                                           [checked]="!amenity.selected"
                                                           (change)="resetAmenity(amenity)"
                                                    />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </td>
                                            <td align="center">
                                                <label class="control control--radio">
                                                    <input type="radio"
                                                           name="complementary{{amenity.id}}"
                                                           [checked]="amenity.complementary"
                                                           (change)="makeComplementAmenity(amenity)"
                                                    />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </td>
                                            <td align="center">
                                                <label class="control control--radio">
                                                    <input type="radio"
                                                           name="complementary{{amenity.id}}"
                                                           [checked]="amenity.chargable"
                                                           (change)="makeChargableAmenity(amenity)"
                                                    />
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="col-xs-12 p-x-0 m-b-10">
                                                    <div class="col-xs-12 p-x-0">
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="price">LKR</span>
                                                            <input type="text" class="form-control text-right"
                                                                   aria-describedby="basic-addon1"
                                                                   [(ngModel)]="amenity.unitPrice"
                                                                   [name]="amenity.id"
                                                                   OnlyNumber="true"
                                                                   maxlength="5"
                                                                   minlength="1"
                                                                   [attr.disabled]="amenity.chargable ? null : ''"
                                                                   [class.space-count-zero-validation]="amenity.chargable && (amenity.unitPrice == '0' || amenity.unitPrice == '')"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-xs-12 p-x-0 m-b-10">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle"
                                                                type="button" data-toggle="dropdown"
                                                                [attr.disabled]="amenity.chargable ? null : ''">
                                                            {{amenity.amenityUnitsDto.name}}
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li *ngFor="let unit of amenityUnits" (click)="selectAmenityUnit(amenity, unit)"><a>{{unit.name}}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div></div>
                        </div>

                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-10.png">
                            </div>
                            <p class="content-title bold m-b-0">Square Footage</p>
                            <p class="content-body m-b-20">Estimated square footage/meterage of your space. This will give an indication of the size of the space to your guests, when they are planning their event.</p>

                            <p class="content-title bold m-b-0">Seating arrangement</p>
                            <p class="content-body m-b-20">Also mention the seating styles your space can accommodate and how many guests at a maximum can be accommodated for each seating style. The overall maximum number of guests will be picked up automatically.</p>

                            <p class="content-title bold m-b-0">Event types</p>
                            <p class="content-body m-b-20">Think about which type of events your space is most suitable for and what you’re willing to host.</p>

                            <p class="content-title bold m-b-0">Amenities</p>
                            <p class="content-body m-b-20">The amenities that you are providing free of charge to your guests should be marked as "Complimentary". If you are providing any amenities on a chargeable basis, select "Chargeable" against this amenity and indicate its price and the unit measure.</p>

                        </div>
                    </section>

                    <h2>Step 4</h2>
                    <section>
                        <div class="col-sm-12 col-md-7 create-wizard-body">
                            <!---->
                            <steps-wizard [steps]="['completed','completed','completed','active','disabled','disabled','disabled']"></steps-wizard>

                            <div class="col-xs-12 p-x-0 step-head-3">
                                Minimum host notice period
                            </div>
                            <div class="col-xs-4 p-b-10 p-x-0">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input autocomplete="off" type="text"
                                               maxlength="3"
                                               minlength="1"
                                               class="form-control"
                                               aria-describedby="basic-addon1"
                                               OnlyNumber="true"
                                               name="noticePeriod"
                                               [(ngModel)]="pricingAndAvailability.noticePeriod"
                                               #noticePeriod = "ngModel"
                                               [class.space-count-zero-validation]="noticePeriod.touched && !noticePeriod" required>
                                        <span class="input-group-addon">Hrs</span>
                                    </div>
                                    <div *ngIf="noticePeriod.touched && !noticePeriod.valid">
                                        <span class="field-error" *ngIf="noticePeriod.hasError('required')">* Required field</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 p-x-0 step-head-3">
                                Pricing (per hour / blocks)
                            </div>
                            <div class="col-md-12 p-x-0">
                                <div class="pricing-model-tabs-component-wrapper">
                                    <ul class="pricing-model-tabs-header">
                                        <li [class.active]="pricingAndAvailability.availability === 'PH'">
                                            <label class="control control--radio">
                                                <input type="radio" name="activePeriod" checked="checked" value="PH" [(ngModel)]="pricingAndAvailability.availability"/>
                                                <div class="control__indicator"></div>
                                            </label>
                                            <span style="font-size: 18px;">Per hour</span>
                                        </li><li [class.active]="pricingAndAvailability.availability === 'PB'">
                                            <label class="control control--radio">
                                                <input type="radio" name="activePeriod" value="PB" [(ngModel)]="pricingAndAvailability.availability"/>
                                                <div class="control__indicator"></div>
                                            </label>
                                            <span style="font-size: 18px;">Customized blocks</span>
                                        </li>
                                    </ul>
                                    <ul class="pricing-modal-tabs-body">
                                        <li>
                                            <div [hidden]="pricingAndAvailability.availability !== 'PH'">
                                                <div class="pricing-availability-wrapper">
                                                    <p>This is where you charge your guests on a per hour basis, and do not have a minimum number of hours for a booking. The amount of time you need to tidy up after a booking should be indicated as the Buffer. Operating Hours should essentially state the hours during which you are open for reservations.</p>
                                                </div>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <label>Valid till</label>
                                                            <div class="input-group date" id="valid-till-ph" data-date="">
                                                                <input class="form-control" size="16" type="text" readonly  placeholder="Select Date" [value]="pricingAndAvailability.perHour.validTill | formatDate: 'caledar-format'">
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h3 class="operating-hours-title">Operating hours</h3>
                                                <rate-per-hour-block
                                                        *ngFor="let block of pricingAndAvailability.perHour.blocks; let idx = index"
                                                        [index]="idx"
                                                        [block]="block"
                                                        (repeatStart)="repeatStart($event)"
                                                        (repeatEnd)="repeatEnd($event)"
                                                        (repeatCharge)="repeatCharge($event)"
                                                ></rate-per-hour-block>

                                            </div>
                                            <div class="col-xs-12 col-sm-3" [hidden]="pricingAndAvailability.availability !== 'PH'">
                                                <label>Buffer Time(Hrs)</label>
                                                <input type="text" class="form-control" maxlength="2" [(ngModel)]="pricingAndAvailability.perHour.bufferTime" name="bufferTime" OnlyNumber="true" #bufferTime="ngModel" required>
                                                <span class="field-error" *ngIf="bufferTime.touched && (bufferTime.hasError('required') || bufferTime.value > 72)">* Buffer time should less than or equal to 72hr.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div [hidden]="pricingAndAvailability.availability !== 'PB'">
                                                <div class="pricing-availability-wrapper">
                                                    <p>This is where you charge your guests for a given block of hours of the day (e.g: morning block, afternoon block, evening block). If you require a minimum number of heads for a booking, then your block rate will be the total cost of this minimum number of heads. If you provide a special rate for a full day booking, you are able to define this rate as a separate block.</p>
                                                </div>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <label>Valid till</label>
                                                            <div class="input-group date" id="valid-till-pb" data-date="">
                                                                <input class="form-control" size="16" type="text" readonly placeholder="Select Date" [value]="pricingAndAvailability.perBlock.validTill | formatDate: 'caledar-format'">
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <label>Block charge type</label>
                                                            <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedBlockCharge.name}}<span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li (click)="selectBlockChargeType(chargeType)" *ngFor="let chargeType of blockChargeTypes"><a>{{chargeType.name}}</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6" *ngIf="selectedBlockCharge.id === 2">
                                                            <label>Minimum number of guests</label>
                                                            <input name="min-guest-count" class="input-minimum-number-of-guests" size="16" type="text" maxlength="5" OnlyNumber="true"
                                                                   [(ngModel)]="pricingAndAvailability.perBlock.minimumGuest" #minimumGuest="ngModel" [class.space-count-zero-validation]="minimumGuest.touched && ((minimumGuest.value == '0' || minimumGuest.value == '') || minimumGuest.value > basicSpaceInfo.guestCount)">
                                                            <span class="field-error" *ngIf="minimumGuest.touched && minimumGuest.value > basicSpaceInfo.guestCount">The minimum cannot exceed the maximum capacity defined.</span>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6" *ngIf="selectedBlockCharge.id === 1">
                                                            <label>Reimbursable against bill</label>
                                                            <div>
                                                                <input type="checkbox" name="reimbursableBill" [(ngModel)]="pricingAndAvailability.perBlock.reimbursable" [checked]="pricingAndAvailability.perBlock.reimbursable">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div>
                                                    <div>
                                                        <label for="">Menu</label>
                                                        <input type="button" id="myFile" size="50" (click)="uploadMenus()" value="Upload" />
                                                    </div>
                                                    <div class="space-pics-body">
                                                        <thumbnail-preview [menuImages]="pricingAndAvailability.perBlock.menuImageData" (removed)="imageRemoved($event)"></thumbnail-preview>
                                                        <!--<preview-image [imageData]="imageData" *ngFor="let imageData of pricingAndAvailability.perBlock.menuImageData" (removed)="imageRemoved($event)"></preview-image>-->
                                                    </div>
                                                </div>
                                                <div style="clear: both;">
                                                    <h3 class="operating-hours-title">Operating hours</h3>
                                                    <custom-block
                                                            [index]="idx"
                                                            [menus]="pricingAndAvailability.perBlock.menuImageData"
                                                            [chargeType]="pricingAndAvailability.blockChargeType"
                                                            [minGuest]="pricingAndAvailability.perBlock.minimumGuest"
                                                            [block]="block"
                                                            [blockList]="pricingAndAvailability.perBlock.blocks"
                                                            (removeBlock)="removeSelectedBlock($event)"
                                                            *ngFor="let block of pricingAndAvailability.perBlock.blocks; let idx = index"
                                                    ></custom-block>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>


                            <div class="row">

                            </div>
                            <div class="row p-t-20">
                                <div class="col-xs-12 p-b-10">
                                    <span class="field-error" *ngIf="oneBlockErrorMsg">Minimum one block needs to be defined.</span>
                                </div>

                                <div class="pull-right" [hidden]="pricingAndAvailability.availability !== 'PB'">
                                    <a class="add-list-btn m-t-10" (click)="addNewBlock()"><i class="fa fa-plus-circle p-r-10" aria-hidden="true"></i>Add Block</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-14.png">
                            </div>
                            <p class="content-title bold m-b-0">Minimum Host Notice Period</p>
                            <p class="content-body m-b-20">This will be the number of hours of advance notice you expect from a guest before booking your space. </p>

                            <p class="content-title bold m-b-0">Pricing (per hour / blocks)</p>
                            <p class="content-body m-b-20">
                                MillionSpaces has two pricing models that you can opt for. You can only select one of these pricing models, whichever works best for you.
                                <br>
                                <em>Per hour model</em> - This is where you charge your guests on a per hour basis. Operating Hours should essentially state the hours during which you are open for reservations.
                                <br>
                                <em>Customized block model</em> - This is where you charge your guests for a given block of hours of the day (e.g: morning block, afternoon block, evening block). If you provide a special rate for a full day booking, you are able to define this rate as a separate block.
                                <br>
                                Under the customized block model, you can choose between ‘Space only charge’ and ‘Per guest based charge’. Fill in the start and end time of the block and an associated cost. If the guest can reimburse this amount against food/beverages, then tick the ‘reimbursable against bill’ box.
                                <br>
                                You can attach your meals menu, (if applicable) to be shown to your potential guests.
                                If you charge on a per head basis, then select ‘Per guest based charge’. Don’t forget to select the menu applicable to the rate you have defined for the block. You may add as many blocks as you desire.
                            </p>

                            <p class="content-title bold m-b-0">Valid Till</p>
                            <p class="content-body m-b-20">Valid Till indicates the date until which your prices will be effective. You are expected to update your availability calendar real-time with bookings received during this period. </p>

                            <p class="content-title bold m-b-0">Buffer Time</p>
                            <p class="content-body m-b-20">The amount of time, if any, you need to tidy up after a booking should be indicated as the Buffer. </p>
                        </div>
                    </section>

                    <h2>Step 5</h2>
                    <section>
                        <div class="col-sm-12 col-md-7 create-wizard-body">
                            <!---->
                            <steps-wizard [steps]="['completed','completed','completed','completed','active','disabled','disabled']"></steps-wizard>

                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                Set your space rules
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md- m-b-10">
                                <div class="col-xs-12 col-sm-6 col-md-6 p-x-0">
                                    <div class="row" *ngFor="let rule of spaceRules.slice(0,this.Math.ceil(spaceRules.length/2)); let idx1 = index">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" [checked]="rule.selected" (change)="selectRule(rule,idx)"/>
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span>{{rule.name}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 p-x-0">
                                    <div class="row" *ngFor="let rule of spaceRules.slice(this.Math.ceil(spaceRules.length/2), spaceRules.length); let idx2 = index">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" [checked]="rule.selected" (change)="selectRule(rule,idx)"/>
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span>{{rule.name}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 p-x-0 p-t-20 step-head-3">
                                Set your cancellation policy

                                <div class="col-xs-12 p-x-0 p-b-5 p-t-15 step-head-4">
                                    Choose the policy that best suits your needs.
                                </div></div>

                            <div class="col-xs-12 col-sm-6 col-md-7 p-x-0 m-b-20">
                                <div class="list-group">
                                    <a class="list-group-item" [class.active]="policy.selected" (click)="selectCancellationPolicy(policy)" *ngFor="let policy of cancellationPolicies">
                                        <b>{{policy.name}}:</b> {{policy.description}}
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-16.png">
                            </div>
                            <p class="content-title bold m-b-0">Space rules</p>
                            <p class="content-body m-b-20">Define your space rules, tell your guests what is permitted and what is not in your space.</p>

                            <p class="content-title bold m-b-0">Cancellation policy </p>
                            <p class="content-body m-b-20">You define your space cancellation policy. Choose between flexible, moderate and strict policies, depending on your preference. </p>
                        </div>
                    </section>

                    <h2>Step 6</h2>
                    <section>
                        <div class="col-sm-12 col-md-7 create-wizard-body">
                            <steps-wizard [steps]="['completed','completed','completed','completed','completed','active','disabled']"></steps-wizard>
                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                Fee structure
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="pull-left p-r-10 p-b-20" src="../../../assets/img/listing/fee-structure-icon1.png" width="65px">
                                    <span class="step-head-3 p-t-10">20% Commission</span><br>
                                    (Only for bookings generated via MillionSpaces)
                                </div>
                                <div class="col-sm-12">
                                    <img class="pull-left p-r-10 p-b-20" src="../../../assets/img/listing/fee-structure-icon2.png" width="65px">
                                    <span class="step-head-3 p-t-10">Listing fee - Rs.1000</span><br>(Waived for first year)
                                </div>
                                <div class="col-sm-12">
                                    <img class="pull-left p-r-10 p-b-20" src="../../../assets/img/listing/fee-structure-icon3.png" width="65px">
                                    <span class="step-head-3 p-t-10">Referral fee - Rs.500</span><br>
                                    (Waived for first year)
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 p-t-20 p-b-20">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" (change)="selectFeeAgreement()"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    I have read and agree to the above fee structure.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-17.png">
                            </div>
                            <p class="content-title bold m-b-0">Tick the box indicating that you are agreeing to the fee structure.</p>
                        </div>
                    </section>

                    <h2>Step 7</h2>
                    <section>
                        <div class="col-sm-12 col-md-7 create-wizard-body">
                            <steps-wizard [steps]="['completed','completed','completed','completed','completed','completed','active']"></steps-wizard>
                            <div class="col-xs-12 p-x-0 step-head-3 p-t-20">
                                Bank account details
                            </div>
                            <div class="row">
                                <div class="col-xs-12 p-b-10">
                                    <div class="form-group">
                                        <div class="col-xs-12 p-x-0 p-t-20">
                                            Account holder name
                                        </div>
                                        <div class="col-md-7 p-x-0 p-t-20">
                                            <input type="text" class="form-control" [(ngModel)]="hostDetails.bankInfo.accountHolderName"  [class.space-count-zero-validation]="accountHolderName.touched && !accountHolderName.valid" maxlength="70" name="accountHolderName" #accountHolderName = "ngModel" required>
                                                <span class="field-error" *ngIf="accountHolderName.touched && !accountHolderName.valid">* Required field</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 p-x-0 p-t-20">
                                            Account Number
                                        </div>
                                        <div class="col-md-7 p-x-0 p-t-20">
                                            <input type="text" class="form-control" [(ngModel)]="hostDetails.bankInfo.accountNumber" maxlength="34" [class.space-count-zero-validation]="accountNumber.touched && !accountNumber.valid" name="accountNumber" OnlyNumber="true" #accountNumber="ngModel" required>
                                            <div *ngIf="accountNumber.touched && (!accountNumber.valid || accountNumber.value < 1)">
                                                <span class="field-error" *ngIf="accountNumber.hasError('required')">* Required field</span>
                                                <span class="field-error" *ngIf="accountNumber.value < 1 && !accountNumber.hasError('required')">* Account number should be greater than 1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 p-x-0 p-t-20">
                                            Bank
                                        </div>
                                        <div class="col-md-7 p-x-0 p-t-20">
                                            <input type="text" class="form-control" [(ngModel)]="hostDetails.bankInfo.name" name="bankName" #bankName="ngModel" [class.space-count-zero-validation]="bankName.touched && !bankName.valid" required>
                                            <span class="field-error" *ngIf="bankName.touched && bankName.hasError('required')">* Required field</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 p-x-0 p-t-20">
                                            Bank Branch
                                        </div>
                                        <div class="col-md-7 p-x-0 p-t-20">
                                            <input type="text" class="form-control" [(ngModel)]="hostDetails.bankInfo.branch" name="bankBranch" [class.space-count-zero-validation]="bankBranch.touched && !bankBranch.valid" #bankBranch="ngModel" required>
                                            <span class="field-error" *ngIf="bankBranch.touched && bankBranch.hasError('required')">* Required field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-15.png">
                            </div>
                            <p class="content-title bold m-b-0">Bank Account details</p>
                            <p class="content-body m-b-20">Give us your bank account details to which we will remit your booking fees net of the MillionSpaces commission. </p>
                        </div>
                    </section>

                    <h2>Step 8</h2>
                    <section>
                        <div class="col-xs-12 col-sm-12 col-md-7 create-wizard-body">
                            <div class="col-xs-12 col-sm-10 p-x-0 m-b-20 step-head-1">
                                Awesome!<br>Your space is ready for review.
                            </div>
                            <div class="col-xs-12 col-sm-10 p-x-0">
                                <div class="progress m-b-10">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 p-x-0 m-b-20 step-head-2">
                                Your listing is 100% done.
                            </div>
                            <div class="col-xs-12 col-sm-10 p-x-0 step-head-4">
                                Your listing will be live on millionspaces.com once our team approves it.
                                This can take up to 2 working days.
                            </div>
                            <div class="col-xs-12 p-x-0 m-b-20">
                                <a class="btn btn-primary p-x-20" (click)="createSpace()" id="submitForReviewBtn">Submit for Approval</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
                            <div class="create-help-img">
                                <img src="../assets/img/create/create-img-18.png">
                            </div>
                            <p class="content-title bold m-b-0">Your space is ready for review.</p>
                        </div>

                    </section>

                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>
<modal-component [modalComponentData]="modalComponentData"></modal-component>