<div class="row">
    <div class="col-xs-12 p-x-0 list-home-row-1">
        <div class="become-host-section">
            <h1>Become<br>a Space host</h1>
            <a (click)="showNewSpaceWizard()" class="btn btn-primary get-start" id="getstartedBtn">Get Started</a>
            <p class="desktop-site-request">Visit Desktop site to list your space</p>
        </div>
    </div>
</div>
<div class="row">
    <section class="info-bar info-bar-clean">
        <div class="container">

            <div class="row">

                <div class="col-sm-4">
                    <img class="pull-left p-r-10" src="../../../assets/img/listing/fee-structure-icon1.png" width="100px">
                    <h3>Commission</h3>
                    <h1>20%</h1>
                    <br class="clearfix">
                    (Only for bookings generated via MillionSpaces)
                </div>

                <div class="col-sm-4">
                    <img class="pull-left p-r-10" src="../../../assets/img/listing/fee-structure-icon2.png" width="100px">
                    <h3>Listing fee</h3>
                    <h1>Rs.1000</h1>
                    <br class="clearfix">
                    (Waived for first year)
                </div>

                <div class="col-sm-4">
                    <img class="pull-left p-r-10" src="../../../assets/img/listing/fee-structure-icon3.png" width="100px">
                    <h3>Referral fee</h3>
                    <h1> Rs.500</h1>
                    <br class="clearfix">
                    (Waived for first year)
                </div>

            </div>

        </div>
    </section>
</div>
<div class="row">
    <div class="col-xs-12 about-container">
        <h1 class="about-title">What We Do, & Why</h1>
        <h4>Discover & Book Unique Spaces For Your Upcoming Activity</h4>
        <p style="color: #5a5a5a;">
            MillionSpaces is an online marketplace where people can list, discover and book unique spaces. We believe we can improve the way we use and share space in order to foster creativity, build community and promote a more sustainable model of urban life. Our marketplace gives access to undiscovered and underutilized spaces, offering extraordinary arenas for events, experiences and activations of all shapes and sizes.
        </p>

    </div>
</div>
<div class="row nomargin" style="background-color: #6f6f6f;">

    <!-- LEFT -->
    <div class="about-img-left col-md-6 col-sm-6 no-padding">

    </div>

    <!-- RIGHT -->
    <div class="col-md-6 col-sm-6 no-padding">

        <div class="about-box-right">

            <p class="about-sub-title">MillionSpaces</p>
            <p class="about-box-title">FOR HOSTS</p>
            <ul>
                <li>List your space with us entering some basic
                    information about your space, pictures and types of events you would welcome. </li>
                <li>We will ensure that your space is recognized among event organizers. </li>
                <li>We will give them the ability to instantly book your space on availability. </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 p-x-0 p-t-70 padding-bottom-80 list-home-row-2 text-center">
        <div class="col-xs-12 p-x-0">
            <div class="p-b-50 padding-top-30">
                <h1 align="center" style="font-size: 50px; font-weight: bold;">It’s very easy</h1>
            </div>
            <div class="col-sm-4 steps m-xs-m-t-20">
                <div class="step-1">
                    <span class="step-icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <h4>Sign Up</h4>
                    <p>Create a listing that showcases your space. Write a description, upload photos, and choose your own pricing.</p>
                </div>
            </div>

            <div class="col-sm-4 steps m-xs-m-t-20">
                <div class="step-2">
                    <span class="step-icon"><i class="fa fa-connectdevelop" aria-hidden="true"></i></span>
                    <h4>Connect &amp; Manage</h4>
                    <p>Start receiving inquiries and managing leads from people &amp; brands looking to host events in spaces like yours. We have the tools to help you stay organized.</p>

                </div>
            </div>

            <div class="col-sm-4 steps m-xs-m-t-20">
                <div class="step-3">
                    <h4>Begin Hosting</h4>
                    <p>Host on your own terms. Whether it’s a cocktail party, pop-up shop, or photo shoot, you choose what type of events will happen in your space.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row nomargin" style="background-color: #6f6f6f;">

    <!-- left -->
    <div class="col-md-6 col-sm-6 no-padding">

        <div class="about-box-left">

            <p class="about-sub-title">What are the</p>
            <p class="about-box-title">ADVANTAGES</p>
            <ul>
                <li>More bookings; increased revenue </li>
                <li>Free publicity for spaces </li>
                <li>Convenience for guests </li>
                <li>Real-time space booking </li>
                <li>Secured transactions </li>
            </ul>
        </div>

        <div>
            <a class="advantage-link-btn" (click)="showNewSpaceWizard()" id="startmylistingBtn">Start My Listing</a>
        </div>


    </div>

    <!-- right -->
    <div class="about-img-right col-md-6 col-sm-6 no-padding">

    </div>
</div>

<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>
<modal-component [modalComponentData]="modalComponentData"></modal-component>