<div class="row create-wizard-submit">
    <div class="col-sm-12 col-md-7 create-wizard-body">
        <div class="col-xs-12 col-sm-10 p-x-0 m-b-20 step-head-1" style="margin-top: 100px">
            Congrats!
        </div>
        <div class="home-btn" style="margin-top: 50px;">
            <a class="btn btn-line" href="/"><span><i class="fa fa-home"></i></span></a>
            <a class="btn btn-line" [routerLink]="'/spaces/listing/new'"><span><i class="fa fa-plus p-r-10" aria-hidden="true"></i></span>Add New Space</a>
        </div>
        <div class="col-xs-12 col-sm-10 p-x-0 m-b-20 p-b-10 step-head-4">
            Your listing has been submitted for review.
        </div>
        <div class="col-xs-12 p-x-0">
            <div class="space-pics-body">
                <div class="col-xs-12 col-sm-8 m-b-10 p-x-0 space-image-box">
                    <img src="{{env.bucket}}/{{firstCoverImage}}" alt="...">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 p-x-0 m-t-20 step-head-4">
            Our team is on it. You’ll be notified that your listing is approved and live in the marketplace within 2 working days. Visit Your <a [routerLink]="'/user/profile/my-spaces'">Listing page</a> to review your space page.
            <br><br>
            For any questions feel free to <a href="mailto:hello@millionspaces.com">contact us</a>.
            <br><br><br>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 hidden-sm hidden-xs create-help-body animated fadeInDown">
        <div class="create-help-img">
            <img src="../assets/img/create/create-img-19.png">
        </div>
        <p class="bold">Your listing has been submitted for review</p>
    </div>
</div>