.navbar-v2-wrapper {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    border-bottom: 1px solid #f7f7f7;
}
.navbar-brand {
    float: left;
}
.navbar .navbar-toggle{
  margin-top: 10px;
}

/*** Best price guranteed ***/
.best-price-guranteed {
    float: right;
}
.best-price-guranteed > img {
    width: 120px;
    margin-top: 9px;
    margin-left: 50px;
}

/** search **/
.navbar-search-form input {
    border: none;
}

/** List my space **/
.navbar .nav li a.list-my-space {
    background: #F7941E;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.navbar .nav li a.list-my-space {
    padding: 4px 15px!important;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-right: 50px;
}
.hotline {
    font-size: 14px;
}
.navbar-right {
    margin-top: 0!important;
}
@media only screen and (max-width: 768px) {
    .navbar .nav li a {
        padding: 15px!important;
        display: inline-block;
        outline: none;
        width: 100%;
        text-align: center;
    }
    .navbar .nav li a.list-my-space {
        padding: 15px!important;
    }
    .navbar-collapse {
        overflow-x: hidden;
    }
}

.navbar .nav li .dropdown-menu a {
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .dropdown-menu {
        min-width: 120px;
        margin-top: 20px!important;
        position: absolute;
    }
    .dropdown-menu li {
       text-align: center;
    }
    .dropdown-menu:after, .dropdown-menu:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }    
    .dropdown-menu:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 5px;
        margin-left: -5px;
    }
    .dropdown-menu:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 11px;
        margin-left: -11px;
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
