<nav class="navbar navbar-default navbar-v2-wrapper">
	<div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1"
			 aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/"><img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1511450194/millionspaces/logo.svg" /></a>
			<div class="best-price-guranteed">
				<img alt="" class="guranteed-img" src="https://res.cloudinary.com/dgcojyezg/image/upload/millionspaces/icons/option1.svg">
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="user?.role !== 'GUEST'">
					<a class="list-my-space" routerLink="/spaces/listing/home" id="listMySpaceBtn">List my space</a>
				</li>
				<li *ngIf="!user">
					<a class="hotline" (click)="signInUser()"><i class="fa fa-user"></i> Login</a>
				</li>
				<li *ngIf="user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{(user?.role === 'GUEST') ? user.email : user.name}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li *ngIf="user?.role !== 'GUEST'">
							<a (click)="goToProfile()"><i class="fa fa-user"></i>Profile</a>
						</li>
						<li>
							<a (click)="signOutUser()"><i class="fa fa-share-square-o" aria-hidden="true"></i>Logout</a>
						</li>
					</ul>
				</li>
				<!--<li class="dropdown">

				</li>-->
			</ul><!-- /.navbar-right -->

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>