.payments-page-wrap {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrap {
        width: 60%;
    }
}
/** Header **/
.payments-page-header {
    text-align: center;
}
.payments-page-header > h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.navigator {
    padding-left: 0;
}
.navigator > li {
    display: inline-block;
}
.navigator > li:after {
    width: 40px;
    content: "";
    border-bottom: 1px solid #e2e2e2;
    height: 10px;
    display: inline-block;
    position: relative;
    top: -5px;
}
/*@media only screen and (min-width: 992px) {
    .navigator > li:after {
        width: 100px;
    }
}*/
.navigator > li:last-child:after {
    display: none;
}
.navigator > li.active-step:after {
    border-bottom-color: #FFDD57;
}
.navigator > li > span {
    display: inline-block;
    border-radius: 50%;
    padding: 3px 9px;
    background: #e2e2e2;
}
.navigator > li.active-step > span {
    background: #FFDD57;
}

/*** payments page wrapper ***/

.payments-page-wrapper > div {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrapper > div:first-child {
        width: 50%;
    }
    .payments-page-wrapper > div:last-child {
        width: 50%;
    }
}

/*** Footer ***/
.footer-wrapper button {
    vertical-align: middle;
    background: #FFDD57;
    color: #000;
    padding: 6px;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    -webkit-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    -moz-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    cursor: pointer;
}
.footer-wrapper button.disabled-next-btn {
    background: #949494;
    cursor: not-allowed;
}
.footer-wrapper button > p:first-child {
    margin-bottom: 0;
}
.footer-wrapper button > p:last-child {
    margin-bottom: 0;
    font-size: 8px;
}
.payment-flow-footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #e2e2e2;
    padding: 15px 10px;
    border-top: 1px solid #d4d4d4;
}
.payment-flow-footer {
    width: 100%;
    display: inline-block;
}
.payment-flow-footer > div {    
    margin: 0 auto;
}
@media only screen and (min-width: 992px) {
    .payment-flow-footer > div {
        width: 60%;
    }
}
.hide-on-mobile {
    display: none;
}
@media only screen and (min-width: 992px) {
    .hide-on-mobile {
        display: block;
    }
}
/* .footer-profile-name {
    position: relative;
    top: 3px;
} */
.footer-profile-name h3 {
    margin: 0;
    padding: 0;    
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
.footer-price {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.footer-price-txt {
    font-size: 10px;
}
/*** Booking panel ****/
.booking-panel {
    background: #007AFF;
    padding: 30px;
    margin-top: 20px;
}
.select-menu-wrappers {
    display: inline-block;
    width: 33.33%;

}
.select-menu-wrappers > select {
    width: 90%;
    padding: 10px 5px;
    border: none;
    border-radius: 3px;
}
.select-menu-wrappers > label {
    color: #fff;
}

/**** Price break down ****/
.price-break-down {
    width: 100%;
    margin: 20px auto 0;
}
@media only screen and (min-width: 992px) {
    .price-break-down {
        width: 50%;
    }
}
.price-break-down > ul {
    list-style: none;
    margin-left: 0;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
}
.price-break-down > ul > li {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.price-break-down > ul > li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.price-break-down > ul > li > div {
    width: 50%;
    display: inline-block;
}
.price-break-down > ul > li > div:last-of-type {
    text-align: right;
}
.advance-input-wrapper {
    font-size: 12px;
    color: #8c8c8c!important;
    font-weight: normal;
}
.advance-input-wrapper > input[type=checkbox] {
    position: relative;
    top: 3px;
}
.total {
    font-weight: bold;
}
.advance {
    font-weight: bold;
    color: #419dff
}
.balance {
    font-weight: bold;
}
.promo-code {
    margin-bottom: 100px;
}
.promo-heading {
    background: #e2e2e2;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
}
.promo-heading p {
    padding: 5px 0!important;
    margin: 0;
}
.promo-body {
    text-align: center;
    padding: 40px 0;
    border: 1px solid #e2e2e2;
}
 input.promo-input {
    border: 1px dashed #7bcdfd;
    height: 50px;
    padding: 3px 10px;
    border-style: dashed;
    border-width: 1.5px;
     width: 60%;
}
.promo-btn {
    background: #FFDD57;
    text-transform: uppercase;
    margin: 2rem;
    width: 60%;
    font-weight: bold;
    border-radius: 5px;
}
.promo-body > div > input, .promo-body > div > a {
    width: 60%;
}
.hide-panel-body {
    /* visibility: hidden; */
    display: none;
}
.promo-body > div > a {
    color: #000;
    border-radius: 6px;
}

/*********************************** Modal window**************************************/
.modal-window-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-window-overlay.show-modal {
    display: block;
}
.modal-window-panel {
    background: #ffffff;
    width: 90%;
    margin: 120px auto;
    padding: 20px;
    text-align: center;
}
.modal-window-overlay.show-modal {
    position: fixed;
    height: 100%;
    overflow: auto;
}
@media only screen and (min-width: 992px) {
    .modal-window-panel {
        margin: 80px auto;
        width: 350px;
    }
    .modal-window-overlay.show-modal {
        position: fixed;
        height: 100%;
    }
}
.modal-heading h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-text-content > p {
    font-size: 13px;
}
.mobile-number {
    text-transform: uppercase;
    font-weight: bold;
}
.mobile-number > h2 {
    color: #69b6f9;
}
.modal-icon-content {
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
.modal-icon-content > img {
    width: 100px;
    display: inline-block;
}
.modal-button {
    margin-top: 30px;
}
.modal-button > a {
    text-transform: uppercase;
    background: #FFDD57;
    padding: 10px;
    width: 200px;
    display: inline-block;
    color: black;
    border-radius: 3px;
}

.contact-form-btn {
    background: #FFDD57;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
}
.contact-form-btn-disabled {
    background: #e2e2e2;
}
.panel-heading-icon-btn {
    right: 10px;
    top: 10px;
    position: absolute;
}

/* custom styles */
.org-name {
    color: #00adee;
    font-weight: bold;
}
.close-modal {
    display: inline-block;
    cursor: pointer;
    float: right;
}
.footer-wrapper {
    padding: 0rem 1rem;
}

@media screen and (min-width: 768px){
    .modal-icon-content {
        display: block;
    }
}

