<div style="margin-top: 80px"></div>

<div class="payments-page-wrap">
  <div class="payments-page-wrap-inner">

    <header class="payments-page-header">
      <h3>PAYMENT SUMMARY</h3>
      <ul class="navigator">
        <li class="active-step"><span>1</span></li
        ><li class="active-step"><span>2</span></li
      ><li class="active-step"><span>3</span></li>
      </ul><!-- /.navigator -->
    </header><!-- /.payments-page-header -->

    <div class="price-break-down">
      <ul class="price-list">
        <li><div>Space Price</div><div>{{ spaceCost | number }}</div></li>
        <li><div>Amenities</div><div>{{ amenityCost | number }}</div></li>
        <li><div>Promotion</div><div> ({{ discountAmount | number }})</div></li>
        <li *ngIf="spaceDiscount"><div>Discount</div><div>({{ spaceDiscount | number }})</div></li>
        <li class="total"><div>Total</div><div>{{ totalCost | number }}</div></li>
        <li class="advance" *ngIf="advanceOnlyEnable"><div>Advance Option ({{ advancePayment | currency:'LKR':false:'.0-0' }})</div><div [style.visibility]="showBalancePayable ? 'visible': 'hidden'">{{ advancePayment | number }}</div><span class="advance-input-wrapper"><input type="checkbox" (change)="toggleAdvancePayment()" /> I want to only make an advance payment</span></li>
        <li class="balance" *ngIf="showBalancePayable"><div>Balance Payable</div><div>{{ (totalCost - advancePayment) | number }}</div></li>
      </ul>
      <div class="promo-code">
        <div class="promo-heading" (click)="togglePanel = !togglePanel">
          <p>I have a promo code</p>
          <span class="panel-heading-icon-btn"><i class="fa" [ngClass]="{'fa-plus': togglePanel, 'fa-minus': !togglePanel}"></i></span>
        </div>
        <div class="promo-body" [class.hide-panel-body]="togglePanel"> <!-- /. hide-panel-body-->
          <form (ngSubmit)="verifyPromo(promoForm.value)" #promoForm="ngForm">
            <div><input class="promo-input" name="promoCode" type="text" placeholder="GQ9Y1" ngModel alphaNumeric id="promo-input" /></div>
            <div><button type="submit" class="btn promo-btn">Apply</button></div>
          </form>
        </div>
      </div>
    </div>

    <footer class="payment-flow-footer">
        <div class="footer-wrapper">
          <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-5 hidden-xs hidden-sm">
              <div class="footer-profile-name">
                <h3>{{ bookingData.spaceName }}</h3>
                <p class="org-name">{{ bookingData.orgName }}</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer-price-txt">Total Payable</div>
              <div class="footer-price">{{ ((showBalancePayable) ? advancePayment : totalCost) | currency:'LKR':false:'.0-0' }}</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <button class="btn-primary" (click)="continueToPayment()" >
                <p>NEXT</p>
                <p style="font-size: 9px">You won't be charged yet</p>
              </button>
            </div>
          </div>
        </div>
      </footer> 

  </div><!-- /.payments-page-wrap-inner -->
</div><!-- /.payments-page-wrap -->


<div class="modal-window-overlay" [class.show-modal]="showContactModal">
  <div class="modal-window-panel">
    <span class="close-modal" (click)="showContactModal = false"><i class="fa fa-close"></i></span>
    <div class="modal-window-panel-inner">
      <header class="modal-heading">
        <h1>ENTER MOBILE NUMBER</h1>
        <p>This is to provide you a royal service</p>
      </header>
      <form #f="ngForm" (ngSubmit)="submitContactForm(f.value)">
        <div class="modal-body">
          <div class="modal-icon-content"><img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1536912601/ms-mobile-web/service.png" alt=""></div>
          <div class="modal-text-content">
            <input type="tel" class="form-control" pattern="[0-9]{10}" maxlength="10" numbersOnly name="contactNumber" required [ngModel]="user?.mobileNumber" placeholder="0763483944">
          </div>
          <button class="btn contact-form-btn" type="submit" [disabled]="f.invalid">DONE</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-window-overlay" [class.show-modal]="promocodeApplied">
  <div class="modal-window-panel">
    <div class="modal-window-panel-inner">
      <header class="modal-heading">
        <h1>Alert</h1>
      </header>
      <div class="modal-body">
        <div class="modal-icon-content"></div>
        <div class="modal-text-content">
          <p *ngIf="validPromo">Promo code successfully redeemed!</p>
          <p *ngIf="!validPromo">Invalid promo code!</p>
        </div>
        <div class="modal-button" (click)="promocodeApplied = false"><a>Close</a></div>
      </div>
    </div>
  </div>
</div>

<div class="modal-window-overlay" [class.show-modal]="showErrorModal">
  <div class="modal-window-panel">
    <div class="modal-window-panel-inner">
      <header class="modal-heading">
        <h1>Alert</h1>
      </header>
      <div class="modal-body">
        <div class="modal-icon-content"></div>
        <div class="modal-text-content">
          <p>{{ bookingErrorMessage }}</p>
        </div>
        <div class="modal-button" (click)="showErrorModal = false"><a>Close</a></div>
      </div>
    </div>
  </div>
</div>


