<div class="row">
    <div class="col-xs-12 p-x-130 m-md-p-l-0 m-xs-p-x-0 m-t-15 booking-confirm">
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 p-l-0 booking-confirm-img hidden-xs">
            <label class="font-16 text-center w-100-p">Congratulations!</label>
            <img src="../assets/img/booking-confirmed.png">
        </div>
        <div class="booking-box animated slideInUp">
            <div class="booking-box-headding text-center">
                <span class="font-20">Order Summary</span>
            </div>
            <div class="booking-box-body">
                <div class="col-xs-12 p-x-0">
                    <div class="col-xs-12 p-x-0 m-t-10">
                        <div class="col-xs-12 p-x-0 m-b-10">
                            <div class="fixed-dates">
                                {{userSpace.fromDate | formatDate}}
                            </div>
                        </div>
                        <div class="col-xs-12 p-x-0">
                            <div class="fixed-dates">
                                {{userSpace.toDate | formatDate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-x-0 m-t-10">
                    <div class="col-xs-12 values-box">
                        <div class="form-horizontal">
                            <div class="form-group border-b m-b-5">
                                <label class="col-xs-8 p-l-0 control-label text-left">Space price (<span class="small">{{sellingCurency}}</span> {{userSpace.space.ratePerHour}} * {{ getNumberOfHours() | number : '.2-2'}} Hrs)</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{userSpace.space.ratePerHour * ( getNumberOfHours()) | number : '.2-2'}}</p>
                                </div>
                            </div>
                            <div class="form-group m-b-0" *ngIf="userSpace.extraAmenityList.length > 0">
                                <label class="col-xs-12 p-l-0 control-label text-left blue font-large">Extras</label>
                            </div>
                            <div class="form-group m-b-0 " *ngFor="let amenity of userSpace.extraAmenityList">
                                <label class="col-xs-8 p-l-0 control-label text-left">{{amenity.name}} ({{amenity.count}} x <span class="small">{{sellingCurency}}</span> {{amenity.rate}})</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{amenity.count *  amenity.rate | number : '.2-2'}}</p>
                                </div>
                            </div>
                            <!--<div class="form-group m-b-0 border-t">
                                <label class="col-xs-8 p-l-0 control-label text-left">Sub Total</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{getTotalRate() | number : '.2-2'}}</p>
                                </div>
                            </div>-->
                            <!--<div class="form-group m-b-0">
                                <label class="col-xs-8 p-l-0 control-label text-left">Processing Fee</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{getTotalRate() * 0.05 | number : '.2-2'}}</p>
                                </div>
                            </div>-->
                            <div class="form-group m-b-0 border-t">
                                <label class="col-xs-8 p-l-0 control-label text-left">Grand Total</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right"><span class="small">{{sellingCurency}}</span> {{ userSpace.bookingCharge }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 confirm-values-box">
                <div class="form-horizontal">
                    <div class="form-group m-b-5">
                        <label class="col-xs-7 p-l-0 control-label text-left">Booking Number</label>
                        <div class="col-xs-5 p-r-0">
                            <p class="form-control-static text-right">#{{userSpace.id}}</p>
                        </div>
                    </div>
                    <div class="form-group m-b-0 ">
                        <label class="col-xs-7 p-l-0 control-label text-left">Date</label>
                        <div class="col-xs-5 p-r-0">
                            <p class="form-control-static text-right">{{statusUpdated}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>