/** time slots **/
.time-slots-wrapper {
  height: 342px;
  overflow-y: auto;
}
.ms-scheduler-time-slot {
  user-select: none;
}
.ms-scheduler-time-slot > p {
  display: inline-block;
  width: 20%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  vertical-align: top;
  text-align: right;
  position: relative;
  top: -1px;
  color: #303030;
  font-size: 10px;
  margin-right: 5px;
}
.ms-scheduler-time-slot > div {
  display: inline-block;
  width: 75%;
  height: 20px;
  vertical-align: top;
  border-top: 1px solid #ededed;
}



/** plugin functionality **/
.ui-selecting > div {
  background: rgba(214, 238, 247, 0.95);
}
.ui-selected > div {
  background: rgba(55, 195, 250, 0.95);
  color: #fff;
}
.prevented > div {
  background: #ffc4c4;
  color: #fff;
}
.free-space > div {
  border: none;
  height: 20px;
  border-top: 1px solid #ededed; 
}
/*.booked > div {
  background: #848484;
  color: #fff;
}*/
.guest-booking, .host-booking {
  background: #fff;
}
