<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div>
            <!--<navbar [user]="user"></navbar>-->
            <app-navbar-v2 [user]="user"></app-navbar-v2>
            <router-outlet></router-outlet>
        </div>
    </div>
    <page-footer
                *ngIf="!loading &&
        (router.url === '/' || router.url === '/home'
        || router.url === '/about'  || router.url === '/terms/privacy' || router.url === '/press'
        || router.url === '/spaces/listing/home')">
    </page-footer>
    <div *ngIf="loading">
        <main-pre-loader></main-pre-loader>
    </div>
</div>