<div class="col-xs-12 p-x-0 p-b-5 m-b-5 border-b">
    <div class="col-sm-4 p-l-0 m-xs-m-b-5">
        <div class="dropdown">
            <button [disabled]="extraAmenity.saved" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedAmenity?.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                <li *ngFor="let amenity of amenities" (click)="selectAmenity(amenity)" ><a>{{amenity.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 p-l-0 m-xs-m-b-5">
        <div class="dropdown">
            <!--<button [disabled]="extraAmenity.saved" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedAmenity.amenityUnitsDto.name}}
                <span class="caret"></span>
            </button>-->
            <button disabled class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedAmenity.amenityUnitsDto.name}}
            </button>
        </div>
    </div>
    <div class="col-xs-8 col-sm-3 p-l-0">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">LKR</span>
            <input (keypress)="_keyPress($event)" [disabled]="extraAmenity.saved" [(ngModel)]="extraRate" type="text" class="form-control" placeholder="Unit Price" aria-describedby="basic-addon1" value="10">
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 p-l-0">
        <button class="btn btn-line" *ngIf="!extraAmenity.saved" (click)="saveExtraAmenity()"><i class="flaticon flaticon-save"></i></button>
        <button class="btn btn-line" *ngIf="extraAmenity.saved" (click)="updateExtraAmenity()"><i class="flaticon flaticon-z-edit"></i></button>
        <button class="btn btn-line" *ngIf="!extraAmenity.saved" (click)="removeExtraAmenity(extraAmenity)"><i class="flaticon flaticon-delete"></i></button>
    </div>
</div>