.booking-page-wrapper {
    margin-top: 50px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 55%;
}

iframe{
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}