    /*
    Flaticon icon font: Flaticon
    Creation date: 23/02/2017 18:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-avatar:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-calculator:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-calendar-manage:before { content: "\f104"; }
.flaticon-camera:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-check:before { content: "\f107"; }
.flaticon-circle-check:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-coffee:before { content: "\f10a"; }
.flaticon-currency:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-dinner:before { content: "\f10d"; }
.flaticon-envelope:before { content: "\f10e"; }
.flaticon-eye:before { content: "\f10f"; }
.flaticon-facebook:before { content: "\f110"; }
.flaticon-facebook-logo:before { content: "\f111"; }
.flaticon-fee:before { content: "\f112"; }
.flaticon-filter:before { content: "\f113"; }
.flaticon-full-size:before { content: "\f114"; }
.flaticon-google-plus:before { content: "\f115"; }
.flaticon-google-plus-logo:before { content: "\f116"; }
.flaticon-help:before { content: "\f117"; }
.flaticon-interview:before { content: "\f118"; }
.flaticon-light:before { content: "\f119"; }
.flaticon-list:before { content: "\f11a"; }
.flaticon-login:before { content: "\f11b"; }
.flaticon-logout:before { content: "\f11c"; }
.flaticon-lunch:before { content: "\f11d"; }
.flaticon-meeting:before { content: "\f11e"; }
.flaticon-menu:before { content: "\f11f"; }
.flaticon-microphone:before { content: "\f120"; }
.flaticon-minus:before { content: "\f121"; }
.flaticon-notification:before { content: "\f122"; }
.flaticon-padlock:before { content: "\f123"; }
.flaticon-party:before { content: "\f124"; }
.flaticon-payments:before { content: "\f125"; }
.flaticon-people:before { content: "\f126"; }
.flaticon-placeholder:before { content: "\f127"; }
.flaticon-plus:before { content: "\f128"; }
.flaticon-projector:before { content: "\f129"; }
.flaticon-refer-friend:before { content: "\f12a"; }
.flaticon-reservation:before { content: "\f12b"; }
.flaticon-reviews:before { content: "\f12c"; }
.flaticon-right-arrow:before { content: "\f12d"; }
.flaticon-save:before { content: "\f12e"; }
.flaticon-screen:before { content: "\f12f"; }
.flaticon-search:before { content: "\f130"; }
.flaticon-settings:before { content: "\f131"; }
.flaticon-sign-up:before { content: "\f132"; }
.flaticon-sliders:before { content: "\f133"; }
.flaticon-snacks:before { content: "\f134"; }
.flaticon-square:before { content: "\f135"; }
.flaticon-star:before { content: "\f136"; }
.flaticon-star-fill:before { content: "\f137"; }
.flaticon-stationary:before { content: "\f138"; }
.flaticon-stop:before { content: "\f139"; }
.flaticon-swipe:before { content: "\f13a"; }
.flaticon-time:before { content: "\f13b"; }
.flaticon-top-menu:before { content: "\f13c"; }
.flaticon-training:before { content: "\f13d"; }
.flaticon-tv:before { content: "\f13e"; }
.flaticon-twitter:before { content: "\f13f"; }
.flaticon-up-arrow:before { content: "\f140"; }
.flaticon-user-edit:before { content: "\f141"; }
.flaticon-verifications:before { content: "\f142"; }
.flaticon-warning:before { content: "\f143"; }
.flaticon-water:before { content: "\f144"; }
.flaticon-wedding:before { content: "\f145"; }
.flaticon-world-map:before { content: "\f146"; }
.flaticon-z-edit:before { content: "\f147"; }
.flaticon-zbusiness:before { content: "\f148"; }
.flaticon-zcredit-card:before { content: "\f149"; }
.flaticon-zdot:before { content: "\f14a"; }
.flaticon-zerror:before { content: "\f14b"; }
.flaticon-zholidays:before { content: "\f14c"; }
.flaticon-zhome:before { content: "\f14d"; }
.flaticon-zinfo:before { content: "\f14e"; }
.flaticon-zpencil:before { content: "\f14f"; }
    
    $font-Flaticon-avatar: "\f100";
    $font-Flaticon-back: "\f101";
    $font-Flaticon-calculator: "\f102";
    $font-Flaticon-calendar: "\f103";
    $font-Flaticon-calendar-manage: "\f104";
    $font-Flaticon-camera: "\f105";
    $font-Flaticon-chat: "\f106";
    $font-Flaticon-check: "\f107";
    $font-Flaticon-circle-check: "\f108";
    $font-Flaticon-close: "\f109";
    $font-Flaticon-coffee: "\f10a";
    $font-Flaticon-currency: "\f10b";
    $font-Flaticon-delete: "\f10c";
    $font-Flaticon-dinner: "\f10d";
    $font-Flaticon-envelope: "\f10e";
    $font-Flaticon-eye: "\f10f";
    $font-Flaticon-facebook: "\f110";
    $font-Flaticon-facebook-logo: "\f111";
    $font-Flaticon-fee: "\f112";
    $font-Flaticon-filter: "\f113";
    $font-Flaticon-full-size: "\f114";
    $font-Flaticon-google-plus: "\f115";
    $font-Flaticon-google-plus-logo: "\f116";
    $font-Flaticon-help: "\f117";
    $font-Flaticon-interview: "\f118";
    $font-Flaticon-light: "\f119";
    $font-Flaticon-list: "\f11a";
    $font-Flaticon-login: "\f11b";
    $font-Flaticon-logout: "\f11c";
    $font-Flaticon-lunch: "\f11d";
    $font-Flaticon-meeting: "\f11e";
    $font-Flaticon-menu: "\f11f";
    $font-Flaticon-microphone: "\f120";
    $font-Flaticon-minus: "\f121";
    $font-Flaticon-notification: "\f122";
    $font-Flaticon-padlock: "\f123";
    $font-Flaticon-party: "\f124";
    $font-Flaticon-payments: "\f125";
    $font-Flaticon-people: "\f126";
    $font-Flaticon-placeholder: "\f127";
    $font-Flaticon-plus: "\f128";
    $font-Flaticon-projector: "\f129";
    $font-Flaticon-refer-friend: "\f12a";
    $font-Flaticon-reservation: "\f12b";
    $font-Flaticon-reviews: "\f12c";
    $font-Flaticon-right-arrow: "\f12d";
    $font-Flaticon-save: "\f12e";
    $font-Flaticon-screen: "\f12f";
    $font-Flaticon-search: "\f130";
    $font-Flaticon-settings: "\f131";
    $font-Flaticon-sign-up: "\f132";
    $font-Flaticon-sliders: "\f133";
    $font-Flaticon-snacks: "\f134";
    $font-Flaticon-square: "\f135";
    $font-Flaticon-star: "\f136";
    $font-Flaticon-star-fill: "\f137";
    $font-Flaticon-stationary: "\f138";
    $font-Flaticon-stop: "\f139";
    $font-Flaticon-swipe: "\f13a";
    $font-Flaticon-time: "\f13b";
    $font-Flaticon-top-menu: "\f13c";
    $font-Flaticon-training: "\f13d";
    $font-Flaticon-tv: "\f13e";
    $font-Flaticon-twitter: "\f13f";
    $font-Flaticon-up-arrow: "\f140";
    $font-Flaticon-user-edit: "\f141";
    $font-Flaticon-verifications: "\f142";
    $font-Flaticon-warning: "\f143";
    $font-Flaticon-water: "\f144";
    $font-Flaticon-wedding: "\f145";
    $font-Flaticon-world-map: "\f146";
    $font-Flaticon-z-edit: "\f147";
    $font-Flaticon-zbusiness: "\f148";
    $font-Flaticon-zcredit-card: "\f149";
    $font-Flaticon-zdot: "\f14a";
    $font-Flaticon-zerror: "\f14b";
    $font-Flaticon-zholidays: "\f14c";
    $font-Flaticon-zhome: "\f14d";
    $font-Flaticon-zinfo: "\f14e";
    $font-Flaticon-zpencil: "\f14f";