	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/02/2017 18:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-avatar:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-calculator:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-calendar-manage:before { content: "\f104"; }
.flaticon-camera:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-check:before { content: "\f107"; }
.flaticon-circle-check:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-coffee:before { content: "\f10a"; }
.flaticon-currency:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-dinner:before { content: "\f10d"; }
.flaticon-envelope:before { content: "\f10e"; }
.flaticon-eye:before { content: "\f10f"; }
.flaticon-facebook:before { content: "\f110"; }
.flaticon-facebook-logo:before { content: "\f111"; }
.flaticon-fee:before { content: "\f112"; }
.flaticon-filter:before { content: "\f113"; }
.flaticon-full-size:before { content: "\f114"; }
.flaticon-google-plus:before { content: "\f115"; }
.flaticon-google-plus-logo:before { content: "\f116"; }
.flaticon-help:before { content: "\f117"; }
.flaticon-interview:before { content: "\f118"; }
.flaticon-light:before { content: "\f119"; }
.flaticon-list:before { content: "\f11a"; }
.flaticon-login:before { content: "\f11b"; }
.flaticon-logout:before { content: "\f11c"; }
.flaticon-lunch:before { content: "\f11d"; }
.flaticon-meeting:before { content: "\f11e"; }
.flaticon-menu:before { content: "\f11f"; }
.flaticon-microphone:before { content: "\f120"; }
.flaticon-minus:before { content: "\f121"; }
.flaticon-notification:before { content: "\f122"; }
.flaticon-padlock:before { content: "\f123"; }
.flaticon-party:before { content: "\f124"; }
.flaticon-payments:before { content: "\f125"; }
.flaticon-people:before { content: "\f126"; }
.flaticon-placeholder:before { content: "\f127"; }
.flaticon-plus:before { content: "\f128"; }
.flaticon-projector:before { content: "\f129"; }
.flaticon-refer-friend:before { content: "\f12a"; }
.flaticon-reservation:before { content: "\f12b"; }
.flaticon-reviews:before { content: "\f12c"; }
.flaticon-right-arrow:before { content: "\f12d"; }
.flaticon-save:before { content: "\f12e"; }
.flaticon-screen:before { content: "\f12f"; }
.flaticon-search:before { content: "\f130"; }
.flaticon-settings:before { content: "\f131"; }
.flaticon-sign-up:before { content: "\f132"; }
.flaticon-sliders:before { content: "\f133"; }
.flaticon-snacks:before { content: "\f134"; }
.flaticon-square:before { content: "\f135"; }
.flaticon-star:before { content: "\f136"; }
.flaticon-star-fill:before { content: "\f137"; }
.flaticon-stationary:before { content: "\f138"; }
.flaticon-stop:before { content: "\f139"; }
.flaticon-swipe:before { content: "\f13a"; }
.flaticon-time:before { content: "\f13b"; }
.flaticon-top-menu:before { content: "\f13c"; }
.flaticon-training:before { content: "\f13d"; }
.flaticon-tv:before { content: "\f13e"; }
.flaticon-twitter:before { content: "\f13f"; }
.flaticon-up-arrow:before { content: "\f140"; }
.flaticon-user-edit:before { content: "\f141"; }
.flaticon-verifications:before { content: "\f142"; }
.flaticon-warning:before { content: "\f143"; }
.flaticon-water:before { content: "\f144"; }
.flaticon-wedding:before { content: "\f145"; }
.flaticon-world-map:before { content: "\f146"; }
.flaticon-z-edit:before { content: "\f147"; }
.flaticon-zbusiness:before { content: "\f148"; }
.flaticon-zcredit-card:before { content: "\f149"; }
.flaticon-zdot:before { content: "\f14a"; }
.flaticon-zerror:before { content: "\f14b"; }
.flaticon-zholidays:before { content: "\f14c"; }
.flaticon-zhome:before { content: "\f14d"; }
.flaticon-zinfo:before { content: "\f14e"; }
.flaticon-zpencil:before { content: "\f14f"; }