@charset "UTF-8";

@font-face {
    font-family: "fontastic-custom";
    src:url("fonts/fontastic-custom.eot");
    src:url("fonts/fontastic-custom.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontastic-custom.woff") format("woff"),
    url("fonts/fontastic-custom.ttf") format("truetype"),
    url("fonts/fontastic-custom.svg#fontastic-custom") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "fontastic-custom" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-family: "fontastic-custom" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-note:before {
    content: "\61";
}
.flaticon-calendar-manage:before {
    content: "\61";
}
.flaticon-airconditioning:before {
    content: "\62";
}
.flaticon-avatar:before {
    content: "\63";
}
.flaticon-padlock:before {
    content: "\63";
}
.flaticon-wifi:before {
    content: "\64";
}
.flaticon-soundsystem:before {
    content: "\65";
}
.flaticon-smarttv:before {
    content: "\66";
}
.flaticon-whiteboard:before {
    content: "\67";
}
.flaticon-sports:before {
    content: "\68";
}
.flaticon-envelope:before {
    content: "\69";
}
.flaticon-logout:before {
    content: "\6a";
}
.flaticon-pressconference:before {
    content: "\6b";
}
.flaticon-connection:before {
    content: "\6c";
}
.flaticon-connection-2:before {
    content: "\6d";
}
.flaticon-concert:before {
    content: "\6e";
}
.flaticon-stage:before {
    content: "\6e";
}
.flaticon-meeting:before {
    content: "\6f";
}
.flaticon-projectorandscreen:before {
    content: "\70";
}
.flaticon-disabledaccess:before {
    content: "\71";
}
.flaticon-wedding:before {
    content: "\72";
}
.flaticon-view:before {
    content: "\73";
}
.flaticon-snacks:before {
    content: "\74";
}
.flaticon-training:before {
    content: "\75";
}
.flaticon-interview:before {
    content: "\76";
}
.flaticon-group:before {
    content: "\77";
}
.flaticon-coffee:before {
    content: "\78";
}
.flaticon-water:before {
    content: "\79";
}
.flaticon-cloud-computing:before {
    content: "\7a";
}
.flaticon-pillar:before {
    content: "\41";
}
.flaticon-pillarfree:before {
    content: "\41";
}
.flaticon-photoshoot:before {
    content: "\42";
}
.flaticon-camera:before {
    content: "\42";
}
.flaticon-dvd:before {
    content: "\43";
}
.flaticon-dvdplayer:before {
    content: "\43";
}
.flaticon-user-1:before {
    content: "\44";
}
.flaticon-parking:before {
    content: "\45";
}
.flaticon-valetparking:before {
    content: "\45";
}
.flaticon-google-plus-logo:before {
    content: "\46";
}
.flaticon-close:before {
    content: "\47";
}
.flaticon-stationery:before {
    content: "\48";
}
.flaticon-flipchart:before {
    content: "\49";
}
.flaticon-hotdesk:before {
    content: "\4a";
}
.flaticon-user:before {
    content: "\4b";
}
.flaticon-up-arrow:before {
    content: "\4c";
}
.flaticon-notification:before {
    content: "\4d";
}
.flaticon-facebook-logo:before {
    content: "\4e";
}
.flaticon-party:before {
    content: "\4f";
}
.flaticon-dinner:before {
    content: "\50";
}
.flaticon-note:before {
    content: "\51";
}
.flaticon-trophy:before {
    content: "\52";
}
.flaticon-breakfast:before {
    content: "\53";
}
.flaticon-people:before {
    content: "\54";
}
.flaticon-currency:before {
    content: "\55";
}
.flaticon-lunch:before {
    content: "\56";
}
.flaticon-microphone:before {
    content: "\57";
}
.flaticon-theatre:before {
    content: "\58";
}
