.aux-shedular-wrapper {
    text-align: center;
}
.aux-shedular-wrapper-inner {
    display: inline-block;
    width: 100%;
    text-align: left;
}
.time-slot {
    background: #fff;
    transition: background 0.5s, color 0.5s; }

.selection-wrapper {
    position: absolute;
    border: 1px solid #89B;
    background: #bec;
    background-color: rgba(170, 221, 243, 0.6);;
    border-color: #8b9;
}

.drop {
    background-color: #2eb42d;
    border-color: #63fe62;
    text-align: center;
    padding: 20px;
    margin: 0 10px 10px 0;
    color: #fff; }

.dropped {
    background-color: rgba(0, 180, 255, 0.95);
    border-color: #00b4ff;
    color: #fff; }

.ms-active {
  background-color: rgba(0, 180, 255, 0.95);
  border-color: #00b4ff;
}
.guest-booking > div {
    background: #3478f5!important;
}
.host-booking > div {
    background: #4ab9a0!important;
}
/* .schedular {*/
    /*min-height: 420px;*/
    /*overflow-y: auto;*/
/* } */ 

@media only screen and (min-width: 768px) {
    .schedular {
        /*min-height: 420px;
        height: 320px;*/
    }
}
.schedular > p {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    position: relative;
    height: 26px;
    margin-bottom: 0;
    font-size: 10px;
    text-align: right;
    padding-right: 3px;
    top: -1px;
}

.schedular > div {
    display: inline-block;
    width: 68%;
    position: relative;
    height: 20px;
    border-top: 1px solid #f7f7f7;
}
/*.schedular > div:last-of-type {*/
/*border-top: 1px solid #f7f7f7;*/
/*}*/
.schedular > div > p {
    position: relative;
    top: 4px;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}
.disabled-yellow {
    background: #ffe8e8;
}
.schedular-selected-date {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.legend-wrapper, .schedular-selected-date {
    display: inline-block;
    width: 50%;
}
.legend-wrapper {
    text-align: right;
}
.legend-wrapper > div {
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 12px;
}
.legend-host-booking > span:first-child {
    display: inline-block;
    background: #f1ee5c;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.legend-guest-booking > span:first-child {
    display: inline-block;
    background: #ffe8e8;
    margin-right: 10px;
    width: 10px;
    height: 10px;
}
/*.host-scheduler {
  height: 330px;
  overflow-y: auto;
}*/
.booking-scheduler-legend {
    text-align: left;
    list-style: none;
    margin-top: 30px;
}
.booking-scheduler-legend > li > span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}
.booking-scheduler-legend > li > p {
    display: inline-block;
    margin-bottom: 0;
}
.booking-scheduler-legend > li:first-child > span {
    background: #3478f5!important;
}

.booking-scheduler-legend > li:last-child > span {
    background: #4ab9a0!important;
}