
<div class="login-box" [style.display]="hideLogin?'none':'block'">
    <div class="login-box-body">
            <p class="login-box-msg">SIGN UP</p>
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="registerNow()" novalidate>
            <div class="form-group m-b-5" [class.has-error]="form.get('name').touched && !form.get('name').valid">
                <input class="form-control sign-up-form-ctrl-input user-input" placeholder="Name" type="text" [(ngModel)]="user.name" #name formControlName="name" maxlength ="60" minlength="1">
                <span [class.field-error]="form.get('name').touched && !form.get('name').valid"
                      *ngIf="form.get('name').touched && !form.get('name').valid">
                    Enter a valid name
                </span>
            </div>
            <div class="form-group m-b-5" [class.has-error]="form.get('email').touched && !form.get('email').valid">
                <input class="form-control sign-up-form-ctrl-input user-input" placeholder="Email" type="email" [(ngModel)]="user.email" #email formControlName="email">
                <span class="field-error" *ngIf="form.get('email').touched && form.get('email').hasError('email')">
                    Please enter a valid email address.
                </span>
                <span class="field-error" *ngIf="form.get('email').hasError('alreadyExists')">This email already exists.</span>
                <span *ngIf="form.get('email').pending" class="form-control-icon validate-loader"></span>
            </div>
            <div class="form-group" [class.has-error]="form.get('password').touched && !form.get('password').valid || form.get('password').hasError('shouldHaveMinimumCharacters')">
                <show-hide-input>
                    <input class="form-control sign-up-form-ctrl-input user-input" placeholder="Password" type="password" [(ngModel)]="user.password" #password formControlName="password" maxlength="50">
                </show-hide-input>
                <span [class.field-error]="form.get('password').touched && form.get('password').hasError('required')"
                      *ngIf="form.get('password').touched && form.get('password').hasError('required')">
                    Enter a valid password
                </span>
                <span [class.field-error]="form.get('password').hasError('shouldHaveMinimumCharacters')"
                      *ngIf="form.get('password').hasError('shouldHaveMinimumCharacters')">
                    Password should be minimum {{form.get('password').errors.shouldHaveMinimumCharacters.minLength}} characters
                </span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="signUpBtn" class="btn btn-primary btn-block btn-flat btn-common" [attr.disabled]="f.valid && signupAgreement ? null : '' ">Sign Up</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center m-b-10">
                    <p class="p-y-15 terms-msg"><input type="checkbox"  (change)="signupAgreement = !signupAgreement"> By signing up, you agree to our <a (click)="showTermsAndConditions()">Terms of Service & Privacy Policy</a> of MillionSpaces.</p>
                </div>
            </div>
        </form>
        <div class="text-center login-bottom-msg">
            <span class="">Already have an account?<a routerLink="/user/signin" routerLinkActive="active" class="m-l-5"><b>Sign In</b></a></span>
        </div>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
<email-success [showMS]="showMS" [emailToBeRegistered]="emailToBeRegistered"></email-success>



