


<div style="margin-top: 70px;margin-left: 50px;">
    <label for="spaceId">Space Id</label> <input id="spaceId" type="text" [(ngModel)]="spaceId" />
    <br>

    <div>
        <div><button (click)="uploadThumbnailImage()">Upload Thumbnail</button></div>
        <div><preview-image [imageData]="thumbnailImage" (removed)="imageRemoved($event)"></preview-image></div>
    </div>


    <div>
        <div><button (click)="uploadCoverImages()">Upload Covers</button></div>
        <div>
            <preview-image [imageData]="cover" *ngFor="let cover of covers" (removed)="imageRemoved($event)"></preview-image>
        </div>

    </div>

</div>


<div style="margin-top: 60px;">
    <button (click)="submitImages()">Submit</button>
</div>

<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>

