<section class="wrapper-marvel">
    <div class="marvel-text-content">
        <h1>Congratulations!</h1>

        <p>Let's try and get you some passes for this movie!</p>

        <p style="font-weight: bold;font-size: 1.6rem">You have received a confirmation email with the deets</p>

        <a href="/">Return to Home</a>

    </div>
</section>