<div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content fixed-modal">
            <div class="modal-header bg-yellow"> <!-- bg-blue bg-yellow bg-green -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span><i class="flaticon flaticon-zerror"></i></span></button>
                <h4 class="modal-title" id="myModalLabel">Cancellation Policy: <b>{{bookingData.cancellationPolicy.name}}</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 p-x-0 m-b-10" *ngIf="!bookingData.cancelledTime && !bookingData.isOwner">
                            <div class="input-group date form_datetime" data-date="">
                                <input class="form-control" size="16" type="text" [value]="selectDate | formatDate" readonly placeholder="Date/Time">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <!--                                        <input class="flatpickr form-control" type="text" placeholder="Select Date..">-->
                        </div>
                        <div class="col-xs-12 p-x-0 m-b-10" *ngIf="bookingData.cancelledTime && bookingData.isOwner">
                            <span style="font-weight: 300">Date of cancellation</span>
                            <div class="date-selected">{{bookingData.cancelledTime | formatDate}}</div>
                        </div>
                        <div class="col-xs-12 p-x-0">
                            <span style="font-weight: 300">Event date</span>
                            <div class="date-selected">{{bookingData.startTime | formatDate}}</div>
                        </div>
                    </div>
                    <div class="col-xs-12 values-box">
                        <div class="form-horizontal">
                            <div class="form-group m-b-5 p-x-15">
                                <label class="col-xs-8 p-l-0 control-label text-left">Space booking fee <span class="display-block"><small>{{bookingData.numOfHours | number : '.2-2'}} Hrs * {{sellingCurency}}{{bookingData.spaceRate}}</small></span></label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right">{{sellingCurency}}{{spaceRateForHours | number : '.2-2'}}</p>
                                </div>
                            </div>
                            <div *ngIf="bookingData.extraAmenityList.length > 0">
                                <div class="form-group m-b-5 p-x-15" *ngFor="let amenity of bookingData.extraAmenityList">
                                    <label class="col-xs-8 p-l-0 control-label text-left">{{amenity.name}} <span class="display-block"><small>{{amenity.count}} * {{sellingCurency}}{{amenity.rate}}</small></span></label>
                                    <div class="col-xs-4 p-r-0">
                                        <p class="form-control-static text-right">{{sellingCurency}}{{(amenity.count * amenity.rate) | number : '.2-2'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-0 border-t p-x-15">
                                <label class="col-xs-8 p-l-0 control-label text-left m-xs-m-t-8">Total</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right">{{sellingCurency}}{{totalRate | number : '.2-2'}}</p>
                                </div>
                            </div>
                            <div class="form-group m-b-0 p-x-15">
                                <label class="col-xs-8 p-l-0 control-label text-left m-xs-m-t-8">Refund %</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right">{{percentage}}</p>
                                </div>
                            </div>
                            <!--<div class="form-group border-t m-b-0 p-x-15">
                                <label class="col-xs-8 p-l-0 control-label text-left m-xs-m-t-8">Refund eligible</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right">$ 1300</p>
                                </div>
                            </div>
                            <div class="form-group m-b-0 p-x-15">
                                <label class="col-xs-8 p-l-0 control-label text-left m-xs-m-t-8">Processing fee <span class="display-block"><small>$ 1300*5%</small></span></label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right">$ 50</p>
                                </div>
                            </div>-->
                            <div class="form-group m-b-0 p-x-15 bg-cloud m-t-5">
                                <label class="col-xs-8 p-l-0 control-label text-left bolder m-xs-m-t-8">Total Refund</label>
                                <div class="col-xs-4 p-r-0">
                                    <p class="form-control-static text-right bolder">{{sellingCurency}}{{value | number : '.2-2'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="!bookingData.isOwner">
                <button type="button" class="btn btn-default col-xs-5" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger col-xs-7" (click)="cancelRequest()">Request cancellation</button>
            </div>
        </div>
    </div>
</div>