<div class="modal fade loginModal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-box">
                    <div class="login-box-body">
                        <div *ngIf="showSignin">
                            <div class="social-auth-links text-center">
                                <span class="proceed-as-guest-link btn-guest btn-wrap-social" (click)="porceedAsGuest()"><i class="fa fa-user fa-icon"></i>Proceed as Guest</span>
                                <fb-sign-in [navigateTo]="navigateTo"></fb-sign-in>
                                <google-sign-in [navigateTo]="navigateTo"></google-sign-in>
                            </div>
                            <p class="divider">OR</p>
                            <form [formGroup]="loginForm" #f="ngForm" novalidate>
                                <div class="form-group m-b-5" [class.has-error]="loginForm.controls.password.errors?.invalidLogin">
                                    <input class="form-control user-input" placeholder="Email" type="text" [(ngModel)]="formData.email" #email formControlName="email">
                                </div>
                                <div class="form-group" [class.has-error]="loginForm.controls.password.errors?.invalidLogin">
                                    <show-hide-input>
                                        <input class="form-control user-input" placeholder="Password" type="password" [(ngModel)]="formData.password" #password formControlName="password">
                                    </show-hide-input>
                                    <span class="field-error" *ngIf="loginForm.controls.password.errors?.invalidLogin">
                                Wrong username or password.
                            </span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" id="profile-signin-btn" class="btn btn-primary btn-block btn-flat btn-login btn-common" (click)="login(formData)">Sign In</button>
                                    </div><!-- /.col -->
                                </div>
                            </form>
                            <div class="text-center login-bottom-msg">
                            <span class="forgot-pwd">
                                <a (click)="showForgotPasswordScreenForm()" class="hoverEft text-forgot text-link">Forgot Password</a>
                            </span>
                                <span class="text-account">Don't have an account?<a (click)="showSignupForm()" id="profile-signup-link-btn" class="m-l-5 hoverEft text-link"><b>Sign Up</b></a></span>
                            </div>
                        </div>
                        <!--#####-->
                        <div *ngIf="showSignup">    
                        <p class="login-box-msg">SIGN UP</p>
                            <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="registerNow()" novalidate>
                                <div class="form-group m-b-5" [class.has-error]="signupForm.controls.name.touched && !signupForm.controls.name.valid">
                                    <input class="form-control user-input" placeholder="User Name" type="text" [(ngModel)]="signupFormData.name" #name formControlName="name">
                                    <span [class.field-error]="signupForm.controls.name.touched && !signupForm.controls.name.valid"
                                          *ngIf="signupForm.controls.name.touched && !signupForm.controls.name.valid">
                                Enter a valid name.
                            </span>
                                </div>
                                <div class="form-group m-b-5" [class.has-error]="signupForm.controls.email.touched && !signupForm.controls.email.valid">
                                    <input class="form-control user-input" placeholder="Email" type="email" [(ngModel)]="signupFormData.email" #email formControlName="email">
                                    <span class="field-error" *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors?.email">
                                Please enter a valid email address.
                            </span>
                                    <span class="field-error" *ngIf="signupForm.controls.email.errors?.alreadyExists">
                                This email is already exists
                            </span>
                                    <span *ngIf="signupForm.controls.email.pending" class="form-control-icon validate-loader"></span>
                                </div>
                                <div class="form-group" [class.has-error]="signupForm.controls.password.touched && !signupForm.controls.password.valid || signupForm.controls.password.hasError('shouldHaveMinimumCharacters')">
                                    <show-hide-input>
                                        <input class="form-control user-input" placeholder="Password" type="password" [(ngModel)]="signupFormData.password" #password formControlName="password">
                                    </show-hide-input>
                                    <span [class.field-error]="signupForm.controls.password.touched && signupForm.controls.password.errors?.required"
                                          *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors?.required">
                                Enter a valid password.
                            </span>
                                    <span [class.field-error]="signupForm.controls.password.hasError('shouldHaveMinimumCharacters')"
                                          *ngIf="signupForm.controls.password.hasError('shouldHaveMinimumCharacters')">
                                Password should be minimum {{signupForm.controls.password.errors.shouldHaveMinimumCharacters.minLength}} characters
                            </span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" id="profile-signup-btn" class="btn btn-primary btn-block btn-common btn-flat btn-signup" [disabled]="!f.valid">Sign Up</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center m-b-10">
                                        <p class="p-y-15 terms-msg">By signing up, you agree to our<a href="/#/terms/privacy" target="_blank" class="">Terms of Service & Privacy Policy</a> of MillionSpaces.</p>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center login-bottom-msg">
                                <span class="text-account">Already have an account?<a (click)="showSigninForm()" id="profile-signin-link-btn" class="m-l-5 text-link"><b>Sign In</b></a></span>
                            </div>
                        </div>
                        <div *ngIf="guestProceed">
                            <p class="login-box-msg">PROCEED AS GUEST</p>
                            <form #f="ngForm" (ngSubmit)="submitEmailForm(f.value)">
                                <input type="email" name="email" placeholder="Email" required [pattern]="emailPattern" class="form-control guest-email user-input" ngModel #prmEmail="ngModel"  />
                                <button type="submit" [disabled]="f.invalid || prmEmail.errors" class="btn btn-lg btn-primary btn-block btn-proceed btn-common">PROCEED</button>
                            </form>
                            <div class="text-center login-bottom-msg">
                                <span>Already have an account?<a (click)="showSigninForm()" id="profile-signin-link-btn" class="m-l-5"><b>Sign In</b></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showForgotPasswordScreen">
    <forgotpassword
            (toggleScreen)="toggleScreen($event)"
    >
    </forgotpassword>
</div>