<div id="reviewModal" class="modal fade" data-autoload="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span><i class="flaticon flaticon-zerror"></i></span></button>
                <h4 class="modal-title" id="myModalLabel"><img src="../assets/img/rating-icon.png"></h4>
            </div>

            <!-- body modal -->
            <div class="modal-body clearfix">
                <div class="col-md-6">
                    <label><h4>Title of your review</h4></label>
                    <input type="text" [(ngModel)]="reviewData.title" class="form-control p-l-10" placeholder="" maxlength="50">
                    <br clear="all">
                    <label><h4>About your space</h4></label>
                    <textarea rows="5" [(ngModel)]="reviewData.description" class="form-control p-l-10" maxlength="255"></textarea>
                </div>
                <div class="col-md-6"><table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td><h4>Overall Ratings</h4><small>How was your overall experience?</small></td>
                            <td style="width: 45%; padding-top: 5%">
                                <tr><Small>Your Rating</Small></tr>
                                <tr><ul id="overall-rating"></ul></tr>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Cleanliness</h4><small>How would you rate the cleanliness of the space?</small></td>
                            <td style="width: 45%; padding-top: 5%">
                                <tr><Small>Your Rating</Small></tr>
                                <tr><ul id="cleanliness-rating"></ul></tr>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Amenities</h4><small>Were the space amenities satisfactory?</small></td>
                            <td style="width: 45%; padding-top: 5%">
                                <tr><Small>Your Rating</Small></tr>
                                <tr><ul id="amenities-rating"></ul></tr>
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Service</h4><small>How would you rate the quality of service?</small></td>
                            <td style="width: 45%; padding-top: 5%">
                                <tr><Small>Your Rating</Small></tr>
                                <tr><ul id="service-rating"></ul></tr>
                            </td>
                        </tr>
                    </tbody>
                </table></div>
                <div class="col-md-12 m-t-5 pull-right">
                    <button [disabled]="
                    !reviewData.title ||
                    !reviewData.description ||
                    reviewData.rate.overall_rate === 0 ||
                    reviewData.rate.cleanliness_rate === 0 ||
                    reviewData.rate.amenities_rate === 0 ||
                    reviewData.rate.service_rate === 0"
                            type="button" (click)="submitReview()"
                            class="btn btn-w-m btn-warning">Submit Review
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<modal-component [modalComponentData]="modalComponentData"></modal-component>