/*** Time block wrapper ***/
.time-block-wrapper {
    border: 1px solid #e2e2e2;
    padding: 13px;
    margin-top: 10px;
    margin: 10px;
}
@media only screen and (min-width: 992px) {
    .time-block-wrapper {
        margin: 10px 0;
    } 
}
.time-block-heading {
    color: #909090;
    text-transform: uppercase;
}
.time-blocks {
    padding-left: 0;
    list-style: none;
}
.time-blocks > li {
    background: #e2e2e2;
    padding: 1px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 12px;
}
.time-blocks > li input[type="checkbox"] {
    position: relative;
    top: 3px;
}
.time-blocks > li > label {
    width: 60%;
    display: inline-block;
}
.time-blocks > li > span.timeblock-price {
    width: 40%;
    display: inline-block;
    text-align: right;
}
.disabled-time-slot {
    color: #909090;
}

.load-more-btn {
    text-align: center;
    display: inline-block;
    padding: 10px;
    background: #007AFF;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 12px;
}


