@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.error-block{
	width:100%;
	height:350px;
background: rgba(228,52,90,1);
background: -moz-linear-gradient(top, rgba(228,52,90,1) 0%, rgba(222,35,47,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,52,90,1)), color-stop(100%, rgba(222,35,47,1)));
background: -webkit-linear-gradient(top, rgba(228,52,90,1) 0%, rgba(222,35,47,1) 100%);
background: -o-linear-gradient(top, rgba(228,52,90,1) 0%, rgba(222,35,47,1) 100%);
background: -ms-linear-gradient(top, rgba(228,52,90,1) 0%, rgba(222,35,47,1) 100%);
background: linear-gradient(to bottom, rgba(228,52,90,1) 0%, rgba(222,35,47,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4345a', endColorstr='#de232f', GradientType=0 );
}


.success-block{
	width:100%;
	height:350px;
	background: rgba(36,199,109,1);
background: -moz-linear-gradient(45deg, rgba(36,199,109,1) 0%, rgba(52,206,111,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(36,199,109,1)), color-stop(100%, rgba(52,206,111,1)));
background: -webkit-linear-gradient(45deg, rgba(36,199,109,1) 0%, rgba(52,206,111,1) 100%);
background: -o-linear-gradient(45deg, rgba(36,199,109,1) 0%, rgba(52,206,111,1) 100%);
background: -ms-linear-gradient(45deg, rgba(36,199,109,1) 0%, rgba(52,206,111,1) 100%);
background: linear-gradient(45deg, rgba(36,199,109,1) 0%, rgba(52,206,111,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c76d', endColorstr='#34ce6f', GradientType=1 );
}

.modal-header{padding: 15px;
    border:none;}
.success-block-title{
	font-family: 'Playfair Display', serif;
	font-size:30px;
	font-weight:500;
	font-style:italic;
	text-align:center;
	padding:20px;
	color:#fff;}
	
	.success-block-body{
		font-size:13px;
		paddding:20px;
		width:200px;
		font-family: 'Lato', sans-serif;
		color:#fff;
		text-align:center;
		margin: 0 auto;}
		
button.btn.btn-proceed{
	background-color: #33d879;
	width:200px;
	margin:0 auto;
	color:#fff;
	font-size: 13px;}
	
	button.btn.btn-error{
	background-color: #de2433;
	width:200px;
	margin:0 auto;
	border-color:#ea2c3b;
	border-style:solid;
	border-width:1px;
	color:#fff;
	font-size: 13px;}
	
	.success-footer{
		margin-top:62px;}