<div style="background-color: #fff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="privacy-content-wrapper">
                    <h1 style="text-align: center; text-decoration: underline;margin-bottom: 30px;">Terms of Service and Privacy Policy</h1>

                    <p>
                        MillionSpaces Inc. (“MillionSpaces,” “we,” “us,” or “our”) welcomes you. We provide you access to our
                        tools and services (our “Services”) through our website located at www.MillionSpaces.com (the “Site”)
                        subject to these Terms of Service, which may be updated by us from time to time without notice to you. By
                        browsing the public areas of the Site or by accessing and using our Services, you acknowledge that you
                        have read, understood, and agree to be legally bound by the terms and conditions of these Terms of Service
                        and the terms and conditions of our Privacy Policy, which is hereby incorporated by reference
                        (collectively, this “Agreement”). If you do not agree to any of these terms, then you are not permitted
                        to use the Site.
                    </p>

                    <p>
                        THE SECTIONS BELOW TITLED “BINDING ARBITRATION” AND “CLASS ACTION WAIVER” CONTAIN A BINDING ARBITRATION AGREEMENT AND CLASS ACTION WAIVER.  THEY AFFECT YOUR LEGAL RIGHTS.  PLEASE READ THEM.
                    </p>

                    <h3>1.DESCRIPTION AND USE OF MILLIONSPACES</h3>
                    <p>
                        We provide Visitors and Registered Users with access to the Site as described below.
                        Visitors.  Visitors, as the term implies, are people who do not register with us, but want to explore the Site.  No login is required for Visitors.  Visitors can: (i) view all content and access all publicly-available features and functionality on the Site; (ii) subscribe to MillionSpaces communications, alerts, and other notifications; and (iii) contact us.
                        <br><br>
                        Registered Users.  Registered Users can do all the things that Visitors can do, and: (i) access non-public features and functionality available only to Registered Users; (ii) create, access, manage, and update their own personal accounts on the Site; (iii) post listings, comments, reviews, and other content on the Site and/or interact with other Registered Users of the Site (all content and information provided in connection with the foregoing is collectively referred to herein as “Registered User Content”; and (iv) provide or book third-party event spaces through the Site (“Spaces”). MillionSpaces is under no obligation to accept any individual as a Registered User and may accept or reject any registration in its sole and complete discretion.  In addition, MillionSpaces may deactivate any account at any time, including, without limitation, if it determines that a Registered User has violated this Agreement.
                        A Registered User may be either a Host or an Guest:
                        A “Host” is a Registered User who chooses to create an account through which the Registered User may offer and provide Spaces through the Site.
                        A “Guest” is a Registered User who chooses to create an account through which the Registered User may request or book Spaces through the Site.
                    </p>


                    <h3>2.RESTRICTIONS ON USE</h3>
                    <p>
                        By accessing and/or using the Site or the Services, you agree to comply with the following restrictions on use:
                        <br><br>
                        If you wish to become a Guest or a Host, you must be at least 18 years old or the age of majority in your jurisdiction, whichever is greater;
                        You will comply with all applicable laws in your use of the Site and will not use the Site for any unlawful or otherwise fraudulent purpose;
                        You will not upload, post, e-mail, transmit, or otherwise make available any Registered User Content that:
                        infringes any copyright, trademark, right of publicity, or other proprietary rights of any person or entity; or
                        constitutes promotion or advertising of any third-party website, product or service; or
                        is defamatory, libelous, indecent, obscene, pornographic, sexually explicit, invasive of another’s privacy, promotes violence, or contains hate speech (i.e., speech that attacks or demeans a group based on race or ethnic origin, religion, disability, gender, age, veteran status, and/or sexual orientation/gender identity; or
                        discloses any sensitive information about another person, including that person’s e-mail address, postal address, phone number, credit card information, or any similar information.
                        You will not “stalk,” threaten, or otherwise harass another person;
                        You will not access or use the Site to collect any market research for a competing business;
                        You will not impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;
                        You will not interfere with or attempt to interrupt the proper operation of the Site through the use of any virus, device, information collection or transmission mechanism, software or routine, or access or attempt to gain access to any data, files, or passwords related to the Site through hacking, password or data mining, or any other means;
                        You will not cover, obscure, block, or in any way interfere with any advertisements and/or safety features (e.g., report abuse button) on the Site;
                        You will not use any robot, spider, scraper, or other automated means to access the Site for any purpose without our express written permission; provided, however, we grant the operators of public search engines permission to use spiders to copy materials from the public portions of the Site for the sole purpose of and solely to the extent necessary for creating publicly-available searchable indices of the materials, but not caches or archives of such materials;
                        You will not take any action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our technical infrastructure; and
                        During the term of this Agreement, you will not and will not attempt to, for the purpose of avoiding fees otherwise payable to MillionSpaces hereunder, enter into
                        <br><br>
                        any agreement for event space booking with any Hosts or Guests introduced to you via the Site other than through the Site, and if any Host or Guest seeks to do so with you, you will promptly notify us. Hosts and Guests may enter into such an agreement other than through the Site; provided, however, that you shall be bound by the terms and conditions of this Agreement vis-à-vis MillionSpaces, and, without limiting the foregoing, shall be responsible for paying all fees that would be payable to MillionSpaces if such event space was booked through the Site.
                        You will let us know about inappropriate Registered User Content of which you become aware.
                        We have the right, but not the obligation, to review and reject or remove any Space listing or other Registered User Content that, in our sole discretion, violates these Terms of Service in any respect.  We also reserve the right, in our sole and absolute discretion, to deny you access to the Site, or to any portion of the Site, without notice.
                    </p>

                    <h3>3.SIGN-IN NAME; PASSWORD; UNIQUE IDENTIFIERS</h3>
                    <p>
                        If you wish to become a Registered User, you will be prompted to create an account, which includes a sign-in name (“Sign-In Name”), a password (“Password”), and perhaps certain additional information that will assist in authenticating your identity when you log-in in the future (“Unique Identifiers”).  When creating your account, you must provide true, accurate, current, and complete information.  Each Sign-In Name and corresponding Password can be used by only one Registered User.  You are solely responsible for the confidentiality and use of your Sign-In Name, Password, and Unique Identifiers, as well as for any use, misuse, or communications entered or payments made through the Site using one or more of them.  You will promptly inform us of any need to deactivate a Password or Sign-In Name, or change any Unique Identifier.  We reserve the right to delete or change your Password, Sign-In Name, or Unique Identifier at any time and for any reason and shall have no liability to you for any loss or damage caused by such action.  MillionSpaces will not be liable for any loss or damage caused by any unauthorized use of your account.
                    </p>

                    <h3>4.INTELLECTUAL PROPERTY</h3>
                    <p>
                        The Site contains material, such as software, text, graphics, images, designs, sound recordings, audiovisual works, and other material provided by or on behalf of MillionSpaces (collectively referred to as the “Content”).  The Content may be owned by us or third parties.  The Content is protected under both Democratic Socialist Republic of Sri Lanka and foreign laws.  Unauthorized use of the Content may violate copyright, trademark, and other laws.  You have no rights in or to the Content, and you will not use the Content except as permitted under this Agreement.  No other use is permitted without prior written consent from us.  You must retain all copyright and other proprietary notices contained in the original Content on any copy you make of the Content.  You may not sell, transfer, assign, license, sublicense, or modify the Content or reproduce, display, publicly perform, make a derivative version of, distribute, or otherwise use the Content in any way for any public or commercial purpose.  The use or posting of the Content on any other
                        website or in a networked computer environment for any purpose is expressly prohibited.
                        If you violate any part of this Agreement, your permission to access and/or use the Content and the Site automatically terminates and you must immediately destroy any copies you have made of the Content.
                        The trademarks, service marks, and logos of MillionSpaces (the “MillionSpaces Trademarks”) used and displayed on the Site are registered and unregistered trademarks or service marks of MillionSpaces.  Other company, product, and service names located on the Site may be trademarks or service marks owned by others (the “Third-Party Trademarks,” and, collectively with MillionSpaces Trademarks, the “Trademarks”).  Nothing on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Trademarks, without our prior written permission specific for each such use.  Use of the Trademarks as part of a link to or from any site is prohibited unless establishment of such a link is approved in advance by us in writing.  All goodwill generated from the use of the MillionSpaces Trademarks inures to our benefit.
                        Elements of the Site are protected by trade dress, trademark, unfair competition, and other state and federal laws and may not be copied or imitated in whole or in part, by any means, including, but not limited to, the use of framing or mirrors.  None of the Content may be retransmitted without our express, written consent for each and every instance.
                    </p>

                    <h3>5.REGISTERED USER CONTENT</h3>
                    <p>
                        As noted above, the Site provides Registered Users the ability to post and upload Registered User Content.  You expressly acknowledge and agree that once you submit your Registered User Content, it will be accessible by others, and that there is no confidentiality or privacy with respect to such Registered User Content, including, without limitation, any personally identifying information that you may make available.  YOU, AND NOT MILLIONSPACES, ARE ENTIRELY RESPONSIBLE FOR ALL REGISTERED USER CONTENT THAT YOU UPLOAD, POST, E-MAIL, OR OTHERWISE TRANSMIT VIA THE SITE, AND YOU WILL INDEMNIFY US IN RESPECT OF ANY LOSS, LIABILITY, CLAIM, OR DAMAGE SUFFERED OR INCURRED BY US IN CONNECTION WITH ANY SUCH REGISTERED USER CONTENT.
                        <br><br>
                        You retain all copyrights and other intellectual property rights in and to your own Registered User Content.  You do, however, hereby grant us and our sublicensees a non-exclusive, royalty-free, freely sublicensable, perpetual license to modify, compile, combine with other content, copy, record, synchronize, transmit, translate, format, distribute, publicly display, publicly perform, and otherwise use or exploit (including for profit) your Registered User Content and all intellectual property and moral rights therein throughout the universe, in each case, by or in any means, methods, media, or technology now known or hereafter devised.  You also grant us and our sublicensees the right, but not the obligation, to use your Registered User Content, your Sign-In Name, name, likeness, and photograph in connection with any use of the related Registered User Content permitted by the previous sentence and/or to advertise and promote the Site, MillionSpaces, the Services, and our other
                        products and services.  Without limiting the foregoing, you acknowledge and agree that uses of your Registered User Content, name, likeness, and photograph permitted by the foregoing rights and licenses may include the display of such Registered User Content, name, likeness, and photograph adjacent to advertising and other material or content, including for profit.
                        <br><br>
                        If you submit Registered User Content to us, each such submission constitutes a representation and warranty to MillionSpaces that such Registered User Content is your original creation (or that you otherwise have the right to provide the Registered User Content), that you have the rights necessary to grant to MillionSpaces the license to the Registered User Content as set forth above, and that it and its use by MillionSpaces and third parties as permitted by this Agreement does not and will not infringe or misappropriate the intellectual property or moral rights of any person or contain any libelous, defamatory, or obscene material or content that violates this Agreement.
                    </p>

                    <h3>6.COMMUNICATIONS WITH US</h3>
                    <p>
                        Although we encourage you to e-mail us, we do not want you to, and you should not, e-mail us any content that contains confidential information.  With respect to all e-mails and communications you send to us, including, but not limited to, feedback, questions, comments, suggestions, and the like, we shall be free to use any ideas, concepts, know-how, or techniques contained in your communications for any purpose whatsoever, including but not limited to, the development, production, and marketing of products and services that incorporate such information without compensation or attribution to you.
                    </p>


                    <h3>7.NO WARRANTIES; LIMITATION OF LIABILITY</h3>
                    <p>
                        All Spaces are provided by the third party Hosts, and not by MillionSpaces; therefore, MillionSpaces has no control over, and hereby disclaims any and all liability arising out of or associated with, the condition, quality, safety, legality or suitability of any Space. HOSTS AND GUESTS, ON BEHALF OF THEMSELVES AND THEIR RESPECTIVE ASSIGNS, SUBROGEES, REPRESENTATIVES AND ALL OTHER PERSONS OR ENTITIES ACTING FOR, BY OR THROUGH IT, HEREBY RELEASE AND FOREVER DISCHARGE MILLIONSPACES, ITS DIRECTORS, OFFICERS, AGENTS, REPRESENTATIVES, EMPLOYEES, AND INSURERS, FROM ANY AND ALL LIABILITY, CLAIMS, DEMANDS, ACTIONS OR RIGHTS OF ACTION, OF WHATEVER NATURE, CHARACTER OR DESCRIPTION, FOR PERSONAL INJURY, PROPERTY DAMAGE OR DEATH THAT ARISE FROM, ARE RELATED TO OR ARE IN ANY WAY CONNECTED WITH ANY EVENT OR THE RENTING OR USE OF ANY SPACE. IN THE EVENT EITHER HOST OR GUEST SUFFERS ANY LOSS TO PERSON OR PROPERTY, SUCH HOST OR GUEST SHALL LOOK SOLELY TO ITS OWN INSURANCE COVERAGE, AND HEREBY WAIVES ANY AND ALL CLAIMS, DEMANDS, DAMAGES AND CAUSES OF ACTION OF ANY NATURE WHATSOEVER THAT GUEST OR HOST, OR ITS SUCCESSORS OR ASSIGNS, MAY HAVE AGAINST MILLIONSPACES.
                        <br><br>
                        YOU ACKNOWLEDGE THAT THE SITE MAY CONTAIN BUGS, ERRORS, AND OTHER PROBLEMS THAT COULD CAUSE SYSTEM FAILURES. THE SITE, THE SERVICES, AND THE CONTENT ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT ANY
                        WARRANTIES OF ANY KIND, INCLUDING THAT THE SITE OR CONTENT WILL OPERATE ERROR-FREE OR THAT THE SITE, ITS SERVERS, OR THE CONTENT ARE FREE OF COMPUTER VIRUSES OR SIMILAR CONTAMINATION OR DESTRUCTIVE FEATURES.
                        <br><br>
                        WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE.
                        <br><br>
                        IN CONNECTION WITH ANY WARRANTY, CONTRACT, OR COMMON LAW TORT CLAIMS: (I) WE AND OUR LICENSORS SHALL NOT BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION RESULTING FROM THE USE OR INABILITY TO ACCESS AND USE THE SITE, THE SERVICES, OR THE CONTENT, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES; AND (II) ANY DIRECT DAMAGES THAT YOU MAY SUFFER AS A RESULT OF YOUR USE OF THE SITE, THE SERVICES, OR THE CONTENT SHALL BE LIMITED TO THE TOTAL FEES THAT YOU HAVE PAID TO US WITHIN THE THREE (3) MONTHS IMMEDIATELY PRECEDING THE EVENTS GIVING RISE TO ANY CLAIM.
                        <br><br>
                        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES. THEREFORE, SOME OF THE ABOVE LIMITATIONS ON WARRANTIES IN THIS SECTION MAY NOT APPLY TO YOU.
                        <br><br>
                        NOTHING IN THESE TERMS OF SERVICE SHALL AFFECT ANY NON-WAIVABLE STATUTORY RIGHTS THAT APPLY TO YOU.
                    </p>


                    <h3>8.EXTERNAL SITES; THIRD-PARTY VENDORS</h3>
                    <p>
                        The Site may contain links to third-party websites, including, without limitation, websites maintained or owned by other Registered Users or the websites of third-party vendors that may provide services complimentary to our Services (“External Sites”).  These links are provided solely as a convenience to you and not as an endorsement by us of such External Sites.  The External Sites are developed and provided by others, and you should contact the site administrator or webmaster for those External Sites if you have any concerns regarding such links or any content located on such External Sites.  We are not responsible for the content of any linked External Sites or the third-party vendors highlighted on such External Sites, and we do not make any representations regarding the content or accuracy of materials on such External Sites or any such third-party vendors.  You should take precautions when downloading files from all websites to protect your computer from viruses and other destructive programs.  If you decide to access linked External Sites, you do so at your own risk.
                    </p>

                    <h3>9.INDEMNIFICATION; INSURANCE </h3>
                    <p>
                        You agree to defend, indemnify, and hold us and our officers, directors, employees, agents, successors, licensees, licensors, and assigns harmless from and against any damages, liabilities, losses, expenses, claims, actions, and/or demands, including, without limitation, reasonable legal and accounting fees, arising or resulting from:
                        <br><br>
                        (i) your breach of this Agreement; (ii) your misuse of the Content, the Site, or the Services; (iii) your violation of any third-party rights, including without limitation any copyright, trademark, property, publicity, or privacy right; and/or (iv) your rental, booking, or use of a Space.  We shall provide notice to you of any such claim, suit, or proceeding and shall assist you, at your expense, in defending any such claim, suit, or proceeding.  We reserve the right to assume the exclusive defense and control (at your expense) of any matter that is subject to indemnification under this section.  In such case, you agree to cooperate with any reasonable requests assisting our defense of such matter.
                        <br><br>
                        Hosts and Guests must maintain adequate general liability insurance against any claim or claims that might arise out of such Host’s or Guest’s rental, booking, or use of a Space. Upon request by MillionSpaces, such Host or Guest shall furnish an insurance certificate signed by an authorized agent evidencing such insurance coverage.
                    </p>

                    <h3>10.COMPLIANCE WITH APPLICABLE LAWS</h3>
                    <p>
                        The Site is based in the Democratic Socialist Republic of Sri Lanka.  We make no claims concerning whether the Content may be downloaded, viewed, or be appropriate for use outside of the Democratic Socialist Republic of Sri Lanka.  If you access or use the Site, the Content, or the Services from outside of the Democratic Socialist Republic of Sri Lanka, you do so at your own risk.  Whether inside or outside of the Democratic Socialist Republic of Sri Lanka, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction.
                    </p>

                    <h3>11.TERMINATION OF THE AGREEMENT</h3>
                    <p>
                        We reserve the right, in our sole discretion, to restrict, suspend, or terminate this Agreement and your access to all or any part of the Site, at any time and for any reason without prior notice or liability.  We reserve the right to change, suspend, or discontinue all or any part of the Site at any time without prior notice or liability.
                    </p>

                    <h3>12.DIGITAL MILLENNIUM COPYRIGHT ACT</h3>
                    <p>
                        MillionSpaces respects the intellectual property rights of others and attempts to comply with all relevant laws. We will review all claims of copyright infringement received and remove any content deemed to have been posted or distributed in violation of any such laws.
                        <br><br>
                        Our designated agent under the Digital Millennium Copyright Act (the “Act”) for the receipt of any Notification of Claimed Infringement which may be given under that Act is as follows:
                        <br><br>
                        If you believe that your work has been copied on the Site in a way that constitutes copyright infringement, please provide our agent with notice in accordance with the requirements of the Act, including (i) a description of the copyrighted work that has been infringed and the specific location on the Site where such work is located; (ii) a description of the location of the original or an authorized copy of the copyrighted work; (iii) your address, telephone number and e-mail address; (iv) a statement by you that you have a good faith belief that the disputed use is not authorized by the
                        copyright owner, its agent or the law; (v) a statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and (vi) an electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.
                    </p>

                    <h3>13.CONTROLLING LAW</h3>
                    <p>
                        The Agreement and any action related thereto will be governed by the laws of Democratic Socialist Republic of Sri Lanka without regard to its conflict of laws provisions.
                    </p>

                    <h3>14.BINDING ARBITRATION</h3>
                    <p>
                        In the event of a dispute arising under or relating to the Agreement, the Site, the Content, or the Services (each, a “Dispute”), either party may elect to finally and exclusively resolve the dispute by binding arbitration governed by the Federal Arbitration Act (“FAA”).  Any election to arbitrate, at any time, shall be final and binding on the other party. IF EITHER PARTY CHOOSES ARBITRATION, NEITHER PARTY SHALL HAVE THE RIGHT TO LITIGATE SUCH CLAIM IN COURT OR TO HAVE A JURY TRIAL, EXCEPT EITHER PARTY MAY BRING ITS CLAIM IN ITS LOCAL SMALL CLAIMS COURT, IF PERMITTED BY THAT SMALL CLAIMS COURT RULES AND IF WITHIN SUCH COURT’S JURISDICTION.  ARBITRATION IS DIFFERENT FROM COURT, AND DISCOVERY AND APPEAL RIGHTS MAY ALSO BE LIMITED IN ARBITRATION.
                    </p>

                    <h3>15.CLASS ACTION WAIVER</h3>
                    <p>
                        You agree that any arbitration or proceeding shall be limited to the Dispute between us and you individually. To the full extent permitted by law, (i) no arbitration or proceeding shall be joined with any other; (ii) there is no right or authority for any Dispute to be arbitrated or resolved on a class action-basis or to utilize class action procedures; and (iii) there is no right or authority for any Dispute to be brought in a purported representative capacity on behalf of the general public or any other persons. YOU AGREE THAT YOU MAY BRING CLAIMS AGAINST US ONLY IN YOUR INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.
                    </p>

                    <h3>16.EQUITABLE RELIEF</h3>
                    <p>
                        You acknowledge and agree that in the event of a breach or threatened violation of our intellectual property rights and confidential and proprietary information by you, we will suffer irreparable harm and will therefore be entitled to injunctive relief to enforce this Agreement. We may, without waiving any other remedies under this Agreement, seek from any court having jurisdiction any interim, equitable, provisional, or injunctive relief that is necessary to protect our rights and property pending the outcome of the arbitration referenced above. You hereby irrevocably and unconditionally consent to the personal and subject matter jurisdiction of the federal and state courts in the State of New York for purposes of any such action by us.
                    </p>

                    <h3>17.MISCELLANEOUS</h3>
                    <p>
                        If the Agreement is terminated in accordance with the Termination provision above, such termination shall not affect the validity of Sections 4 through 18, which shall remain in full force and effect.
                        <br><br>
                        Our failure to act on or enforce any provision of the Agreement shall not be construed as a waiver of that provision or any other provision in this Agreement.  No waiver shall be effective against us unless made in writing, and no such waiver shall be construed as a waiver in any other or subsequent instance.  Except as expressly agreed by us and you in writing, this Agreement constitutes the entire Agreement between you and us with respect to the subject matter, and supersedes all previous or contemporaneous agreements, whether written or oral, between the parties with respect to the subject matter.  The section headings are provided merely for convenience and shall not be given any legal import.  This Agreement will inure to the benefit of our successors, assigns, licensees, and sublicensees.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>