* {
    box-sizing: border-box;
}
/************************ Banner section ***************************/
/**/

/* mobile portrait*/
@media (min-width: 320px) and (max-width: 480px) {
    .slider-container .slide:nth-child(1) {
        background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/space-of-the-week/mobile_portrait.jpg');
    }
    /*.slider-container .slide:nth-child(2) {*/
        /*background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/party/Mobile_Portrait.jpg');*/
    /*}*/
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .slider-container .slide:nth-child(1) {
        background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/space-of-the-week/mobile_landscape.jpg');
    }
    /*.slider-container .slide:nth-child(2) {*/
        /*background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/party/Mobile_Landscape.jpg') !important;*/
    /*}*/
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .slider-container .slide:nth-child(1) {
        background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/space-of-the-week/ipad_landscape.jpg') !important;
    }
    /*.slider-container .slide:nth-child(2) {*/
        /*background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/party/iPad_Landscape.jpg') !important;*/
    /*}*/
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .slider-container .slide:nth-child(1) {
        background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/space-of-the-week/ipad_portrait.jpg');
    }
    /*.slider-container .slide:nth-child(2) {*/
        /*background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/party/iPad_Portrait.jpg');*/
    /*}*/
}

/*
  ##Device = Laptops, Desktops and higher
  ##Screen = B/w 1025px
*/
@media (min-width: 1025px) {
    .slider-container .slide:nth-child(1) {
        background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/space-of-the-week/desktop.jpg');
    }
    /*.slider-container .slide:nth-child(2) {*/
        /*background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/millionspaces/banners/party/Desktop.jpg');*/
    /*}*/
}

.slider-container {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 50px;
}
.slider-container .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}
.slider-container .slide.show {
    opacity: 1;
}

/*end of slide show*/

.banner-section-inner {
    padding: 80px 10px;
    text-align: center;
    position: relative;
    z-index: 90;
}

/*Banner Header*/
.banner-section-header {
}

.banner-section-header h1 {
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 52px;
    margin-top: 50px;
}
.banner-section-header p {
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 300;
}

/*Banner app buttons*/
.app-buttons-wrapper {
    margin-top: 20px;
}

/*Typehead*/
.typehead {
    font-weight: bolder;
    color: #fff;
    font-size: 22px;
}
/* Space of the week */
.space-of-the-week-wrapper {
    width: 80%;
    text-align: right;
    display: inline-block;
    color: #fff;
    position: relative;
}

/** Search bar **/
.search-input-container {
    position: relative;
    z-index: 5;
}
.banner-search-bar-wrapper {
    text-align: center
}
.banner-search-bar {
    width: 35%;
    display: inline-block;
    position: relative;
}
@media only screen and (max-width: 800px) {
    .banner-search-bar {    
        width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .banner-search-bar {    
        width: 90%;
    }
}
.banner-search-bar input {
    width: 100%;
    border: none;
    border-radius: 25px 25px 25px 25px;
    padding: 10px 40px;
    border: 1px solid #e2e2e2;
}
.banner-search-bar a {
    position: absolute;
}
.banner-search-bar i {
    position: relative;
    background: #29AAE2;
    right: 36px;
    padding: 9px;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    top: 2px;
}
.banner-search-bar span.banner-search-user-icon {
    background: none;
    color: #29AAE2;
    position: absolute;
    left: 14px;
    top: 7px;
    font-size: 22px;
}
.banner-search-desktop {
    display: none;
    background: #29AAE2;
    color: #fff;
    padding: 8px 15px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 23px;
    text-transform: uppercase;
}
.banner-search-mobile-icon {
    display: inline-block;
}
@media only screen and (min-width: 992px) {
    .banner-search-mobile-icon {
        display: none;
    }
    .banner-search-desktop {
        display: inline-block;
    }
}

/**** Event search *****/
.event-search-wrapper-inner-links > a {
    position: relative;
    border: 1px solid #e2e2e2;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    color: #000;
    border-radius: 6px;
    margin-right: 5px;
}
.event-search-wrapper {
    display: inline-block;
    background: #fff;
    z-index: 4;
    top: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 55px 15px 15px 15px;
    border-radius: 20px 20px;
    text-align: left;
    margin-bottom: 0;
}
.explor-events-title {
    text-transform: uppercase;
    color: #a2a2a2;
    text-align: left;
    font-size: 12px;
}
/********************* Search by location ***********************/
.search-by-location {
    text-align: center;
}
.search-by-location > div {
    text-align: center;
    padding: 40px;
    width: 40%;
    display: inline-block;
    position: relative;
}
.search-by-location input {
    border: none;
    border-radius: 25px 25px 25px 25px;
    padding: 10px 40px;
    width: 100%;
    background: #29AAE2;
    color: #fff;
}
.location-search-desktop {
    display: none;
}
@media only screen and (min-width: 992px) {
    .location-search-desktop {
        display: inline-block;
    }
}
@media only screen and (max-width: 800px) {
    .search-by-location > div {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .search-by-location > div { 
        width: 90%;
    }
}

.search-by-location button {
    position: absolute;
    color: #29AAE2;
    padding: 6px 10px;
    background: #fff;
    border-radius: 50%;
    font-size: 18px;
    top: 41px;
    right: 42px;
    border: none;
}
@media only screen and (min-width: 992px) {
    .search-by-location button {
        border-radius: 28px;
        font-size: 14px;
        background: #fff;
        padding: 9px 20px 9px 20px;
        text-transform: uppercase;
    }
}
.search-by-location-map-icon {
    position: absolute;
    left: 56px;
    font-size: 22px;
    top: 48px;
    color: #fff;
}

/****************** Search result ******************/
.location-search-no-results {
    text-align: left;
}
.location-search-no-results > p {
    padding: 10px 5px;
    background: #fffce6;
    width: 100%;
    border: 1px solid #e5f1a0;
    text-align: center;
}
.search-result article img {
    width: 100%;
}
.search-result article {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(219,219,219,1);
    box-shadow: 0px 2px 5px 0px rgba(219,219,219,1);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.pricing-details {
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    color: #fff;
}
.pricing-details > p {
    margin-bottom: 0;
}
.pricing-details > p:last-child {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
}
.search-result article h1 {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 2px;
}
.search-block-description {
    padding: 5px;
}
.search-block-description > div {
    display: inline-block;
    vertical-align: middle;
}
.search-block-description > div:first-child {
    width: 80%;
}
.search-block-description > div:last-child {
    width: 20%;
}
.search-result header > div {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    color: #29AAE2;
}
.search-result header > div:first-child {
    width: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.search-result header > div:last-child {
    width: 10%;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -7px;
}
.search-result header > div > hr {
    height: 0;
    border-bottom: 1px solid #29AAE2;
    margin-top: 5px;
}

@media only screen and (max-width: 1087px) {
  .search-result header > div:last-child {
    width: 25%;
  }
  .search-result header > div  {
    width: 75%;
  }
}
@media only screen and (max-width: 400px) {
  .search-result header > div:last-child {
    width: 35%;
  }
  .search-result header > div  {
    width: 65%;
  }
}

/* Placeholder*/
::-webkit-input-placeholder {
    font-weight: 400;
}

::-moz-placeholder {
    font-weight: 400;
}
:-ms-input-placeholder {
    font-weight: 400;
}
:-moz-placeholder {
    font-weight: 400;
}
.search-by-location ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search-by-location ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.search-by-location :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.search-by-location :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*** Preloader ***/

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #29AAE2;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*** Should not do this using css **/
@media only screen and (max-width: 768px) {
    .search-result > .container:last-child > .row > [class^="col-md"]:nth-child(3),
    .search-result > .container:last-child > .row > div:last-child {
        display: none!important;
    }
    .search-result > .container:last-child > .row > div:only-child {
        display: block!important;
    }
    .search-result > .container:last-child > .row.show-on-mobile div:last-child {
        display: block!important;
    }
}


/****** Added on 22nd sept 2018 ******/
.space-block-wrapper {
    background: #fff;
    margin: 10px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.2);
}

.space-block-wrapper > img {
    width: 100%;
}
.space-block-wrapper:hover .info-icon-wrapper {
    background: rgba(255, 255, 255, 1);
    bottom: -35px;
    right: -35px;
}

.space-block-thumb-wrapper {
    cursor: pointer;
    overflow: hidden;
}
.space-block-thumb-wrapper .space-block-des-overlay-active {
    height: 100%;
    border: 1px solid #dedede;
    overflow-y: auto;
}
.space-block-thumb-wrapper:hover .space-block-des-overlay-text-wrapper {
    bottom: 0;
    transform: translate(0%, 0%);
}
.space-block-des-overlay-text-wrapper {
    color: #646464;
}
.space-block-thumb-wrapper {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.space-block-price-tag {
    position: absolute;
    right: 0;
    display: inline-block;
    top: 0;
    text-align: right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+1&0+21,0.65+93 */
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.space-block-price-tag > p {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
}
.space-block-price-tag > span {
    font-size: 10px;
    display: block;
    text-align: right;
}
.space-block-price-tag > span > p {
    display: inline-block;
    color: #ffffff;
    margin-bottom: 0;
}
.space-block-des-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
}
.space-block-des-overlay-text-wrapper {
    padding: 10px;
    width: 100%;
    bottom: 50%;
    transform: translate(-50%, 0, -50%);
    -ms-transform: translate(-50%, 0, -50%);
    transition: transform 1s;
}
.space-block-des-overlay-text-wrapper h3 {
    margin: 0;
}
.info-icon-wrapper {
    position: absolute;
    background: 100px;
    overflow: hidden;
    padding: 41px 41px;
    background: #fff;
    border-radius: 50%;
    bottom: -40px;
    right: -40px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    transition: bottom 0.1s linear, right 0.1s linear, background 0.1s linear;
    border: 1px solid #dedede;
}
.info-icon-wrapper i {
    position: absolute;
    left: 27px;
    bottom: 46px;
    font-style: italic;
}
.discount-wrapper {
    text-align: right;
    vertical-align: top;
    color: #767676;
    display: inline-block;
    width: 20%
}
.description-block {
    padding: 10px 10px;
    cursor: pointer;
}
.description-block h3 {
    margin: 0;
    padding: 0;
    color: #090913;
    font-size: 18px;
    line-height: 1.4;
}
.description-block p {
    margin-bottom: 0;
}

.titles-wrapper {
    display: inline-block;
    width: 80%;
}
.titles-wrapper span {
    font-size: 14px;
    color: #00adee;
}
.titles-wrapper > p {
    color: #383838;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}
.amenities-wrapper span {
    display: inline-block;
}
.amenities-wrapper span i {
    color: #74aceb;
}
.amenities-wrapper span i:before {
    font-size: 20px;
    margin-left: 0;
    margin-right: 10px;
}
.overlay-info, overlay-address {
    color: #8e8e8e;
}

/** Strike through and discount **/
.discount-price-tag {
    display: inline-block;
    background: url(../../../assets/img/promo/1KB.png) no-repeat;
    position: relative;
    top: 10px;
    padding: 0 8px 3px;
    font-weight: bold;
    width: 92px;
    height: 74px;
    background-size: contain;
}
/* .discount-price-tag:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 65px;
    left: -1px;
    z-index: -1;
    background: #ffdd57;
    transform-origin: top right;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-83deg, 0deg);
} */
.new-price {
    width: 100%;
    font-weight: bold!important;;
    font-size: 18px!important;
}
.strike-through-price {
    text-decoration: line-through;
    color: #faebd7a8!important;
    font-size: 14px!important;
}
.discount-price-tag > div:first-child {
    font-size: 12px;
    position: relative;
    top: 9px;
}
.discount-price-tag > div:nth-child(2n) {
    font-size: 26px;
}
.discount-price-tag > div:last-child {
    position: relative;
    top: -10px;
    color: #000;
    font-weight: 400;
    font-size: 12px;
}
.space-article {
    padding-right: 5px;
    padding-left: 5px;
}
.section-heading {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
}
.show-more-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.show-more-wrapper .show-more-btn {
    background: #ffe10e;
    border: none;
    border-radius: 25px;
    color: #000000;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    outline: none;
    padding: .50em 2em;
    position: relative;
}

.event-types-container {

}

.event-wrapper {
    position: relative;
    height: 160px;
    cursor: pointer;

}

.event-wrapper > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.event-wrapper > span {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.73);
    text-align: center;
    line-height: 2.5rem;
}
