<!-- ============ Banner section =============== -->
<div class="slider-container">
	<a href="/#/spaces/1321/Coworking-Space" target="_blank"><div class="slide show"></div></a>
	<!--<div class="slide"></div>-->
	<div class="banner-section-inner">
		<section class="banner-search-bar-wrapper">
			<div class="banner-search-bar">
				<div class="search-input-container">
					<span class="fa fa-user-o banner-search-user-icon"></span>
					<input type="search" (focus)="toggleExploreEventTypes($event)" placeholder="Try &quot;Futsal&quot;" [(ngModel)]="spaceOrOrgName" (keyup.enter)="searchSpaces()"><a
						id="siteSearchBtn" (click)="searchSpaces()"><i class="fa fa-search banner-search-mobile-icon"></i><span class="banner-search-desktop">Search</span></a>
				</div>
				<div class="event-search-wrapper" id="event-search-wrapper" [style.visibility]="(toggleEventTypes) ? 'visible' : 'hidden'">
					<div class="event-search-wrapper-inner-links">
						<p class="explor-events-title">EXPLORE EVENTS</p>
						<a *ngFor="let eventType of eventTypeList" (click)="goToEvent(eventType.id)">{{ eventType.name }}</a>
					</div>
				</div>
			</div>
		</section>

		<header class="banner-section-header">
			<h1>find your space</h1>
			<p>discover & book unique spaces for your upcoming</p>
			<span class="typehead"></span>
		</header>

		<div class="app-buttons-wrapper">
			<a href="tel:011-7-811-811"><img style="width: 170px;" src="https://res.cloudinary.com/dgcojyezg/image/upload/fl_progressive/v1541075135/millionspaces/icons/hotline.png" alt="hotline" /></a>
		</div>
	</div><!-- /.banner-section-innner -->
</div>



<!-- ============ Search by location =============== -->
<!--<section class="search-by-location">
	<div>
		<i class="fa fa-map-marker search-by-location-map-icon"></i>
		<input type="search" placeholder="Search by location" id="search-box" />
		<button id="locationSearchBtn" (click)="filterByLocation()"><i class="fa fa-search banner-search-mobile-icon"></i><span class="location-search-desktop">Search</span></button>
	</div>
</section>-->
<!-- /.search-by-location -->


<!-- =========== Search Results Panel ============== -->

<!--
<div *ngIf="homePageSpaces">
	<category-spaces
			*ngFor="let eventType of eventTypes"
			[eventType]="eventType"
			[spaces]="homePageSpaces[+eventType.id]"
	>
	</category-spaces>
</div>
<div *ngIf="!homePageSpaces">
	<div class="container">
		<div class="spinner">
		  <div class="double-bounce1"></div>
		  <div class="double-bounce2"></div>
		</div>
	</div>
</div>
-->

<!--========= Added 9/24th/2018 ========= remove display none-->
<div class="container event-types-container">
	<div class="row">
		<div class="col-md-12">
			<span class="section-heading" style="margin-top: 5rem">POPULAR EVENT TYPES</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let eventType of eventTypeList | filterBlock: showNumberOfEventTypes">
			<div class="event-wrapper" (click)="goToEvent(eventType.id)">
				<img [src]="eventType.image" class="img-rounded" alt="millionspaces">
				<span class="event-name">{{eventType.name}}</span>
			</div>
		</div>
	</div>
	<div class="show-more-wrapper">
		<button *ngIf="!showMoreEventTypes" class="show-more-btn" (click)="setMoreEventTypes()">SHOW MORE</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<span class="section-heading">SPORTS</span>
		</div>
		<div class="col-md-4 space-article" *ngFor="let space of homePageSpaces">
			<div class="space-block-wrapper" (click)="showSpace(space, $event)">
				<div class="space-block-thumb-wrapper" [style.backgroundImage]="'url(' + getFeaturedImage(space) + ')'">
					<div *ngIf="space.discount">
						<div class="discount-price-tag">
							<div>LKR</div>
							<div>{{ getDiscountValue(space) }}</div>
							<div>OFF</div>
						</div>
						<div class="space-block-price-tag">
							<span>
								<p>Starting from</p>
							</span>
							<p class="strike-through-price">{{ space.preStaringFrom | currency:'LKR':false:'.0-0' }}</p>
							<p class="new-price">{{ space.ratePerHour | currency:'LKR':false:'.0-0' }}</p>
						</div>
					</div>
					<div *ngIf="!space.discount">
						<div class="space-block-price-tag">
							<span>
								<p>Starting from</p>
							</span>
							<p class="new-price">{{ space.ratePerHour | currency:'LKR':false:'.0-0' }}</p>
						</div>
					</div>
				</div>
				<div class="description-block">
					<div class="titles-wrapper">
						<span>{{ space.name }}</span>
						<p>{{ space.addressLine2 }}</p>
					</div><div class="discount-wrapper">
						<i class="fa fa-group"></i>
						<span>{{ space.participantCount }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="show-more-wrapper">
		<button class="show-more-btn" (click)="goToEvent(9)">SHOW MORE</button>
	</div>
</div>

<modal-component [modalComponentData]="modalComponentData"></modal-component>