<div style="margin-top: 80px"></div>

<div class="payments-page-wrap">
  <div class="payments-page-wrap-inner">

    <header class="payments-page-header">
      <h3>MORE DETAILS</h3>
      <ul class="navigator">
        <li class="active-step"><span>1</span></li
        ><li class="active-step"><span>2</span></li
      ><li><span>3</span></li>
      </ul><!-- /.navigator -->
    </header><!-- /.payments-page-header -->

    <div class="booking-panel">
      <div class="select-menu-wrappers">
        <label class="top-label">Expected guest count (min: {{minGuestCount}} | max: {{maxGuestCount}})</label>
        <input type="text"
               onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
               minlength="4"
               maxlength="4"
               numbersOnly
               [(ngModel)]="selectedGuestCount"
               [value]="selectedGuestCount">
      </div><div class="select-menu-wrappers">
      <label class="top-label">Event type</label>
      <select [(ngModel)]="selectedEvent">
        <option *ngFor="let eventType of bookingData.eventTypes" [value]="eventType.id">{{ eventType.name }}</option>
      </select>
    </div><div class="select-menu-wrappers">
      <label class="top-label">Seating arrangement</label>
      <select [(ngModel)]="selectedSeating">
        <option *ngFor="let option of bookingData.seatingTypes" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
      <span *ngIf="selectedGuestCount < minGuestCount" class="alert-message">* Your expected guest count is below the minimum capacity of {{minGuestCount}}. The host may or may not fulfill your request.</span>
      <span *ngIf="selectedGuestCount > maxGuestCount" class="alert-message">* Your expected guest count exceeds the maximum capacity of {{maxGuestCount}}. The host may or may not fulfill your request.</span>
    </div>
    <div class="panel-heading" (click)="togglePanel = !togglePanel">
      <p>I want additional amenities</p>
      <span class="panel-heading-icon-btn"><i class="fa" [ngClass]="{'fa-plus': togglePanel, 'fa-minus': !togglePanel}"></i></span>
    </div>
    <section class="payments-page-wrapper" [class.hide-panel-body]="togglePanel"><!--- hide-panel-body class will hide this-->
      <div>
        <div class="panel-payments">
          <div class="panel-body" *ngIf="extraAmenities && extraAmenities.length === 0">
            No chargable amenities available
          </div>
          <div class="panel-body" *ngIf="extraAmenities && extraAmenities.length > 0">
            <div class="panel-list-item" *ngFor="let exAmenity of extraAmenities; let idx = index;">
              <div>
                <div>{{exAmenity.amenity.name}}</div>
                <div>LKR {{exAmenity.rate}}/{{getAmenityUnitName(exAmenity.amenityUnit)}}</div>
              </div><div>
                <div *ngIf="exAmenity.amenityUnit !== 1" class="price-controller">
                  <span class="input-icon" (click)="decreaseAmenityCount(exAmenity)">-</span
                    ><input readonly  [(ngModel)]="exAmenity.count" name="item{{idx}}"
                    /><span class="input-icon" (click)="increaseAmenityCount(exAmenity)">+</span>
                </div>
                <div *ngIf="exAmenity.amenityUnit === 1"><div>
                  <input type="checkbox" (change)="onChangeAmenity(exAmenity)" [checked]="exAmenity.selected"> {{exAmenity.rate * numberOfHours | currency:'LKR':false:'.0-0'}}</div>
                </div>
              </div><div>
                <div style="display: inline-block">{{(calculateAmenityCost(exAmenity)) | currency:'LKR':false:'.0-0'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div
      >
    </section><!-- /.payments-page-wrapper -->

<footer class="payment-flow-footer">
      <div class="footer-wrapper">
        <div class="row">
          <div class="col-md-6 col-sm-5 col-xs-5 hidden-xs hidden-sm">
            <div class="footer-profile-name">
              <h3>{{ bookingData.spaceName }}</h3>
              <p class="org-name">{{ bookingData.orgName }}</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="footer-price-txt">Total Payable</div>
            <div class="footer-price">{{ totalCharge | currency:'LKR':false:'.0-0' }}</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <button class="btn-primary" (click)="continueBooking()" >
              <p>NEXT</p>
              <p style="font-size: 9px">You won't be charged yet</p>
            </button>
          </div>
        </div>
      </div>
    </footer>  

  </div><!-- /.payments-page-wrap-inner -->
</div><!-- /.payments-page-wrap -->

<div class="modal-window-overlay" [class.show-modal]="showModal">
  <div class="modal-window-panel">
    <div class="modal-window-panel-inner">
      <header class="modal-heading">
        <h1>Alert</h1>
      </header>
      <div class="modal-body">
        <div class="modal-icon-content"></div>
        <div class="modal-text-content">
          <p>Please fill required fields!</p>
        </div>
        <div class="modal-button" (click)="showModal = false"><a>Close</a></div>
      </div>
    </div>
  </div>
</div>

