.payments-page-wrap {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 100px;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrap {
        width: 60%;
        padding-bottom: 100px;
    }
}
/** Header **/
.payments-page-header {
    text-align: center;
}
.payments-page-header > h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.navigator {
    padding-left: 0;
}
.navigator > li {
    display: inline-block;
}
.navigator > li:after {
    width: 40px;
    content: "";
    border-bottom: 1px solid #e2e2e2;
    height: 10px;
    display: inline-block;
    position: relative;
    top: -5px;
}/*@media only screen and (min-width: 992px) {
    .navigator > li:after {
        width: 100px;
    }
}*/

.navigator > li:last-child:after {
    display: none;
}
.navigator > li.active-step:after {
    border-bottom-color: #FFDD57;
}
.navigator > li > span {
    display: inline-block;
    border-radius: 50%;
    padding: 3px 9px;
    background: #e2e2e2;
}
.navigator > li.active-step > span {
    background: #FFDD57;
}

.top-label {
    font-size: 12px;
}

/*** payments page wrapper ***/
.payments-page-wrapper {
    border: 1px solid #e2e2e2;
}
.payments-page-wrapper > div {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrapper > div:first-child {
        width: 100%;
    }
}

.footer-wrapper {
    padding: 0rem 1rem;
}

/** Footer **/
.footer-wrapper button {
    vertical-align: middle;
    background: #FFDD57;
    color: #000;
    padding: 6px;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    -webkit-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    -moz-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    cursor: pointer;
}
.footer-wrapper button.disabled-next-btn {
    background: #949494;
    cursor: not-allowed;
}
.footer-wrapper button > p:first-child {
    margin-bottom: 0;
}
.footer-wrapper button > p:last-child {
    margin-bottom: 0;
    font-size: 8px;
}
.payment-flow-footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #e2e2e2;
    padding: 15px 10px;
    border-top: 1px solid #d4d4d4;
}
.payment-flow-footer {
    width: 100%;
    display: inline-block;
}
.payment-flow-footer > div {    
    margin: 0 auto;
}
@media only screen and (min-width: 992px) {
    .payment-flow-footer > div {
        width: 60%;
    }
}
.hide-on-mobile {
    display: none;
}
@media only screen and (min-width: 992px) {
    .hide-on-mobile {
        display: block;
    }
}
/* .footer-profile-name {
    position: relative;
    top: 3px;
} */
.footer-profile-name h3 {
    margin: 0;
    padding: 0;    
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
.footer-price {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.footer-price-txt {
    font-size: 10px;
}
/*** Booking panel ****/
.booking-panel {
    background: #007AFF;
    padding: 30px;
    margin-top: 20px;
}
.select-menu-wrappers {
    display: inline-block;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .select-menu-wrappers {
        width: 33.33%;
    }
}
.select-menu-wrappers > select, .select-menu-wrappers > input {
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 3px;
    background: #ffffff;
}
@media only screen and (min-width: 992px) {
    .select-menu-wrappers > select, .select-menu-wrappers > input {
        width: 90%;
    }
}
.select-menu-wrappers > label {
    color: #fff;
}

/*** Paeyment panel ***/
.panel-heading {
    background: #e2e2e2;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}
.panel-heading  .panel-heading-icon-btn {
    right: 0px;
    top: 10px;
}
.panel-heading > p {
    margin-bottom: 0;
}

.panel-list-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 30px;
    margin-right: 10px;
}
@media only screen and (min-width: 992px) {
    .panel-list-item {
        width: calc(50% - 30px);
    }
    .panel-list-item:nth-child(odd) {        
        margin-right: 30px;
    }
}
.panel-list-item > div {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}
.price-controller > input {
    width: 40%;
}
@media only screen and (min-width: 992px) {
    .price-controller > input {
        width: 40%;
    } 
}
.price-controller > span {
    display: inline-block;
    padding: 3px 9px;
    background: #e2e2e2;
}
.panel-list-item > div:last-child {
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}
.panel-list-item > div:first-child > div:last-child {
    font-size: 10px;
}

.payments-page-wrapper > div {
    vertical-align: top;
}
.payments-page-wrapper > div:first-child {
    padding-right: 0;
}
.payments-page-wrapper > div:last-child {
    padding-left: 0;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrapper > div:first-child {
        padding-right: 5px;
    }
    .payments-page-wrapper > div:last-child {
        padding-left: 5px;
    }
}


/*********************************** Modal window**************************************/
.modal-window-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-window-overlay.show-modal {
    display: block;
}
.modal-window-panel {
    background: #ffffff;
    width: 90%;
    margin: 120px auto;
    padding: 20px;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .modal-window-panel {
        margin: 80px auto;
        width: 350px;
    }
}
.modal-heading h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-text-content > p {
    font-size: 13px;
}
.modal-icon-content {
    text-align: center;
    margin-bottom: 20px;
}
.modal-icon-content > img {
    width: 100px;
    display: inline-block;
}
.modal-button {
    margin-top: 30px;
}
.modal-button > a {
    text-transform: uppercase;
    background: #FFDD57;
    padding: 10px;
    width: 200px;
    display: inline-block;
    color: black;
    border-radius: 3px;
}
.hide-panel-body {
    /* visibility: hidden; */
    display: none;
}

.input-icon {
    cursor: pointer;
}
.panel-heading .panel-heading-icon-btn {
    right: 10px;
    top: 10px;
    position: absolute;
}
.payments-page-wrap-inner {
    padding-bottom: 100px;
}

.alert-message {
    padding: 1rem 0px;
    display: block;
    width: 100%;
    font-size: 10px;
    color: #ffffff;
}

/* custom styles */
.org-name {
    color: #00adee;
    font-weight: bold;
}
