@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

a:active, a:focus, a:hover {
    outline: 0;
    text-decoration: none;
    color: cornflowerblue;
}

.hidden-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}