 
body.landing-page {
    color: #000; line-height:180%;     background: #f3f3f4; }
	
	body { background: #fff }

	
	
.top-navigation .navbar-brand, .navbar-static-top { background: none ; }
 
.nav.navbar-top-links a {font-size:12px; margin-top: -3px; color:#00adee !important; font-weight:400;}

.navbar-static-top .nav > li > a {
    color: #000 !important;

} 

.banner-text { background:rgba(0,167,13,1.00) }

.trans-green { background:rgba(113,177,0,0.9)}
.trans-blue { background:rgba(0,52,113,0.9); z-index:10000 !important; position:relative !important;} 
.trans-dblue { background:rgba(0,52,113,0.8)} 


.trans-green h2 {  font-size: 15pt; letter-spacing:-1px; text-transform:uppercase;  }

.trans-green button { background:transparent; padding:10px 20px; border:1px solid #fff; color:#fff; margin-top:20px;  }

.input-group-addon {padding: 6px  }

.landing-page h1 {  font-family: "open sans", "Helvetica Neue", sans-serif;    color:#666; letter-spacing:-2px;  }  

.landing-page h2 {  font-family: "open sans", "Helvetica Neue", sans-serif;    color:#666; letter-spacing:-2px;     font-size: 25px; }  

h2 {letter-spacing: -1px; }
	
	h3, h4, h5 {line-height: 180%;}
	
	h3, h5 { font-weight:300}

	
.pos-abs { position:absolute }
.pos-rel { position:relative }
	
.landing-page section p {
    color: #000;
    font-size: 13px;
	line-height:180%
}
.apnt-list h2 {  margin-top: 14px !important ;  font-weight:400}
.apnt-list h3 { font-weight:300 ; font-size:11pt; margin: -5px 0 15px 0 !important; }

.navy {
    color:#00aee3 !important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
	padding-top:5px;
}

.landing-page .btn-primary {
    background-color:#B2D600 !important;
    border-color: transparent  !important;
	 padding: 7px 20px;

}

.events-box { background:url(../img/bd1.jpg);  background-size:cover; min-height:190px; position:relative; background-position:center ; border: 10px solid #fff;  }

.events-box h2 {  height:40px;  text-align:center; padding:10px 0;
    color: #0f0f0f; font-size: 18px; font-weight: 700;  margin:auto -15px; position:absolute; bottom:40%;     left: 26%; width:65%;   font-weight: 400;letter-spacing: 2px;       background: rgba(255, 255, 255, 0.7); }

.btn-outline { background: none !important; border:1px solid #ddd !important; color: #0072bc !important;     margin: 0px 10px  10px  0px  !important; font-weight: 300;
    padding: 8px 25px;border-radius: 0; }
	
.btn-green { background:#00B409 !important;   color: #fff !important; font-size:11pt;     margin: 0px 10px  10px  0px  !important; padding: 10px 25px;border-radius: 0; }

.ibox-title { border:none;   }

.ibox-title h5 { font-size: 12pt;  }

.font-cnd {font-family: 'Open Sans Condensed', sans-serif;}

.feature-list ul {list-style: none;     line-height: 220%;}
.feature-list ul li i { margin-right:10px; color:#61bd57   }
 
 .form-horizontal .control-label {  text-align: left; }
 
 .fc-event, .fc-agenda .fc-event-time, .fc-event a, .fc-state-active {background-color: #b2d602;border-color: #b2d602; border-radius:0; color:#666;}

.hr-line-dashed {
    border-top: 1px solid #eee;
    height: 1px;
    margin: 9px 0;
}


.input-group.time .input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.tiles img {width:100%; height:100%;; max-width:150px; max-height:150px;}
.btn-warning { font-weight: 600;}



.form-group p { margin: 7px 0 10px;}


.text-info, .text-navy { color:#00aee3;}

.search-div .panel-heading {padding: 2px 15px; }

.search-div .panel-default>.panel-heading { background-color: #fff; cursor:pointer}

.search-div .panel-group {margin-bottom: 5px; }

.search-div  .panel-group .panel { border:none; }

.search-div  .ibox { margin-bottom: 0;  }

.login-txt { color:#fff;  font-family: 'Open Sans Condensed', sans-serif; text-transform:uppercase; margin:10px 0 0 0 ; }

.search-div  .ibox-title { padding:0; min-height: 30px;    }

.search-div  .ibox-content { border-top: 2px solid #ddd; }

.search-div .panel-body { padding: 15px 0;}.landing-page .navbar-scroll .navbar-nav > li > a {
    padding: 36px 10px 0 0;
}

.facilities table th { padding-bottom:15px }
/*
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.section { margin:30px 0}
.landing-page .navbar-default .navbar-brand { background: #e22919; width:200px;}
.landing-page .navbar-default .navbar-brand:hover { background: #00aee3; }

.landing-page .navbar-default .navbar-nav > .active > a, .landing-page .navbar-default .navbar-nav > .active > a:hover { border:none;    }

.navbar-toggle {background-color: transparent;color: #999;    padding: 6px 0px;  }
 .dropdown-menu li a { color:#666 !important }
 
 .nav > li > a {font-weight: 300; }
 
 


.landing-page .navbar-scroll .navbar-nav > li > a {padding: 37px 10px 0 10px;}

select.input-sm { height: 34px }

.fa-2x { font-size: 1.5em;}

.table > thead > tr > th { border-top:1px solid #ddd !important }

.landing-page .navbar-default .nav li a {letter-spacing: 0px; }
	
	 .navbar-brand {  font-size: 12pt; }

.landing-page .navbar.navbar-scroll .navbar-brand {margin: 0 -15px;
    border-radius: 0px;
    padding: 15px 10px 5px 10px;}
	
.landing-page .navy-line { margin: 20px auto 30px auto; border-bottom: 2px solid #e22919 }
	
.apnt-list .col-xs-12 XX, .apnt-list  .col-xs-6 xx    {
 
    padding: 24px 10px 11px 10px;
  }
  
  
.btn-lblue { color: #00aee3 ;background: white;border: 1px solid #a2e0f5;} 
  .landing-page .pricing-plan .pricing-price span {color: #00aee3 ;}
  
  .landing-page .social-icon a {background: #bbb; }
  
  .landing-page .social-icon a:hover {background: #09f;}
  .landing-page .navbar-scroll.navbar-default .nav li a:hover {color:#00aee3;}
  
  
 .landing-page .features-icon {color: #ccc;font-size: 40px;} 
 
 .landing-page li.pricing-title { background: #6dcff6; }
 
 .landing-page li.pricing-title { border-radius:  0; font-size: 15px; border:0; }
 
 .landing-page .testimonials {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #fff; color:#333 }
	
.features h2, .features p { }
.features-box   {    text-align:center; }
.features h2{    }
.features-box h4 { font-family: 'Open Sans Condensed', sans-serif; font-weight:300;  }
.features-border {  border: solid .08em #eee; padding: 10px;}

.features-border h2 a {  color:#333; font-size:20px;}
	
.tabs-container .nav-tabs > li > a  {padding: 10px 36px; background: rgba(0,52,113,0.75) !important; color:#fff !important; }

 
 .top-navigation .nav > li.active { background:none;   }
 
 .amneties td { padding:6px; }
 
  .amneties td i { color:#bbb}
 
 .tabs-container .nav-tabs > li.active > a { background: #002157 !important;   }
 .tabs-container .nav-tabs {border: none}
 
 .tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus  { border:none; border-bottom:1px solid #002157  }

  .nav.nav-tabs li { height: 40px; }
  .tabs-container .tab-pane .panel-body {background:transparent; border: 1px solid rgba(142,142,142,0.47); }
  
  .carousel-control .icon-next, .carousel-control .icon-prev {margin-top: -46px;font-size: 80px;}
  
.filter .panel-body {  border: 0px solid rgba(142,142,142,0.47) !important ; }
  
  .filter label {  color:#fff }
    .filter button .btn-primary { font-weight:300  ; color:#fff; margin-top:28px; background:rgba(9,58,117,0.8); border:none; padding: 8px 25px; border-radius:0; }
	
.filter button{ font-weight:300  ; color:#fff; margin-top:10px; background:rgba(9,58,117,0.8); border:1px solid #fff; padding: 8px 25px; border-radius:0; }
	
.btn-primary { font-weight:300  ; color:#fff;  /* background:rgba(9,58,117,0.8);*/ border:none; padding: 7px 25px; border-radius:0; min-width:100px; }
.btn-white { font-weight:300  ; color:#666;   background:#fff; border:1px solid #ddd; padding: 8px 25px; border-radius:0;min-width:100px;  }
	
 .top-navigation .nav > li.active > a { color:#fff; }

   

   
   .price {top: 136px; text-align:center;     right: 21px;    color: #fff; position:absolute;    background:rgba(0,0,0,0.6);    width: 91px;    padding: 5px; border-bottom: 1px solid red;}
   
   .price-from {     position: absolute;
    top: 20px;
    transform: rotate(-90deg);
    transform-origin: left;
    right: 62px;
    font-size: 6pt;}
	
.featured {
    top: 21px;
    right: 21px;
   position: absolute;
 
}
   
  .sk-spinner-three-bounce div {    width: 10px;    height: 10px;    background-color: #ccc; } 
  
  .sk-spinner-three-bounce.sk-spinner {    margin: 0 0 0 8px;width: 20px;text-align: center;}
   
 .vertical-text {	transform: rotate(90deg);	transform-origin: right  ;} 
 .vertical-align-centre { vertical-align:middle !important; }
 
 
 .faq-question {
    font-size: 14px;
    font-weight: 400;
    color: #23527c;
	border-bottom: 1px solid #eee; padding-bottom: 10px  }


 
 .cart-product-imitation img {width:100% }
 
 .cart-product-imitation {padding-top: 12px;background-color: #fff;}
 
.pad-bot-30 { padding-bottom:30px }
.pad-top-30 { padding-top:30px }

.pad-bot-50 { padding-bottom:50px }
.pad-top-50 { padding-top:50px }

 .spin-icon {display: none !important;}
 .hund-pc { width:100% !important}
.text-grey { color:#666 }
.text-green { color:#B2D600 }
.text-dgreen { color:#335000 }
.text-default { color:#676a6c }
.text-red { color:#e22919}
.text-blue { color:#0099ff }
.text-dblue { color:#294083 }
.text-black { color:#000 }
.text-aqua { color:#1ab394 }
 

.padding-0 			{ padding:0 !important; 	}
.padding-3 			{ padding:3px !important; 	}
.padding-6 			{ padding:6px !important; 	}
.padding-8 			{ padding:8px !important; 	}
.padding-10 			{ padding:10px !important; 	}
.padding-15 			{ padding:15px !important; 	}
.padding-20 			{ padding:20px !important; 	}
.padding-30 			{ padding:30px !important; 	}		
.padding-40 			{ padding:40px !important; 	}
.padding-50 			{ padding:50px !important; 	}
.padding-60 			{ padding:60px !important; 	}
.padding-70 			{ padding:70px !important; 	}
.padding-80 			{ padding:80px !important; 	}
.padding-90 			{ padding:90px !important; 	}
.padding-100 		{ padding:100px !important; }

.padding-top-0		{ padding-top:0 !important; }
.padding-top-10		{ padding-top:10px !important; }
.padding-top-15		{ padding-top:15px !important; }
.padding-top-20		{ padding-top:20px !important; }
.padding-top-30		{ padding-top:30px !important; }
.padding-top-40		{ padding-top:40px !important; }
.padding-top-50		{ padding-top:50px !important; }
.padding-top-60		{ padding-top:60px !important; }
.padding-top-80		{ padding-top:80px !important; }
.padding-top-100	{ padding-top:100px !important; }
.padding-top-130	{ padding-top:130px !important; }
.padding-top-150	{ padding-top:150px !important; }
.padding-top-180	{ padding-top:180px !important; }
.padding-top-200	{ padding-top:200px !important; }

.padding-bottom-0	{ padding-bottom:0 !important; }
.padding-bottom-10	{ padding-bottom:10px !important; }
.padding-bottom-15	{ padding-bottom:15px !important; }
.padding-bottom-20	{ padding-bottom:20px !important; }
.padding-bottom-30	{ padding-bottom:30px !important; }
.padding-bottom-40	{ padding-bottom:40px !important; }
.padding-bottom-50	{ padding-bottom:50px !important; }
.padding-bottom-60	{ padding-bottom:60px !important; }
.padding-bottom-80	{ padding-bottom:80px !important; }
.padding-bottom-100	{ padding-bottom:100px !important; }
.padding-bottom-130	{ padding-bottom:130px !important; }
.padding-bottom-150	{ padding-bottom:150px !important; }
.padding-bottom-180	{ padding-bottom:180px !important; }
.padding-bottom-200	{ padding-bottom:200px !important; }

.padding-left-0	{ padding-left:0 !important; }
.padding-left-10	{ padding-left:10px !important; }
.padding-left-15	{ padding-left:15px !important; }
.padding-left-20	{ padding-left:20px !important; }
.padding-left-30	{ padding-left:30px !important; }
.padding-left-40	{ padding-left:40px !important; }
.padding-left-50	{ padding-left:50px !important; }
.padding-left-60	{ padding-left:60px !important; }

.padding-right-0	{ padding-right:0 !important; }
.padding-right-5	{ padding-right:5px !important; }
.padding-right-10	{ padding-right:10px !important; }
.padding-right-15	{ padding-right:15px !important; }
.padding-right-20	{ padding-right:20px !important; }

 


.margin-top-0		{ margin-top:0 !important; }
.margin-top-1		{ margin-top:1px !important; }
.margin-top-2		{ margin-top:2px !important; }
.margin-top-3		{ margin-top:3px !important; }
.margin-top-6		{ margin-top:6px !important; }
.margin-top-8		{ margin-top:8px !important; }
.margin-top-10		{ margin-top:10px !important; }
.margin-top-20		{ margin-top:20px !important; }
.margin-top-30		{ margin-top:30px !important; }
.margin-top-40		{ margin-top:40px !important; }
.margin-top-50		{ margin-top:50px !important; }
.margin-top-60		{ margin-top:60px !important; }
.margin-top-80		{ margin-top:80px !important; }
.margin-top-100		{ margin-top:100px !important; }
.margin-top-130		{ margin-top:130px !important; }
.margin-top-150		{ margin-top:150px !important; }
.margin-top-180		{ margin-top:180px !important; }
.margin-top-200		{ margin-top:200px !important; }

.margin-bottom-0	{ margin-bottom:0 !important; }
.margin-bottom-1	{ margin-bottom:1px !important; }
.margin-bottom-2	{ margin-bottom:2px !important; }
.margin-bottom-3	{ margin-bottom:3px !important; }
.margin-bottom-6	{ margin-bottom:6px !important; }
.margin-bottom-8	{ margin-bottom:8px !important; }
.margin-bottom-10	{ margin-bottom:10px !important; }
.margin-bottom-20	{ margin-bottom:20px !important; }
.margin-bottom-30	{ margin-bottom:30px !important; }
.margin-bottom-40	{ margin-bottom:40px !important; }
.margin-bottom-50	{ margin-bottom:50px !important; }
.margin-bottom-60	{ margin-bottom:60px !important; }
.margin-bottom-80	{ margin-bottom:80px !important; }
.margin-bottom-100	{ margin-bottom:100px !important; }
.margin-bottom-130	{ margin-bottom:130px !important; }
.margin-bottom-150	{ margin-bottom:150px !important; }
.margin-bottom-180	{ margin-bottom:180px !important; }
.margin-bottom-200	{ margin-bottom:200px !important; }

.margin-left-0		{ margin-left:0 !important; }
.margin-left-3		{ margin-left:3px !important; }
.margin-left-6		{ margin-left:6px !important; }
.margin-left-8		{ margin-left:8px !important; }
.margin-left-10		{ margin-left:10px !important; }
.margin-left-15		{ margin-left:15px !important; }
.margin-left-20		{ margin-left:20px !important; }
.margin-left-30		{ margin-left:30px !important; }
.margin-left-40		{ margin-left:40px !important; }
.margin-left-50		{ margin-left:50px !important; }
.margin-left-60		{ margin-left:60px !important; }
.margin-left-80		{ margin-left:80px !important; }
.margin-left-100	{ margin-left:100px !important; }
.margin-left-130	{ margin-left:130px !important; }
.margin-left-150	{ margin-left:150px !important; }
.margin-left-180	{ margin-left:180px !important; }
.margin-left-200	{ margin-left:200px !important; }
.margin-left-250	{ margin-left:250px !important; }
.margin-left-300	{ margin-left:300px !important; }

.margin-right-0		{ margin-right:0 !important; }
.margin-right-3		{ margin-right:3px !important; }
.margin-right-6		{ margin-right:6px !important; }
.margin-right-8		{ margin-right:8px !important; }
.margin-right-10	{ margin-right:10px !important; }
.margin-right-15	{ margin-right:15px !important; }
.margin-right-20	{ margin-right:20px !important; }
.margin-right-30	{ margin-right:30px !important; }
.margin-right-40	{ margin-right:40px !important; }
.margin-right-50	{ margin-right:50px !important; }
.margin-right-60	{ margin-right:60px !important; }
.margin-right-80	{ margin-right:80px !important; }
.margin-right-100	{ margin-right:100px !important; }
.margin-right-130	{ margin-right:130px !important; }
.margin-right-150	{ margin-right:150px !important; }
.margin-right-180	{ margin-right:180px !important; }
.margin-right-200	{ margin-right:200px !important; }
.margin-right-250	{ margin-right:250px !important; }
.margin-right-300	{ margin-right:300px !important; }
