body { padding-right: 0 !important }
body.with-image{
    padding-top: 0;
    margin-bottom: 0;
    background-image: url(../../img/3D.jpg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: auto;
    background-size: cover;
    background-position: top center;
    background-color: #0d1921;
    background-repeat: no-repeat;
}
body.with-image-profile{
    padding-top: 0;
    margin-bottom: 0;
    background-image: url(../../img/profile-bg.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-color: #0d1921;
    background-repeat: no-repeat;
}

/*#navbar-top {
    background-color: #778899;
}*/

.login-box .btn-facebook {
    margin-bottom: 5px;
}
.register-box-msg {
    border-bottom: 0;
}
.login-body-mobile {
    padding-top: 0;
    margin-bottom: 0;
    background-image: url(../../img/bg-3-with-dots.jpg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: auto 100%;
    background-position: right;
    background-color: #407fa7;
    background-repeat: no-repeat;
}
.space-container-header{
    color: black;
}
.home-tiles .filter-btn i:before {
    color: #fff;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#map-on-spaces {
    height: 100%;
}
#map-on-create{
    height: 100%;
}
#map-on-space-details{
    height: 100%;
}
#map-on-booking-details{
    height: 100%;
}
/*
#page-content-wrapper {
    padding: 0px;
    position: relative;
}*/
.booking-box .dropdown-menu{
    border-radius: 0px;
    background: #ffffff;
}
.booking-box .dropdown-menu li{
    color: #000;
}
.datetimepicker {
    background: #fff;
    color: rgb(0, 0, 0);
    font-weight: 400;
    border-radius: 0px;
}
.datetimepicker table tr td span.hour.active,
.datetimepicker table tr td span.minute.active {
    background-color: #ffffff !important;
    background-image: none;
    border-radius: 0px;
}
.datetimepicker td, .datetimepicker th {
    font-weight: 400;
}
.map-tiles-container{
    background-color: rgba(0, 0, 0, 0.87);
}

.field-error{
    font-weight: 400;
    display: block;
    color: #b42e42 !important;
}

.login-box-body .pwd-visible {
    bottom: 22px;
}
#wizard .content > .body .create-wizard-body .create-wizard-extras .extras-box {
    border: 0;
}
#wizard .actions > ul li:nth-of-type(2).disabled a {
   background-color: #fff;
   font-weight: 400;
}
/*chathuri's changes*/
.home-tiles .filter-btn {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 70px;
    margin-right: -90px;
    text-align: center;
    cursor: pointer;
    padding: 12px 15px;
}

.home-search button {
    border-radius: 0px;
    border: none;
    background-color: #005f95;
    width: 150px;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #03a3d3;
    border-color: #ffffff;
}

.filter-apply-btn {
    width: 90px;
    border-radius: 0px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px;
}

.home-tiles {
    left: 45%;
    background-color: rgba(0, 0, 0, 0.75);
}

.space-profile-row-5 .space-similar .carousel .space-similar-carousel-item-container {
    padding-right: 0px !important;
}

.home-text h1 {
    font-size: 42px;
    font-weight: 500;
    color: #fff;
    padding-top: 20px;
}
.home-text h4 {
    font-weight: 500;
    color: #fff;
}
.booking-box .values-box .form-control-static {
    float: right;
}
.manage-bookings-list-info img {
    margin-left: -172px;
}
.space-profile-row-2 .space-overview {
    background-color: transparent;
}
/*.profile-block
{
    padding:20px;
    margin-top: 70px;
    background-color: rgba(10, 10, 10, 0.2);
    color:#fff;
    float:left;
}*/
.profile-block > .row
{
    margin-top: 80px;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.2);
}

.booking-status{
    z-index: 0;
}
.booking-box .cancel-btn {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #ef5b57;
}
.booking-box .review-btn {
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #ef9b1e;
}
.booking-box .booking-box-body{
    background-color: #eeeeee;

}

#refund .input-group.date .input-group-addon span {
    color: #edc133;
}

.has-error .form-control {
    background: rgba(250, 235, 215, 0.76);
}

@media screen and (max-height: 400px) {
    .mobile-booking-btn {
        display: none;
    }
}
.booking-box .mobile-close-btn-container {
    bottom: -50px;
}
div#reviewModal .modal-content{
    position: relative;
    margin-top:70px;
    background-color:rgba(0, 0, 0, 0.9);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    color:#fff;}

div#reviewModal .modal-content small{ font-size:13px;}

div#reviewModal .modal-content .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ border-top:transparent;}

div#reviewModal .modal-header{
    padding: 15px;
    border-bottom: 1px solid #000;
}

div#reviewModal .modal-title{
    margin-top:-70px;
}

@media (min-width: 992px) {
    .modal-lg{
        width: 900px;
    }
}

ul#overall-rating, #cleanliness-rating, #amenities-rating, #service-rating{
    list-style: none;
    display: inline-flex;
    padding-left: 0px;
}
@media screen and (max-width: 767px){
    .table-responsive {
        border: none;
    }
}
.space-container-body .ratings span i:before {
    color: #ffdf00;
    margin: 0;
    font-size: 17px;
}
.space-guests-body .ratings span i:before {
    color: #ffdf00;
    margin: 0;
    font-size: 17px;
}
.manage-bookings-boxes .space-list-status.label {
    top: 2px;
    right: -4px;
}
.stick{
    position:fixed;
    top:50px;
    z-index:9999;
}
/*
.carousel-control.left, .carousel-control.right{
    background-image: none;
}*/
.tab-pane .filter-content{
    position: relative;
    right: 0px;
    left: -7px;
    z-index: 99;
    padding: 0;
    height: 0px;
    top: -10px;
    padding-bottom: 34px;
}

div.address-line{
    font-size: 14px;
    font-weight: 400;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #565656;
    background-color: #ffffff;
}
.input-append.date .add-on i, .input-prepend.date .add-on i, .input-group.date .input-group-addon span {
    color: #565656;
}
.input-group-addon {
    border: 1px solid rgba(193, 193, 193, 0.5);
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    border-radius: 0px;
}

.middle-box {
    max-width: 600px;
    
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
#navbar-top{
    border-bottom: 1px solid #f7f7f7;
}
