@charset "utf-8";


.trns-div {background: rgba(255,255,255,0.5);  padding:20px   }

.landing-page .btn-sm {font-size: 11px;padding: 5px 15px;font-weight: 400;     display:block;text-align: center;   }

.apnt-list {background: #fff;padding: 24px 10px 11px 10px;margin: 8px -10px;}

.banner .title {     position: absolute;top: 20%;left: 20%; text-align:left; font-size:2em;     line-height: 1.2em;  width:60%;  }  
.banner .title-desc {     position: absolute;top: 35%;left: 20%;  font-size:1em;     line-height: 1.5em;  text-align:left; width:70%; letter-spacing:0 }

.banner .title-btn {     position: absolute;bottom: 7%;left: 5%; text-align:left }

.banner-in .title { position:absolute; top:10%; left: 7% }

.contact-widget {    display:none }

.landing-page .navbar-default .navbar-brand { border-radius:0; padding-top:20px; font-family: 'Open Sans Condensed', sans-serif;     font-size: 12pt; }

.container>.navbar-header { margin-right: 5px; }

.logo { max-width: 160px; margin-top: 18px;}

.navbar-left { margin-left: 0px; }

.landing-page .navbar .navbar-header .navbar-toggle {     margin-top: 30px; }

.landing-page .nav > li > a { padding: 1px 10px 10px 10px; }

.landing-page .navbar-default .nav li a { font-weight:400; }
    
.landing-page .navbar-default .navbar-nav > .active > a  {border:none; color: #B2D600; font-weight:700;  }

.landing-page .navbar-default .navbar-nav > .active > a:hover {   }

.landing-page .navbar-default .navbar-nav > li > a:focus {color: #B2D600; }	

.navbar-default .navbar-nav>.open>a { background: none }

.navbar-brand {
    float: right;
    height: 50px;
    padding: 15px 15px;

}

.landing-page .navbar-default .navbar-nav > li > a:hover  {color: #B2D600; border-bottom: 0px solid #B2D600;   }	

.sub-brand {float: right;  width: 80px; margin: -25px 0px 0 0; display:block; clear:both !important;}

.num-count {position: absolute;top: 6px;right: 68px;    border-radius: 100%;    background: #f26522;    width: 15px;    text-align: center;    color: #fff;    font-size: 8pt; }

.filter-container { top:-205px; position:relative } 

.filter-content-container {margin-top:-40px; height: auto;}

.hero {/*background:URL(../img/landingImg1XXXXX.jpg);*/ background-size:cover; height:770px; background-position:bottom right; padding-top:8%; margin-top:10px; position:relative; z-index:0;}
#navbar { float:left }
.hero2 {background:URL(../img/hero2.jpg); background-size:cover; height:180px; background-position:centre right;  }
#navbar { float:left }


.navbar-wrapper   { /*background:rgba( 255,255,255,1); */ margin:0px auto; position:relative;    z-index:1000;   }

.navbar-right li a { padding:0px 5px !important;   }

.facilities .b-r {border-right: none  ;}

.overflow-div {overflow:auto; height:285px}

.search-btn { margin-top:10px}

.top-navigation .nav > li > a { color:#2D2726;     text-transform: uppercase;  padding: 15px 15px }

video#videobg { top: 38%;     min-width: 305%; }

.hm-src {padding: 5px 25px 25px 25px !important; margin-top: 10px;  }

@media only screen and (min-width: 425px) {
video#videobg { top: 41%;     min-width: 288%; }

} /*



@media only screen and (min-width: 568px) {
	
 

	

} /* ------ END (min-width: 568px) --------- */


@media only screen and (min-width: 768px) {
	
.trns-div { background:rgba(255,255,255,0.5);    }	

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}	


.landing-page .btn-sm {font-size: 12px;padding: 5px 15px;font-weight: 400; display:inline}

.navbar-right li a { padding:18px 5px !important;   }
.apnt-list {background: #fff;padding: 24px 10px 11px 10px;margin: 5px; }

.landing-page .navbar-default .navbar-brand { border-radius:0; padding-top:50px; font-family: 'Open Sans Condensed', sans-serif;     font-size: 12pt; }

.banner .title {     positionX: absolute; topX: 20%;leftX: 20%; text-align:left; font-size:3.5em;       width:70%;   }  
.banner .title-desc {     positionX: absolute;topX: 35%;leftX: 20%; font-size:1.5em;        text-align:left; width:50%; letter-spacing:0 }

.banner-in .title { position:absolute; bottom:10px; left: 42% }

.logo { max-width:155px; margin-top:6px  }

.landing-page .navbar-default .navbar-nav > .active > a  {border:none; border-bottom: 1px solid #B2D600; padding: 7px 10px 14px 10px;}

 .sub-brand { float:right; width:150px; width: 85px; margin-top: 42px; }

 .contact-widget {  right:40px; ; position: relative; top: 9px;     text-align: right; display:block }
 .filter-container { top:-230px; position:relative } 
 
 .hero { height:700px;  ; padding-top:16%; margin-top:-125px;  }
 
 .num-count { right: 5px;     }
 
 .navbar-wrapper   { /*background:rgba( 255,255,255,0.9);*/ margin:10px auto; position:relative;    z-index:1000;   }
 
 .facilities .b-r { border-right: 1px solid #e7eaec  }
 
 .overflow-div {overflow:auto; height:425px}
 .middle-box { max-width: 700px; width:700px; }
 .search-btn { margin-top:0px}
 
    .top-navigation .nav > li > a { color:#fff;     text-transform: uppercase;  padding: 15px 15px }
	
	
video#videobg { top: 34%;     min-width: 158%; }	
 
} /* ------ END (min-width: 768px) --------- */



@media only screen and (min-width: 992px) {
	
.landing-page .navbar-default .navbar-brand { border-radius:0; padding-top:50px; font-family: 'Open Sans Condensed', sans-serif;     font-size: 12pt; }

#navbar { float:right }

.navbar-right li a { padding:14px 5px !important;   }

.banner-in .title { position:absolute; bottom:10px; left: 42% }

.logo { max-width:200px; margin-top:6px  }

.landing-page .nav > li > a { padding: 36px 5px 15px 10px;}

.navbar-right {margin: 5px 12px 0 0 ;}
.landing-page .navbar-default .navbar-nav > .active > a  {border:none; /*border-bottom: 3px solid #B2D600; */padding-top: 42px  ;}
.filter-container { top:-127px; position:relative } 
.filter-content-container {margin-top:20px; height: 500px;}

.hero { height:700px;  ; padding-top:8%; margin-top:-75px;  }

.hero-left, .hero-right { height:500px;   }

video#videobg { top: 35%;     min-width: 120%; }	




} /* ------ END (min-width: 992px) --------- */


@media only screen and (min-width: 1200px) {

.hero {
    height: 700px;
    padding-top: 4%;
    margin-top: -75px;
}
 	
video#videobg { top: 29%; }	
	
} /* ------ END (min-width: 1200px) --------- */


@media only screen and (min-width: 1400px) {

video#videobg { top: 41%;     min-width: 100%; }	 	



	
} /* ------ END (min-width: 1400px) --------- */


@media only screen and (min-width: 1600px) {
	
	.banner .titleX {    left: 23%; } 	
	
 
} /* ------ END (min-width: 1600px) --------- */



/*
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
*/

