<div class="manage-bookings-wrapper">
    <div class="manage-bookings-wrapper-inner">
        <div class="manage-bookings-basic-info">
            <div class="manage-booking-title">
                <label>Title</label>
                <input type="text" [value]="space.name" [(ngModel)]="space.name" name="spaceName"/>
            </div>
            <div class="manage-booking-description">
                <label for="">Description</label>
                <textarea name="description" cols="30" rows="10" [value]="space.description" [(ngModel)]="space.description"></textarea>
            </div>
            <div class="manage-booking-company-name">
                <label for="">Organization name</label>
                <input autocomplete="off" type="text" [value]="space.addressLine2" [(ngModel)]="space.addressLine2" name="organization">
            </div>
            <div class="manage-booking-address">
                <label for="">Address</label>
                <input type="text" [value]="space.addressLine1" [(ngModel)]="space.addressLine1" name="address">
            </div>
            <div class="manage-booking-map">
                <space-map [lat]="space.latitude" [lng]="space.longitude" [address]="space.addressLine1"></space-map>
            </div>
        </div>
        <div class="manage-booking-space-details">
            <div class="row">
                <div class="col-md-4">
                    <div class="manage-booking-footage">
                        <label for="">FOOTAGE / ACREAGE</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manage-booking-rate-per-hour">
                        <label for="">RATE PER HOUR</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manage-booking-participant-count">
                        <label for="">PARTICIPANT COUNT</label>
                        <input type="text">
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="manage-booking-space-details-block">
                        <p class="sub-title">Event types</p>
                        <ul>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manage-booking-space-details-block">
                        <p class="sub-title">Amenities</p>
                        <ul>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                            <li><input type="checkbox"><label for=""> Party</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manage-booking-space-details-block">
                        <p class="sub-title">Extra amenities <i class="fa fa-plus-square"></i></p>
                        <ul class="extra-amenities-list">
                            <li><span>Coffee</span><span><input type="text"></span><span>
                                <select name="" id=""><option
                                        value="">Option 1</option>
                                </select>
                            </span><span><i class="fa fa-minus-square-o"></i></span></li>
                            <li><span>Coffee</span><span><input type="text"></span><span>
                                <select name="" id=""><option
                                        value="">Option 1</option>
                                </select>
                            </span><span><i class="fa fa-minus-square-o"></i></span></li>
                            <li><span>Coffee</span><span><input type="text"></span><span>
                                <select name="" id=""><option
                                        value="">Option 1</option>
                                </select>
                            </span><span><i class="fa fa-minus-square-o"></i></span></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="save-btn-wrapper"><a href="" class="save-btn">Save</a></div>
                </div>
            </div>
        </div><!-- /.manage-booking-space-details -->
    </div><!-- /.manage-bookings-wrapper-inner -->
</div>