<div class="avl-wrapper-titles">
    <span>Time</span><span *ngIf="chargeType === 2">Minimum price per guest</span><span>Block price</span>
</div>
<div class="avl-wrapper">
    <div class="per-block-avl-wrapper" *ngFor="let block of _schedulerData?.availability | sort: 'from' ">
        <!--available-->
        <div class="available" *ngIf="!block.state.booked && !block.state.blocked && !block.state.past">
            <div>
                <span><input type="checkbox" (change)="selectBlock(block)" [checked]="block.selected" /> {{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</span>
                <span>{{block.charge | currency:'LKR':false:'.0-0'}}</span>
                <span *ngIf="chargeType === 2">
                            <span *ngIf="_guestCount > minGuestCount">{{ (block.charge * _guestCount) | currency:'LKR':false:'.0-0' }}</span>
                            <span *ngIf="(_guestCount || 0) <= minGuestCount">{{ (block.charge * minGuestCount) | currency:'LKR':false:'.0-0' }}</span>
                        </span>
            </div>
            <div *ngIf="chargeType === 2" class="block-menu-info-ico-wrapper" data-toggle="tooltip" [title]="getMenusName(block.menus)"><i class="fa fa-info-circle"></i></div>
            <!--<div class="avl-menus-wrapper">
                <div>Available Menus</div><div class="avl-menues">Menu 1, Menu 2</div>
            </div>-->
        </div>
        <!--available past-->
        <div class="available-past" *ngIf="!block.state.booked && !block.state.blocked && block.state.past">
            <div>
                        <span><input type="checkbox" disabled="true" checked="true" /> {{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</span
                        ><span>{{block.charge | currency:'LKR':false:'.0-0'}}</span
            ><span></span>
            </div>
        </div>
        <!--booked-->
        <div class="booked" *ngIf="(block.state.booked || block.state.blocked) && !block.state.past">
            <div>
                        <span><input type="checkbox" disabled="true" checked="true" /> {{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</span
                        ><span>{{block.charge | currency:'LKR':false:'.0-0'}}</span>
            </div>
        </div>
        <!--booked past-->
        <div class="booked-past" *ngIf="(block.state.booked || block.state.blocked) && block.state.past">
            <div>
                        <span><input type="checkbox" disabled="true" checked="true"/> {{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</span
                        ><span>{{block.charge | currency:'LKR':false:'.0-0'}}</span>
            </div>
        </div>
    </div>
</div>