<div class="thumbnail-preview-image-holder">
    <div class="thumbnail-preview-image-holder-inner">

        <div class="img-wrapper" *ngFor="let image of menuImages">
            <p>{{image.name}}</p>
            <span *ngIf="image.format == 'pdf'"><i class="fa fa-file" style="font-size: 32px"></i></span>
            <img *ngIf="image.format != 'pdf'" [src]="image?.url" alt="menu">
            <span class="thumbnail-img-close" (click)="deleteImage(image)"><i class="fa fa-times"></i></span>
        </div>

    </div><!-- /.thumbnail-preview-image-holder-inner -->
</div><!-- /.thumbnail-preview-image-holder -->
<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>