<div id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span><i class="flaticon flaticon-top-menu"></i></span>
                        </button>
                        <a href="../html/home.html" class="navbar-brand"><img src="../assets/img/log-w.png"></a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#" class="list-space"><i class="flaticon flaticon-list"></i><span>List My Space</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon flaticon-help"></i></a>
                            </li>
                            <li><a href="../html/sign_in.html"><i class="flaticon flaticon-login"></i><span>Login</span></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div class="map-grid visible-xs">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary map-btn active" ><i class="flaticon flaticon-placeholder m-r-5"></i> Map</button>
                    <button type="button" class="btn btn-default grid-btn">Grid<i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 p-l-0 m-xs-p-r-0 map-container">
                    <div id="map"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 p-x-0 grid-container">
                    <div class="space-container ">
                        <div class="space-container-header">
                            <i class="flaticon flaticon-camera"></i>
                            <label>Photoshoot</label>
                            <div class="pull-right">
                                <span><i class="flaticon flaticon-microphone"></i></span>
                                <span><i class="flaticon flaticon-projector"></i></span>
                                <span><i class="flaticon flaticon-screen"></i></span>
                                <span><i class="flaticon flaticon-water"></i></span>
                                <button type="button" class="btn btn-primary btn-sm">Edit</button>
                            </div>
                        </div>

                        <div class="space-container-body">
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-people"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-currency"></i>$50/Hr</div>

                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img-1.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>

                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>

                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>
                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>

                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>
                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>
                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 m-b-15">
                                <a class="space-box">
                                    <img src="../assets/img/space-img.jpg" alt="...">
                                    <div class="space-info">
                                        <div class="col-xs-12 p-x-5 p-y-5 space-name">Space Name</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-count"><i class="flaticon flaticon-help"></i>100</div>
                                        <div class="col-xs-6 p-x-5 p-y-5 space-rate"><i class="flaticon flaticon-help"></i>$50/Hr</div>
                                    </div>
                                    <div class="ratings">
                                        <div class="star-rating">
                                            <input type="radio" name="example" class="rating" value="1" checked />
                                            <input type="radio" name="example" class="rating" value="2" checked />
                                            <input type="radio" name="example" class="rating" value="3" checked/>
                                            <input type="radio" name="example" class="rating" value="4" />
                                            <input type="radio" name="example" class="rating" value="5" />
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->