<div class="row cancellation">
    <h4>Cancellation Policy</h4>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-1" aria-controls="home" role="tab" data-toggle="tab">Flexible</a></li>
        <li role="presentation"><a href="#tab-2" aria-controls="profile" role="tab" data-toggle="tab">Moderate</a></li>
        <li role="presentation"><a href="#tab-3" aria-controls="profile" role="tab" data-toggle="tab">Strict</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
            <h4>Flexible: Full refund 2 days prior to event date, except processing fees​​</h4>
            <ul>
                <li>Cancellations may be made by Event Organizer up to 2 days prior to the Event Date. Space Provider shall refund the entire usage fee if cancellation is made by Event Organizer during the foregoing period, except for  processing fees of 5% which are non-refundable; or ​</li>
                <li>A reservation is officially canceled when the event organiser clicks the cancellation button on the space profile. ​</li>
                <li>Cancellation policies may be superseded by the Guest Refund Policy, extenuating circumstances, or cancellations by MillionSpaces for any other reason permitted under the Terms of Service. Please review these exceptions.​</li>
                <li>Applicable taxes will be retained and remitted.​</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-2">
            <h4>Moderate: Full refund 5 days prior to event date, except fees</h4>
            <ul>
                <li>Cancellations may be made by Event Organizer up to 5 business days prior to the Event Date. Space Provider shall refund the entire usage fee if cancellation is made by Event Organizer during the foregoing period, except for  processing fees of 5% which are non-refundable;​</li>
                <li>A reservation is officially canceled when the event organiser clicks the cancellation button on the space profile. ​</li>
                <li>Cancellation policies may be superseded by the Guest Refund Policy, extenuating circumstances, or cancellations by MillionSpaces for any other reason permitted under the Terms of Service. Please review these exceptions.​</li>
                <li>Applicable taxes will be retained and remitted.​</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-3">
            <h4>Strict: 50% refund up until 1 week prior to the event date, except processing fees​</h4>
            <ul>
                <li>Cancellations may be made by Event Organizer up to 1 week prior to the Event Date. Space Provider shall refund the 50% of the Usage Fee if cancellation is made by Event Organizer during the foregoing period, except for processing fees of 5% which are non-refundable; ​</li>
                <li>A reservation is officially canceled when the event organiser clicks the cancellation button on the space profile. </li>
                <li>Cancellation policies may be superseded by the Guest Refund Policy, extenuating circumstances, or cancellations by MillionSpaces for any other reason permitted under the Terms of Service. Please review these exceptions.</li>
                <li>Applicable taxes will be retained and remitted.​</li>
            </ul>
        </div>
    </div>
</div>