<div class="space-profile-wrapper" >

  <div class="iframe-wrapper">
      <iframe  height='600' src='http://www.creativehub.lk/virtual_tours/botanik-bistro-and-bar/click_to_play.php' frameborder='0' allowfullscreen allow='vr'></iframe>
  </div>
    

    
    <section class="space-profile-information-wrapper">

        <div class="space-details-wrapper">

            <header>
                <h1 class="mobile-space-prof-title">{{space.name}}</h1>
                <p class="mobile-space-prof-address address">{{space.addressLine2}}, {{space.addressLine1}}</p>
                <p class="description">{{space.description}}</p>
            </header>

            <div class="details-blocks">
                <div class="details-blocks-inner">

                    <div class="details-block details-block-overview" id="overview">
                        <div class="details-block-title">
                            <p>Overview</p>
                        </div><div class="details-block-body">
                        <div class="common-info">
                            <div>
                                <i class="fa fa-group"></i>
                                <p *ngIf="space.participantCount === 1">1 guest</p>
                                <p *ngIf="space.participantCount > 1">{{space.participantCount}} guests</p>
                            </div>
                            <div>
                                <i class="fa fa-th"></i>
                                <p>{{space.size}} {{space.measurementUnit.name}}</p>
                            </div>
                            <div>
                                <img width="35px;" src="https://res.cloudinary.com/dgcojyezg/image/upload/v1537620079/millionspaces/assets/{{ space.spaceType[0]?.icon }}" alt="">
                                <p>{{space.spaceType[0]?.name}}</p>
                            </div>
                        </div>
                    </div>
                    </div><!-- /.details-block -->
                    <div class="details-block details-block-price">
                        <div class="details-block-title">
                            <p>Event Types</p>
                        </div><div class="details-block-body">
                        <div class="event-type-block event-type-block-eventtype" *ngFor="let eventType of eventTypes | sort:'name'">
                            <span><img [src]="eventType.mobileIcon" alt="" width="25px"></span>
                            <span>{{eventType.name}}</span>
                        </div>
                    </div>
                    </div>
                    <div class="details-block details-block-price" id="price">
                        <div class="details-block-title">
                            <p>Price</p>
                        </div><div class="details-block-body">

                            <div *ngIf="space.availabilityMethod === 'HOUR_BASE'">
                                <p class="overview-note"><i class="fa fa-info-circle" aria-hidden="true"></i> This host charges on a per hour basis</p>
                                <div class="overview-time-slots" *ngFor="let block of space.availability | sort : 'day' ">
                                    <div>
                                        <div>{{block.day | formatDate: 'weekday'}}</div>
                                        <div>{{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</div>
                                    </div><div>
                                        <div>Charge per hour</div>
                                        <div class="price-tag-lg">{{block.charge | currency:'LKR':false:'.0-0'}} / hr</div>
                                    </div>
                                </div>
                            </div><div *ngIf="space.availabilityMethod === 'BLOCK_BASE'">
                                <p
                                    *ngIf="space.blockChargeType === 1 && space.reimbursableOption === 0"
                                    class="overview-note">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> This host charges on a per block basis. This is a space hiring charge only.
                                </p>
                                <p *ngIf="space.blockChargeType === 1 && space.reimbursableOption === 1"
                                    class="overview-note">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> This host charges on a per block basis. The below payment can be reimbursed against your food/beverage order on the day of the event.
                                </p>
                                <p
                                    *ngIf="space.blockChargeType === 2"
                                    class="overview-note">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> This host charges on a per block basis.You will be paying by the number of guests attending the event.
                                    Minimum number of guests applicable - {{space.minParticipantCount}}
                                </p>
                                <div class="per-hour-titles" *ngIf="space.blockChargeType === 2">
                                    <div>
                                        <p>Base menu</p>
                                        <p>Price Per Guest</p>
                                    </div><div>
                                        <p>Applicable menu</p>
                                    </div>
                                </div><div class="overview-time-slots" *ngFor="let block of space.availability | sort: 'day'">
                                    <div>
                                        <div>{{block.day | formatDate: 'weekday'}}</div>
                                        <div>{{block.from | formatDate: '12h'}} - {{block.to | formatDate: '12h'}}</div>
                                    </div><div>
                                        <div>Charge</div>
                                    <div>{{block.charge | currency:'LKR':false:'.0-0'}}</div>
                                    </div><div>
                                        <p *ngIf="space.blockChargeType === 2">{{'Menu-'+ block.menuFiles[0].menuId}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.details-block -->

                    <div class="details-block details-block-menus" *ngIf="menus.length > 0">
                        <div class="details-block-title">
                            <p>Menus</p>
                        </div><div class="details-block-body" >
                        <div class="menu" *ngFor="let menu of menus">
                            <!--<a class="menu-items" href="{{bucket +'/np'+ menu.url}}"><img src="{{bucket +'/'+ menu.url}}" alt="" /></a>-->
                            <div class="menu-name"><a href="{{bucket +'/'+ menu.url}}" target="_blank">Menu {{menu.menuId}}</a></div>
                        </div>
                    </div>
                    </div>

                    <div class="details-block details-block-seating" *ngIf="space.seatingArrangements.length > 0" id="seating">
                        <div class="details-block-title">
                            <p>Seating Arrangement</p>
                        </div><div class="details-block-body">
                            <div *ngFor="let option of space.seatingArrangements | sort:'name'">
                                <div><img class="img-responsive" [src]="option.mobileIcon" width="50px"></div>
                                <div>
                                    <span class="seating-option">{{option.name}}</span>
                                    <span class="seating-count">Maximum: {{option.participantCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.details-block -->

                    <div class="details-block details-block-amenities" id="amenities">
                        <div class="details-block-title">
                            <p>Amenities</p>
                        </div><div class="details-block-body">
                        <span class="amenity-title">Complimentary</span>
                        <p class="no-amenities-avai" *ngIf="amenities.length === 0"><i class="fa fa-info-circle"></i> No complimentary amenities available</p>
                        <div class="amenities" style="padding: 10px 0px 20px 0px" *ngIf="amenities.length !== 0">
                            <ul>
                                <li *ngFor="let amenity of amenities | sort: 'name'">
                                    <span><img [src]="amenity.mobileIcon" alt="" width="25px"></span>
                                    <span>{{amenity.name}}</span>
                                </li>
                             </ul>
                        </div>
                        <span class="amenity-title">Chargeable</span>
                        <p class="no-amenities-avai" *ngIf="space.extraAmenity.length === 0"><i class="fa fa-info-circle"></i> No chargeable amenities available</p>
                        <div class="amenities-chargeable" style="padding: 10px 0px 20px 0px" *ngIf="space.extraAmenity.length !== 0">
                            <ul>
                                <li *ngFor="let exAmenity of space.extraAmenity | sort: 'name'">
                                    <span><img [src]="exAmenity.mobileIcon" alt="" width="25px"></span>
                                    <span>{{exAmenity.name}}</span>
                                    <span>{{getAmenityUnitName(exAmenity.amenityUnit)}}</span>
                                    <span>{{exAmenity.extraRate | currency : 'LKR' : false : '.0-0'}}</span>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.Amenities -->
                    </div>
                    <div class="details-block details-block-space-rules" *ngIf="spaceRules.length > 0" id="rules">
                        <div class="details-block-title">
                            <p>Rules</p>
                        </div><div class="details-block-body">
                        <div class="space-rules">
                            <ul>
                                <li *ngFor="let rule of spaceRules | sort:'name'">{{rule.name}}</li>
                            </ul>
                        </div>
                    </div>
                    </div>

                    <div class="details-block details-block-seating" id="cancellation">
                        <div class="details-block-title">
                            <p>Cancellation <br/>Policy</p>
                        </div><div class="details-block-body">
                        <p><span class="cancellation-policy-name">{{cancellationPolicy.name}}</span>: {{cancellationPolicy.description}}</p>
                    </div>
                    </div><!-- /.details-block -->

                    <div id="location" class="details-block details-block-location">
                        <div class="details-block-title">
                            <p>Location</p>
                        </div><div class="details-block-body">
                        <div class="map-wrapper"><space-map [lat]="space.latitude" [lng]="space.longitude" [address]="space.addressLine1"></space-map></div>
                    </div>
                    </div><!-- /.details-block -->
                </div>
            </div>

            <!--review section-->
            <section class="review-screen" *ngIf="userReviews && userReviews.length">
                <div class="user-review-btn user-review-prev" [class.disabled-nav-chev]="selectedUserReviewIndex === 0" (click)="showPreviousReview()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="user-review-btn user-review-next" [class.disabled-nav-chev]="selectedUserReviewIndex === (userReviews.length - 1)" (click)="showNextReview()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                <h3 class="review-numbers">Reviews ({{userReviews.length}})</h3>

                <user-review [reviewDetail]="selectedUserReview"></user-review>
            </section>
            <!--end of review section-->


            <div id="similar-places" class="similar-places">
                <h2>Similar Spaces</h2>
                <div class="similar-places-carousel">
                    <div id="similar-places-carousel" class="owl-carousel owl-theme">
                        <div *ngFor="let similarSpace of space.similarSpaces" (click)="goToSimilarSpace(similarSpace)">
                            <img src="{{bucket}}/{{similarSpace.thumbnailImage}}" alt="cover img">
                            <div class="similar-space-price-wrapper">
                                <p>Starting from</p>
                                <p>{{similarSpace.ratePerHour | currency:'LKR':true:'.0-0'}}</p>
                            </div>
                            <h3 class="similar-space-name">{{similarSpace.name}}</h3>
                            <p class="similar-spaces-address-line">{{similarSpace.addressLine2}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section
    >
</div><!-- /.space-profile-wrapper -->
<div *ngIf="isLoading">
    <main-pre-loader></main-pre-loader>
</div>
<footer class="main-footer">
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-5 hidden-xs hidden-sm">
                <div class="footer-profile-name">
                    <h3>{{ space.name }}</h3>
                    <p class="org-name">{{ space.addressLine2 }}</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer-price-txt">Starting From</div>
                <div class="footer-price">{{ space.ratePerHour | currency:'LKR':false:'.0-0' }}</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <button class="btn-primary" (click)="newBookNow()" style="width: 100%; height: 45px;">BOOK NOW</button>
            </div>
        </div>
    </div>
  </footer>
<modal-component [modalComponentData]="modalComponentData"></modal-component>
