<div style="margin-top: 80px"></div>

<div class="payments-page-wrap">
  <div class="payments-page-wrap-inner">

    <header class="payments-page-header">
      <h3>calendar</h3>
      <ul class="navigator">
        <li class="active-step"><span>1</span></li
        ><li><span>2</span></li
      ><li><span>3</span></li>
      </ul><!-- /.navigator -->
    </header><!-- /.payments-page-header -->

    <section class="payments-page-wrapper row">
      <div class="col-md-7">
        <booking-calendar
                [fullBookedDates]="fullBookedDates"
                [calendarEnd]="bookingData.calendarEnd"
                (selectedDate)="setSelectedDate($event)"
        ></booking-calendar>
      </div>
      <div class="col-md-5">
      <app-hour-base *ngIf="bookingData.availabilityMethod === 'HOUR_BASE'"
              [selectedDate]="selectedDate"
              [bookingData]="bookingData"
              (spaceCharge)="setSpaceCharge($event)"
              (fullBookedDates)="setFullBookedDates($event)"
      ></app-hour-base>
      <app-block-base *ngIf="bookingData.availabilityMethod === 'BLOCK_BASE'"
              [selectedDate]="selectedDate"
              [bookingData]="bookingData"
              (spaceCharge)="setSpaceCharge($event)"
                      (fullBookedDates)="setFullBookedDates($event)"
      >
      </app-block-base>
    </div>
    </section><!-- /.payments-page-wrapper -->

  

    <footer class="payment-flow-footer">
      <div class="footer-wrapper">
        <div class="row">
          <div class="col-md-6 col-sm-5 col-xs-5 hidden-xs hidden-sm">
            <div class="footer-profile-name">
              <h3>{{ bookingData.spaceName }}</h3>
              <p class="org-name">{{ bookingData.orgName }}</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="footer-price-txt">Total Payable</div>
            <div class="footer-price">{{ spaceCharge | currency:'LKR':false:'.0-0' }}</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <button class="btn btn-primary" [class.disabled-next-btn]="spaceCharge === 0" [disabled]="spaceCharge === 0"  (click)="continueBooking()" >
              <p>NEXT</p>
              <p style="font-size: 9px">You won't be charged yet</p>
            </button>
          </div>
        </div>
      </div>
    </footer>
  

  </div><!-- /.payments-page-wrap-inner -->
</div><!-- /.payments-page-wrap -->

<div class="modal-window-overlay" [class.show-modal]="showModal">
  <div class="modal-window-panel">
    <div class="modal-window-panel-inner">
      <header class="modal-heading">
        <h1>HEADS UP!</h1>
      </header>

      <div class="modal-body">
        <div class="modal-icon-content"><img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1536912601/ms-mobile-web/headsup.png" alt=""></div>
        <div class="modal-text-content">
          <p style="font-weight: bold">{{ (bookingData.orgName) ? bookingData.orgName : "This venue" }}</p>
          <p>thinks this is short notice!</p>
          <p>Please call the MillionSpaces call center <br> to convince them!</p>
        </div>
        <div class="mobile-number">
          <h2>CALL 011 7 811 811</h2>
        </div>
        <div class="modal-button" (click)="showModal = false"><a>DONE</a></div>
      </div>
    </div>
  </div>
</div>
