.payments-page-wrap {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}
@media only screen and (min-width: 992px) {
    .payments-page-wrap {
        width: 60%;
    }
}
/** Header **/
.payments-page-header {
    text-align: center;
    margin-bottom: 30px;
}
.payments-page-header > h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.navigator {
    padding-left: 0;
}
.navigator > li {
    display: inline-block;
}
.navigator > li:after {
    width: 40px;
    content: "";
    border-bottom: 1px solid #e2e2e2;
    height: 10px;
    display: inline-block;
    position: relative;
    top: -5px;
}
.navigator > li:last-child:after {
    display: none;
}
.navigator > li.active-step:after {
    border-bottom-color: #FFDD57;
}
.navigator > li > span {
    display: inline-block;
    border-radius: 50%;
    padding: 3px 9px;
    background: #e2e2e2;
}
.navigator > li.active-step > span {
    background: #FFDD57;
}

/*** payments page wrapper ***/

/* .payments-page-wrapper > div {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
.payments-page-wrapper > div:last-child {
    margin-bottom: 100px;
} */
/* @media only screen and (min-width: 992px) {
    .payments-page-wrapper > div {
        margin-bottom: 100px;
    }
    .payments-page-wrapper > div:first-child {
        width: calc(60% - 69px);
        margin-top: 20px;
        margin-bottom: 60px;
        margin-right: 29px;
    }
    .payments-page-wrapper > div:last-child {
        width: 40%;
    }
} */
.footer-wrapper button {
    vertical-align: middle;
    background: #FFDD57;
    color: #000;
    padding: 6px;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    -webkit-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    -moz-box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    box-shadow: -3px 2px 19px 1px rgba(46,46,46,0.28)!important;
    cursor: pointer;
}

.footer-wrapper button.disabled-next-btn {
    background: #7777777a;
    cursor: not-allowed;
}
.footer-wrapper button > p:first-child {
    margin-bottom: 0;
}
.footer-wrapper button > p:last-child {
    margin-bottom: 0;
    font-size: 8px;
}
.payment-flow-footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #e2e2e2;
    padding: 15px 10px;
    border-top: 1px solid #d4d4d4;
}
.payment-flow-footer {
    width: 100%;
    display: inline-block;
}
.payment-flow-footer > div {    
    margin: 0 auto;
}
@media only screen and (min-width: 992px) {
    .payment-flow-footer > div {
        width: 60%;
    }
}
.hide-on-mobile {
    display: none;
}
@media only screen and (min-width: 992px) {
    .hide-on-mobile {
        display: block;
    }
}
/* .footer-profile-name {
    position: relative;
    top: 3px;
} */
.footer-profile-name h3 {
    margin: 0;
    padding: 0;    
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
.footer-price {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.footer-price-txt {
    font-size: 10px;
}
/*********************************** Modal window**************************************/
.modal-window-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-window-overlay.show-modal {
    display: block;
    overflow: auto;
}
.modal-window-panel {
    background: #ffffff;
    width: 90%;
    margin: 120px auto;
    padding: 20px;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .modal-window-overlay.show-modal {
        position: fixed;
        top: 0px;
    }
    .modal-window-panel {
        margin: 80px auto;
        width: 350px;
    }
}
.modal-heading h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-text-content > p {
    font-size: 13px;
}
.mobile-number {
    text-transform: uppercase;
    font-weight: bold;
}
.mobile-number > h2 {
    color: #69b6f9;
}
.modal-icon-content {
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
.modal-icon-content > img {
    width: 100px;
    display: inline-block;
}
.modal-button {
    margin-top: 30px;
}
.modal-button > a {
    text-transform: uppercase;
    background: #FFDD57;
    padding: 10px;
    width: 200px;
    display: inline-block;
    color: black;
    border-radius: 3px;
}
.hide-panel-body {
    display: none;
}

/* custom styles */
.org-name {
    color: #00adee;
    font-weight: bold;
}
button:disabled {
    background: #CCCCCC;
}
.footer-wrapper {
    padding: 0rem 1rem;
}

@media screen and (min-width: 768px){
    .modal-icon-content {
        display: block;
    }
}

