<div class="space-block-wrapper">
    <div class="space-block-thumb-wrapper" [style.backgroundImage]="'url(' + getFeaturedImage(space) + ')'" (click)="showSpace(space, $event)">
        <div *ngIf="space.discount">
            <div class="discount-price-tag">
                <div>LKR</div>
                <div>{{ getDiscountValue() }}</div>
                <div>OFF</div>
            </div>
            <div class="space-block-price-tag">
                <span><p>Starting from</p></span>
                <p class="strike-through-price">{{ space.preStaringFrom | currency:'LKR':false:'.0-0'}}</p>
                <p class="new-price">{{ space.ratePerHour | currency:'LKR':false:'.0-0' }}</p>
            </div>
        </div>
        <div *ngIf="!space.discount" class="space-block-price-tag">
            <span><p>Starting from</p></span>
            <p class="new-price">{{space.ratePerHour | currency:'LKR':false:'.0-0'}}</p>
        </div>
        <!--<div class="space-block-des-overlay" [class.space-block-des-overlay-active]="shortDesc === true">
            <div class="space-block-des-overlay-text-wrapper">
                <h3>{{space.name}}</h3>
                <p class="amenities-wrapper"><span *ngFor="let amenity of spaceAmenities"><img [src]="amenity.mobileIcon" alt="" style="width: 25px; margin: 0px 5px 5px 0px"></span></p>
                <p class="overlay-info">{{space.description | summary:150}} <a (click)="showSpace(space)">More</a></p>
                <p class="overlay-address">{{space.addressLine1 }}</p>
            </div>
        </div>-->
        <!--<div class="info-icon-wrapper" (click)="changeShortDesc($event)"><i class="fa fa-info"></i></div>-->
    </div>
    <div class="description-block" (click)="showSpace(space)">
        <div class="titles-wrapper"
        >
            <h3>{{space.name | summary: 22}}</h3>
            <p>{{space.addressLine2 | summary: 28}}</p>
        </div
        ><div class="discount-wrapper">
        <i class="fa fa-group"></i>
        <span>{{space.participantCount}}</span>
    </div>
    </div>
</div>

<modal-component [modalComponentData]="modalComponentData"></modal-component>