.space-block-wrapper {
    background: #fff;
    margin: 10px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.2);
}

@media only screen and (min-width: 768px) {
    .space-block-wrapper {
        margin: 10px 5px;
    }
}

.space-block-wrapper > img {
    width: 100%;
}
.space-block-wrapper:hover .info-icon-wrapper {
    background: rgba(255, 255, 255, 1);
    bottom: -35px;
    right: -35px;
}

.space-block-thumb-wrapper {
    cursor: pointer;
    overflow: hidden;
}
.space-block-thumb-wrapper .space-block-des-overlay-active {
    height: 100%;
    border: 1px solid #dedede;
    overflow-y: auto;
}
.space-block-thumb-wrapper:hover .space-block-des-overlay-text-wrapper {
    bottom: 0;
    transform: translate(0%, 0%);
}
.space-block-des-overlay-text-wrapper {
    color: #646464;
}
.space-block-thumb-wrapper {
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.space-block-price-tag {
    position: absolute;
    right: 0;
    display: inline-block;
    top: 0;
    text-align: right;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+1&0+21,0.65+93 */
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.space-block-price-tag > p {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
}
.space-block-price-tag > span {
    font-size: 10px;
    display: block;
    text-align: right;
}
.space-block-price-tag > span > p {
    display: inline-block;
    color: #ffffff;
    margin-bottom: 0;
}
.space-block-des-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
}
.space-block-des-overlay-text-wrapper {
    padding: 10px;
    width: 100%;
    bottom: 50%;
    transform: translate(-50%, 0, -50%);
    -ms-transform: translate(-50%, 0, -50%);
    transition: transform 1s;
}
.space-block-des-overlay-text-wrapper h3 {
    margin: 0;
}
.info-icon-wrapper {
    position: absolute;
    background: 100px;
    overflow: hidden;
    padding: 41px 41px;
    background: #fff;
    border-radius: 50%;
    bottom: -40px;
    right: -40px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    transition: bottom 0.1s linear, right 0.1s linear, background 0.1s linear;
    border: 1px solid #dedede;
}
.info-icon-wrapper i {
    position: absolute;
    left: 27px;
    bottom: 46px;
    font-style: italic;
}
.discount-wrapper {
    text-align: right;
    margin-top: 20px;
    vertical-align: top;
    color: #767676;
    display: inline-block;
    width: 20%
}
.description-block {
    padding: 10px 10px;
    cursor: pointer;
}
.description-block h3 {
    margin: 0;
    padding: 0;
    color: #090913;
    font-size: 18px;
    line-height: 1.4;
}
.description-block p {
    margin-bottom: 0;
}

.titles-wrapper {
    display: inline-block;
    width: 80%;
}
.titles-wrapper > p {
    color: #767676;
    height: 20px;
}
.amenities-wrapper span {
    display: inline-block;
}
.amenities-wrapper span i {
    color: #74aceb;
}
.amenities-wrapper span i:before {
    font-size: 20px;
    margin-left: 0;
    margin-right: 10px;
}
.overlay-info, overlay-address {
    color: #8e8e8e;
}

/** Strike through and discount **/
.discount-price-tag {
    display: inline-block;
    background: url(../../../assets/img/promo/1KB.png) no-repeat;
    position: relative;
    top: 10px;
    padding: 0 8px 3px;
    font-weight: bold;
    width: 92px;
    height: 74px;
    background-size: contain;
}
/* .discount-price-tag:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 65px;
    left: -1px;
    z-index: -1;
    background: #ffdd57;
    transform-origin: top right;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-83deg, 0deg);
} */
.new-price {
    width: 100%;
    font-weight: bold!important;;
    font-size: 18px!important;
}
.strike-through-price {
    text-decoration: line-through;
    color: #faebd7a8!important;
    font-size: 14px!important;
}
.discount-price-tag > div:first-child {
    font-size: 12px;
    position: relative;
    top: 9px;
}
.discount-price-tag > div:nth-child(2n) {
    font-size: 26px;
}
.discount-price-tag > div:last-child {
    position: relative;
    top: -10px;
    color: #000;
    font-weight: 400;
    font-size: 12px;
}