<section class="wrapper-promo">
    <div class="content-wrapper">
        <div class="promo-text-content">
            <h1>Congratulations!</h1>
            You have successfully booked your free co-working space at Likuid Spaces. Keep hustling!
        </div>
    </div>
</section>